<div class="container p-6">
  <div class="flex justify-end gap-4">
    <%= if Bodyguard.permit?(Firmowid.Timetracker, :read_projects, @current_user) do %>
      <.link navigate={~p"/czasosledz/projekty"} class={button_styles(%{color: "grey"})}>
        Zarządzanie
      </.link>
    <% end %>

    <.link
      navigate={~p"/czasosledz"}
      class={classes(["hover:underline", button_styles(%{color: "grey", variant: "outline"})])}
    >
      Czasośledz
    </.link>

    <.link
      navigate={~p"/czasosledz/ewidencja"}
      class={classes(["hover:underline", button_styles(%{color: "grey", variant: "outline"})])}
    >
      Ewidencja
    </.link>
    <.link
      navigate={~p"/czasosledz/projekty/dodaj"}
      class={classes(["hover:underline", button_styles(%{color: "grey", variant: "outline"})])}
    >
      Dodaj projekt
    </.link>
  </div>

  <div class="mt-20 grid gap-6 gap-y-8 grid-cols-[minmax(min-content,1fr),_min-content,_minmax(0,80px),_minmax(min-content,360px)]">
    <div class="grid grid-cols-subgrid col-span-full">
      <form phx-change="select_project" class="grid col-span-2 grid-cols-subgrid">
        <.input
          type="select"
          id="project_selector"
          name="selected_project"
          value={@selected_project && @selected_project.id}
          options={Enum.map(@projects, &{&1.name, &1.id})}
          prompt="Wybierz projekt"
          class="sm:text-base mt-0 h-full"
          color={if !@selected_project, do: "light_grey", else: "light_orange"}
          size="medium"
        />

        <.button
          type="reset"
          name="reset"
          color={if @selected_project, do: "light_grey", else: "light_orange"}
          class="text-nowrap"
        >
          Wszystkie projekty
        </.button>
      </form>
      <.date_picker
        id="selected_date"
        active_months={@active_months}
        selected_date={@selected_date}
        class="-col-start-1"
      />
    </div>

    <div class="grid col-span-2 row-span-2 grid-rows-subgrid grid-cols-subgrid">
      <div class="flex col-span-full h-8 items-center">
        <h2 class="font-bold">
          {if @selected_project,
            do: "Nad tym projektem pracują",
            else: "Wszyscy współpracownicy"}
        </h2>
        <button
          disabled={@is_editing_users}
          phx-click="edit_users"
          class="h-6 w-8 rounded-md hover:bg-greyButtonBg text-darkGrey disabled:text-orangeText inline-flex items-center justify-center ml-1"
        >
          <.icon name="hero-pencil-square-micro" />
        </button>
        <.button
          :if={@is_editing_users}
          phx-click="save_users"
          color="light_orange"
          size="small"
          class="ml-auto"
        >
          Zatwierdź
        </.button>
      </div>
      <div class="space-y-2 grid grid-cols-subgrid col-span-full auto-rows-min">
        <%= cond do %>
          <% @selected_project != nil and @is_editing_users -> %>
            <.render_project_edit project_users={@project_users} users={@users} />
          <% @selected_project -> %>
            <.render_project_user_hours project_user_hours={@project_user_hours} />
          <% true -> %>
            <.render_hours_records hours_records={@hours_records} />
        <% end %>
      </div>
    </div>

    <div :if={@selected_project} class="space-y-4 -col-end-1 row-start-3">
      <div class="space-y-2 border border-greyButtonBg p-4 rounded-md bg-white">
        <%= if !@is_editing_name do %>
          <div class="flex justify-between">
            <h3 class="font-bold text-lg break-all">{@selected_project.name}</h3>
            <button
              phx-click="edit_name"
              class="h-6 w-8 rounded-md hover:bg-greyButtonBg text-darkGrey disabled:text-orangeText inline-flex items-center justify-center ml-1"
            >
              <.icon name="hero-pencil-square-micro" />
            </button>
          </div>
        <% else %>
          <.form
            for={@form}
            phx-submit="save"
            phx-change="validate"
            phx-key="escape"
            phx-window-keydown="cancel"
            phx-click-away="cancel"
            class="flex gap-6 items-start"
          >
            <.input
              field={@form[:name]}
              phx-hook="FocusOnMount"
              color="light_orange"
              class="w-full text-lg font-bold"
            />
            <.button disabled={!Enum.empty?(@form.errors)} color="light_orange" size="small">
              Zatwierdź
            </.button>
          </.form>
        <% end %>
        <p class="text-sm text-darkGrey">
          Projekt utworzony: {Calendar.strftime(@selected_project.inserted_at, "%d.%m.%Y r.")}
        </p>
      </div>

      <div class="space-y-8 border border-greyButtonBg p-4 rounded-md bg-white">
        <h3 class="font-bold">Podsumowanie:</h3>

        <div>
          <p class="mb-3">Przepracowane godziny w miesiącu:</p>
          <p class="text-xl font-bold mb-1">{format_duration(@total_project_seconds)}</p>
          <p class="text-sm text-darkGrey">
            {format_duration_with_days(@total_project_seconds)}
          </p>
        </div>

        <%= if most_active = Enum.max_by(@project_user_hours, & &1.month_hours, fn -> nil end) do %>
          <div>
            <p class="mb-3">Najbardziej aktywny użytkownik:</p>
            <p class="text-xl font-bold mb-1">{format_duration(most_active.month_seconds)}</p>
            <p class="text-sm text-darkGrey">
              {most_active.user.name || most_active.user.email}
            </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
