<div class="container p-6">
  <div class="flex justify-end gap-4">
    <%= if Bodyguard.permit?(Firmowid.Timetracker, :read_projects, @current_user) do %>
      <.link navigate={~p"/czasosledz/projekty"} class={button_styles(%{color: "grey"})}>
        Zarządzanie
      </.link>
    <% end %>

    <.link
      navigate={~p"/czasosledz"}
      class={classes(["hover:underline", button_styles(%{color: "grey", variant: "outline"})])}
    >
      Czasośledz
    </.link>

    <.link
      navigate={~p"/czasosledz/ewidencja"}
      class={classes(["hover:underline", button_styles(%{color: "grey", variant: "outline"})])}
    >
      Ewidencja
    </.link>
  </div>
  
  <div class="mt-20 grid gap-6 gap-y-8 grid-cols-[minmax(min-content,1fr),_min-content,_minmax(0,80px),_minmax(min-content,360px)]">
    <div class="grid grid-cols-subgrid col-span-full">
      <form phx-change="select_project" class="grid col-span-2 grid-cols-subgrid">
        <.input
          type="select"
          id="project_selector"
          name="selected_project"
          value={@selected_project_id}
          options={Enum.map(@projects, &{&1.name, &1.id})}
          prompt="Wybierz projekt"
          class="sm:text-base mt-0 h-full"
          color={if !@selected_project_id, do: "light_grey", else: "light_orange"}
          size="medium"
        />

        <.button
          type="reset"
          name="reset"
          color={if @selected_project_id, do: "light_grey", else: "light_orange"}
          class="text-nowrap"
        >
          Wszystkie projekty
        </.button>
      </form>
      <.date_picker
        id="selected_date"
        active_months={@active_months}
        selected_date={@selected_date}
        class="-col-start-1"
      />
    </div>

    <div class="grid col-span-2 row-span-2 grid-rows-subgrid grid-cols-subgrid">
      <div class="flex col-span-full">
        <h2 class="font-bold">
          {if @selected_project_id,
            do: "Nad tym projektem pracują",
            else: "Wszyscy współpracownicy"}
        </h2>
        <button
          disabled={@editing_project}
          class="h-6 w-8 rounded-md hover:bg-greyButtonBg text-darkGrey disabled:text-orangeText inline-flex items-center justify-center ml-1"
        >
          <.icon name="hero-pencil-square-micro" />
        </button>
        <.button
          :if={@editing_project}
          phx-click="edit"
          color="light_orange"
          size="small"
          class="ml-auto"
        >
          Zatwierdź
        </.button>
      </div>
      <div class="space-y-2 grid grid-cols-subgrid col-span-full auto-rows-min">
        <%= if @selected_project_id do %>
          <%= for user_hours <- @project_user_hours do %>
            <div class="flex items-center bg-white rounded-md p-4 justify-between col-span-full">
              <div class="flex items-center gap-6">
                <.avatar class="size-8 ring-1 ring-greyButtonBg/50">
                  <.avatar_image src={user_hours.user.avatar_url} alt="Avatar" />
                  <.avatar_fallback class="bg-blueBg text-blueText">
                    {String.slice(user_hours.user.email || "", 0, 1) |> String.upcase()}
                  </.avatar_fallback>
                </.avatar>
                <span class="text-darkGrey">
                  {user_hours.user.name || user_hours.user.email}
                </span>
              </div>
              <span>{trunc(user_hours.month_hours)} h</span>
            </div>
          <% end %>

          <div
            :if={Enum.empty?(@project_user_hours)}
            class="py-8 bg-white rounded-md text-center text-darkGrey text-sm col-span-full"
          >
            Brak danych o czasie pracy dla tego projektu.
          </div>
          <.button :if={@editing_project} class="mt-4" color="light_grey" variant="outline">
            Dodaj współpracownika
          </.button>
        <% else %>
          <%= for record <- @hours_records do %>
            <div class="grid grid-cols-subgrid col-span-full">
              <div class="flex items-center bg-white rounded-md p-4 justify-between">
                <div class="flex items-center gap-6">
                  <.avatar class="size-8 ring-1 ring-greyButtonBg/50">
                    <.avatar_image src={record.user.avatar_url} alt="Avatar" />
                    <.avatar_fallback class="bg-blueBg text-blueText">
                      {String.slice(record.user.email || "", 0, 1) |> String.upcase()}
                    </.avatar_fallback>
                  </.avatar>
                  <span class="text-darkGrey">
                    {record.user.name || record.user.email}
                  </span>
                </div>
                <span>{trunc(record.number_of_hours)} h</span>
              </div>
              <div class="bg-white rounded-md p-4 justify-between items-center flex">
                <div class="text-greenText bg-greenBg px-2 py-[5px] rounded-md flex items-center justify-center gap-1">
                  <span class="text-[11px] font-semibold">
                    EWIDENCJA
                  </span>
                  <.icon name="hero-check-micro" />
                </div>
                <a
                  href={~p"/czasosledz/ewidencja/#{record.id}"}
                  download={"Ewidencja_#{record.year}_#{record.month}_#{record.user.name}.pdf"}
                  class="py-1 px-2 transition hover:bg-greyButtonBg rounded-md inline-flex items-center justify-center"
                >
                  <.icon name="hero-arrow-down-tray-micro" class="text-darkGrey" />
                </a>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div
      :if={selected_project = Enum.find(@projects, &(&1.id == @selected_project_id))}
      class="space-y-4 -col-end-1 row-start-3"
    >
      <div class="space-y-2 border border-greyButtonBg p-4 rounded-md bg-white">
        <h3 class="font-bold text-lg">{selected_project.name}</h3>
        <p class="text-sm text-darkGrey">
          Projekt utworzony: {Calendar.strftime(selected_project.inserted_at, "%d.%m.%Y r.")}
        </p>
      </div>

      <div class="space-y-8 border border-greyButtonBg p-4 rounded-md bg-white">
        <h3 class="font-bold">Podsumowanie:</h3>

        <div>
          <p class="mb-3">Przepracowane godziny w miesiącu:</p>
          <p class="text-xl font-bold mb-1">{format_duration(@total_project_seconds)}</p>
          <p class="text-sm text-darkGrey">
            {format_duration_with_days(@total_project_seconds)}
          </p>
        </div>

        <%= if most_active = Enum.max_by(@project_user_hours, & &1.month_hours, fn -> nil end) do %>
          <div>
            <p class="mb-3">Najbardziej aktywny użytkownik:</p>
            <p class="text-xl font-bold mb-1">{format_duration(most_active.month_seconds)}</p>
            <p class="text-sm text-darkGrey">
              {most_active.user.name || most_active.user.email}
            </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
