<div class="container mx-auto p-6">
  <div class="flex justify-end gap-4">
    <.link
      :if={Bodyguard.permit?(Firmowid.Timetracker, :read_projects, @current_user)}
      navigate={~p"/czasosledz/projekty"}
      class={button_styles(%{color: "grey", variant: "outline"})}
    >
      Zarządzanie
    </.link>

    <.link
      navigate={~p"/czasosledz"}
      class={[
        classes([
          "hover:underline",
          button_styles(%{color: "grey", variant: "outline"})
        ])
      ]}
    >
      Czasośledz
    </.link>

    <.link
      navigate={~p"/czasosledz/ewidencja"}
      class={classes(["hover:underline", button_styles(%{color: "grey"})])}
    >
      Ewidencja
    </.link>
  </div>
  <div class="flex max-lg:gap-2 gap-16">
    <div class="h-full">
      <.date_picker
        id="selected_date"
        active_months={@active_months}
        selected_date={@selected_date}
      />
    </div>
  </div>
  <div class="grid gap-6 md:grid-cols-6 mt-8">
    <div class="space-y-2 w-full col-span-4">
      <%= for project <- @projects do %>
        <div class="flex items-center bg-white rounded-md p-4 py-6 justify-between">
          <span>{project.name}</span>
          <span>{format_duration(project.duration)}</span>
        </div>
      <% end %>
    </div>

    <div class="flex flex-col  col-span-2 gap-4">
      <div class="space-y-8 border border-greyButtonBg p-4 rounded-md">
        <div>
          <h3 class="font-bold mb-8">Podsumowanie:</h3>
          <div>
            <p class="mb-3">Przepracowane godziny:</p>
            <p class="text-xl font-bold">{format_duration(trunc(@total_duration))}</p>

            <p
              :if={
                format_duration(trunc(@total_duration)) !=
                  format_duration(trunc(@total_duration), :extended)
              }
              class="text-sm text-darkGrey"
            >
              {format_duration(trunc(@total_duration), :extended)}
            </p>
          </div>
        </div>
        <%= if most_demanding = Enum.max_by(@projects, & &1.duration, fn -> nil end) do %>
          <div>
            <p class="mb-3">Najbardziej wymagający projekt:</p>
            <p class="text-xl font-bold">{format_duration(most_demanding.duration)}</p>
            <p class="text-sm text-darkGrey">{most_demanding.name}</p>
          </div>
        <% end %>
      </div>
      <div
        :if={@total_duration > 3599}
        class="flex flex-col border border-greyButtonBg p-4 rounded-md"
      >
        <div class="space-y-2">
          <div class="flex items-center justify-between gap-2">
            <span class="font-bold">Ewidencja godzin</span>
            <div
              :if={@current_hours_record}
              class="bg-greenBg text-greenText text-xs p-1 rounded-md font-semibold uppercase px-2"
            >
              Wysłano <.icon name="hero-check-micro" class="w-5 h-5" />
            </div>
            <a
              :if={!@current_hours_record && @can_use_hours_records}
              href="https://moj.gov.pl/nforms/signer/upload?xFormsAppName=SIGNER"
              target="_blank"
              class="hover:underline text-sm"
            >
              Podpisz ewidencję
              <.icon name="hero-arrow-top-right-on-square" class="size-4 mb-1" />
            </a>
          </div>
        </div>
        <div :if={!@can_use_hours_records}>
          <p class="text-sm mt-2">
            Aby wypełnić ewidencję godzin musisz ustawić imię i nazwisko oraz datę zatrudnienia w
            <.link navigate={~p"/ustawienia"} class="text-orangeText hover:underline">
              Ustawieniach
            </.link>
          </p>
        </div>
        <div :if={!@current_hours_record && @can_use_hours_records}>
          <form
            id="upload-form"
            phx-change="validate-upload"
            phx-submit="upload"
            class="flex flex-col items-end mt-2"
          >
            <div class="mb-2 w-full">
              <label
                class="mt-1 cursor-pointer flex justify-center rounded-md border-2 border-dashed border-orangeText px-6 py-8"
                phx-drop-target={@uploads.hours_record.ref}
              >
                <div class="flex text-sm text-orangeText">
                  <div :if={@uploads.hours_record.entries |> length == 0} class=" font-medium">
                    Dodaj podpisaną ewidencję godzin
                  </div>
                  <.live_file_input upload={@uploads.hours_record} class="sr-only" />
                  <div :if={@uploads.hours_record.entries |> length > 0}>
                    <%= for entry <- @uploads.hours_record.entries do %>
                      <p>{entry.client_name}</p>
                      <%= for err <- upload_errors(@uploads.hours_record, entry) do %>
                        <p>{error_to_string(err)}</p>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </label>
            </div>
            <div class="flex gap-2">
              <.link
                navigate={~p"/czasosledz/ewidencja/#{@selected_date |> Date.to_iso8601()}/pdf"}
                target="_blank"
                class={
                  classes([
                    button_styles(%{
                      color: "orange",
                      variant:
                        if(@uploads.hours_record.entries |> length == 0,
                          do: "solid",
                          else: "outline"
                        )
                    }),
                    "px-6"
                  ])
                }
              >
                Pobierz
              </.link>
              <.button
                disabled={@uploads.hours_record.entries |> length == 0}
                color="orange"
                variant={
                  if(@uploads.hours_record.entries |> length == 0,
                    do: "outline",
                    else: "solid"
                  )
                }
                class="px-8"
              >
                Wyślij
              </.button>
            </div>
          </form>
        </div>
      </div>
      <div :if={@total_duration <= 3599}>
        <p class="text-sm text-center mt-2">
          Aby wypełnić ewidencję godzin musisz dodać przynajmniej jedną godzinę pracy
        </p>
      </div>
    </div>
  </div>
</div>
