<div class="container mx-auto p-6">
  <div class="flex justify-between">
    <.link navigate={~p"/czasosledz/"} class="my-auto">
      <.icon name="hero-arrow-left-circle-solid" />
    </.link>
    <.date_picker
      id="selected_date"
      active_months={@active_months}
      selected_date={@selected_date}
      class="font-bold px-4 py-2.5 text-darkGrey max-w-[360px] h-full w-full"
    />
  </div>

  <div class="flex justify-between gap-20 md:flex-row flex-col mt-8">
    <div class="space-y-2 w-full col-span-4">
      <%= for project <- @projects do %>
        <div class="flex flex-col divide-y divide-greyButtonBg px-4 rounded-md bg-grey-50">
          <div class="flex items-center py-5 gap-6">
            <span class="mr-auto">{project.name}</span>
            <span>{TimeFormatter.format_duration(project.duration)}</span>
            <button
              phx-click="toggle-project"
              phx-value-id={project.id}
              disabled={project.duration == 0}
              class="disabled:opacity-50 disabled:cursor-not-allowed"
            >
              <.icon :if={project.expanded} name="hero-chevron-up-mini" class="text-darkGrey" />
              <.icon :if={!project.expanded} name="hero-chevron-down-mini" class="text-darkGrey" />
            </button>
          </div>

          <div :if={project.expanded} class="space-y-4 py-4 pr-11">
            <div :for={session <- project.sessions} class="flex justify-between text-sm">
              <span>{session.title}</span>
              <span>{TimeFormatter.format_duration(session.duration)}</span>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="flex flex-col gap-6 max-w-[360px] w-full">
      <div class="p-4 p-4 rounded-sm flex flex-col space-y-8 bg-grey-50">
        <h3 class="font-bold">Podsumowanie:</h3>
        <div>
          <p class="mb-3">Przepracowane godziny:</p>
          <p class="text-xl font-bold">{TimeFormatter.format_duration(@total_duration)}</p>
          <p class="text-sm text-darkGrey">
            {TimeFormatter.format_duration(@total_duration, :with_days)}
          </p>
        </div>
        <div :if={most_demanding = Enum.max_by(@projects, & &1.duration, fn -> nil end)} }>
          <p class="mb-3">Najbardziej wymagający projekt:</p>
          <p class="text-xl font-bold">
            {TimeFormatter.format_duration(most_demanding.duration)}
          </p>
          <p class="text-sm text-darkGrey">{most_demanding.name}</p>
        </div>
      </div>
      <div :if={@total_duration > 3599} class="flex flex-col p-4 rounded-md gap-6 bg-grey-50">
        <div class="flex items-center justify-between gap-2 bg-grey-50">
          <span class="font-bold">Ewidencja godzin</span>

          <%= if @current_hours_record do %>
            <span class="text-xs font-semibold text-greenText bg-greenBg pl-2 pr-1 py-[5px] uppercase rounded-md flex items-center justify-center gap-1">
              WYSŁANO <.icon name="hero-check-micro" />
            </span>
          <% else %>
            <span class="text-xs font-semibold text-darkGrey bg-greyButtonBg pl-2 pr-1 py-[5px] uppercase rounded-md flex items-center justify-center gap-1">
              BRAK <.icon name="hero-x-mark-micro" />
            </span>
          <% end %>
        </div>
        <p :if={!@can_use_hours_records} class="text-sm mt-2">
          Aby wypełnić ewidencję godzin musisz ustawić imię i nazwisko oraz datę zatrudnienia w
          <.link navigate={~p"/ustawienia"} class="text-orangeText hover:underline">
            Ustawieniach
          </.link>
        </p>
        <.live_component
          :if={!@current_hours_record && @can_use_hours_records}
          module={FirmowidWeb.HoursRecordLive.UploadForm}
          id="upload_form"
          selected_date={@selected_date}
          current_user={@current_user}
          total_duration={@total_duration}
          ash_scope={@ash_scope}
        />
      </div>
      <p :if={@total_duration <= 3599} class="text-sm text-center mt-2">
        Aby wypełnić ewidencję godzin musisz dodać przynajmniej jedną godzinę pracy
      </p>
    </div>
  </div>
</div>
