<.header>
  Zaimportowane transakcje
</.header>

<.table
  id="imported_transactions"
  rows={@streams.imported_transactions}
  row_click={
    fn {_transaction_id, imported_transaction} ->
      JS.navigate(~p"/imported_transactions/#{imported_transaction}")
    end
  }
>
  <:col :let={{_transaction_id, imported_transaction}} label="Transaction">
    <%= imported_transaction.transaction_id %>
  </:col>
  <:col :let={{_transaction_id, imported_transaction}} label="Debtor name">
    <%= imported_transaction.debtor_name %>
  </:col>
  <:col :let={{_transaction_id, imported_transaction}} label="Debtor account">
    <%= imported_transaction.debtor_account %>
  </:col>
  <:col :let={{_transaction_id, imported_transaction}} label="Creditor name">
    <%= imported_transaction.creditor_name %>
  </:col>
  <:col :let={{_transaction_id, imported_transaction}} label="Creditor account">
    <%= imported_transaction.creditor_account %>
  </:col>
  <:col :let={{_transaction_id, imported_transaction}} label="Amount">
    <%= imported_transaction.amount %>
  </:col>
  <:col :let={{_transaction_id, imported_transaction}} label="Internal transaction code">
    <%= imported_transaction.internal_transaction_id %>
  </:col>
  <:col :let={{_transaction_id, imported_transaction}} label="Booking date">
    <%= imported_transaction.booking_date %>
  </:col>
  <:col :let={{_transaction_id, imported_transaction}} label="Value date">
    <%= imported_transaction.value_date %>
  </:col>
</.table>
