<div class="relative mx-auto my-4 flex w-full max-w-6xl flex-1 flex-col">
  <.back
    patch={
      Navigation.sales_invoice_creator_path(%{
        szkic_kreatora: @creator_draft_id,
        krok: @step_number - 1
      })
    }
    class="absolute top-[-2.5px] -left-[calc(68px+1.5rem)] flex items-center gap-2 text-sm"
    variant={:circle_chevron}
  >
    Wróć
  </.back>

  <.form
    for={@payment_form}
    phx-change="validate_payment"
    phx-submit="submit_payment"
    class="flex flex-col gap-12 px-9"
  >
    <.render_header invoice={@invoice} step={@step_number} title="Termin i forma płatności" />

    <FirmowidWeb.Invoicing.SalesInvoices.Components.InvoicePayment.invoice_payment
      payment_form={@payment_form}
      invoice={@invoice}
      bank_accounts={@bank_accounts}
      selected_bank_account={@selected_bank_account}
    />

    <div class="mt-12 flex w-full flex-row justify-end">
      <.button
        type="submit"
        phx-disable-with="Przetwarzanie..."
        class="h-11 w-full max-w-44"
        variant="primary"
        accent="turquoise"
        disabled={not @payment_form.source.valid?}
      >
        Dalej
      </.button>
    </div>
  </.form>
</div>
