<div class="relative mx-auto my-4 flex w-full max-w-6xl flex-1 flex-col">
  <.link
    kind="unstyled"
    patch={
      Navigation.sales_invoice_creator_path(%{
        szkic_kreatora: @creator_draft_id,
        krok: @step_number - 1
      })
    }
    class="absolute top-[-2.5px] -left-[calc(68px+1.5rem)] flex items-center gap-2 text-sm"
  >
    <Lucideicons.circle_chevron_left /> Wróć
  </.link>

  <.form
    for={@items_form}
    phx-change="validate_items"
    phx-submit="submit_items"
    id="invoice-form"
    class={[
      "grid gap-x-2",
      if(@current_org.is_vat_payer,
        do: "grid-cols-[min-content_1fr_repeat(7,min-content)]",
        else: "grid-cols-[min-content_1fr_repeat(6,min-content)]"
      )
    ]}
  >
    <div class={[
      "mb-8",
      if(@current_org.is_vat_payer, do: "col-start-2 col-end-9", else: "col-start-2 col-end-8")
    ]}>
      <.render_header
        invoice={@invoice}
        step={@step_number}
        title="Sprzedawane towary/usługi"
      />
    </div>

    <FirmowidWeb.Invoicing.SalesInvoices.Components.InvoiceItems.invoice_items
      invoice={@invoice}
      invoice_changeset={@items_form.source}
      items_field={@items_field}
      item_price_input_modes={@item_price_input_modes}
      gross_item_price_inputs={@gross_item_price_inputs}
      focused_item_price_input_index={@focused_item_price_input_index}
      show_vat={@current_org.is_vat_payer}
    />

    <.button
      type="submit"
      phx-disable-with="Przetwarzanie..."
      class={[
        "mt-20 ml-auto h-11 w-full max-w-44",
        if(@current_org.is_vat_payer, do: "col-start-1 col-end-9", else: "col-start-1 col-end-8")
      ]}
      variant="primary"
      accent="turquoise"
      disabled={not @items_form.source.valid?}
    >
      Dalej
    </.button>
  </.form>
</div>
