<FirmowidWeb.Invoicing.SalesInvoices.Components.InvoiceReview.invoice_review
  invoice={@invoice}
  preview_invoice={@preview_invoice}
  invoice_number={@invoice_number}
  invoice_warnings={@invoice_warnings}
  series_suggestions={@series_suggestions}
  organization={@organization}
  currency_rate={@currency_rate}
  logo_url={@logo_url}
  counterparty_check={@counterparty_check}
  should_send_emails={@should_send_emails}
  ksef_connected?={@ksef_connected?}
>
  <:back>
    <.back
      patch={
        Navigation.sales_invoice_creator_path(%{
          szkic_kreatora: @creator_draft_id,
          krok: @step_number - 1
        })
      }
      class="absolute inset-s-[calc(-68px-1.5rem)] inset-bs-[-2.5px]"
    />
  </:back>
  <:header>
    <.render_header invoice={@invoice} step={@step_number} title="Podgląd faktury" />
  </:header>
</FirmowidWeb.Invoicing.SalesInvoices.Components.InvoiceReview.invoice_review>
