AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key

GO_LIMITLESS_SECRET_ID=your_secret_id
GO_LIMITLESS_SECRET_KEY=your_secret_key

OPENAI_API_KEY=your_openai_api_key
REDUCTO_API_KEY=your_reducto_api_key

DATABASE_URL="postgresql://postgres:postgres@localhost:5433/firmowid?sslmode=prefer"
SECRET_KEY_BASE="REMOVED_PHOENIX_SECRET_KEY_BASE"
