<section class="container mx-auto flex flex-col gap-8 pt-4">
  <.limit_warning check_result={@bank_connections_limit_check} type={:bank_connections} />

  <.header>
    Dodaj konto bankowe
  </.header>

  <div class="flex flex-col gap-1">
    <p class="m-0">
      Za pomocą rozwiązania naszego partnera, GoCardless, połączymy Twoje konto z
      Firmowidem.
    </p>
    <p class="m-0">
      Sprawi to, że transakcje będą automatycznie synchronizowane, a
      faktury automatycznie dopasowywane.
    </p>
  </div>

  <%= if is_nil(@requisition_link) do %>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 items-center">
      <form
        id="instiution-SANDBOXFINANCE_SFIN0000"
        phx-submit="institution_selected"
        phx-value-institution-id="SANDBOXFINANCE_SFIN0000"
        phx-value-institution-transaction-total-days={90}
        phx-hook="Tippy"
        data-tippy-content="Kliknij aby dodać konto bankowe przygotowane przez nas, które zawiera kilkanaście transakcji i pozwala przetestować system."
      >
        <button class="flex flex-col gap-4 p-4 bg-white hover:bg-white/10
          rounded-xl items-center justify-center
          text-center hover:border-black
          transition-all w-full h-full
          border-black/20 border-2">
          <div class="w-full h-full text-center">
            <.icon name="hero-archive-box-x-mark-solid" class="w-20 h-20" />
          </div>
          <p>
            Testowe konto zastępcze
          </p>
        </button>
      </form>
      <%= for instiution <- @available_institutions do %>
        <form
          id={"instiution-#{instiution["id"]}"}
          phx-submit="institution_selected"
          phx-value-institution-id={instiution["id"]}
          phx-value-institution-transaction-total-days={instiution["transaction_total_days"]}
        >
          <button class="flex flex-col gap-4 p-4 bg-white hover:bg-white/10
          rounded-xl items-center justify-center
          text-center hover:border-black
          transition-all w-full h-full
          border-black/20 border-2">
            <img src={instiution["logo"]} class="w-auto h-20" />
            <p>
              {instiution["name"]}
            </p>
          </button>
        </form>
      <% end %>
    </div>
  <% else %>
    <a class="text-xl font-bold underline" href={@requisition_link}>
      Kliknij, aby potwierdzić połączenie
      <.icon name="hero-arrow-right-start-on-rectangle" class="w-8 h-8" />
    </a>
  <% end %>
</section>
