<.header>
  Lista połączeń z bankiem
</.header>

<div class="flex flex-row justify-end gap-4 p-4 w-full">
  <.link class="underline font-bold" navigate={~p"/settings/bank-sync/create"}>
    Dodaj konto bankowe
  </.link>
</div>

<div class="flex flex-row gap-4 p-4 w-full">
  <.table id="requisitions" rows={@requisitions}>
    <:col :let={requisition} label="Status">
      <%= case requisition.status do %>
        <% :accepted -> %>
          <.icon name="hero-check-circle-solid" class="h-5 w-5 text-greenText" />
        <% :pending -> %>
          <.icon name="hero-arrow-path" class="h-5 w-5 text-blueText" />
        <% :rejected -> %>
          <.icon name="hero-x-circle-solid" class="h-5 w-5 text-redText" />
      <% end %>
    </:col>
    <:col :let={requisition} label="Konta bankowe">
      <%= if requisition.bank_accounts == [] do %>
        -
      <% else %>
        <div class="flex flex-row gap-2">
          <%= for bank_account <- requisition.bank_accounts do %>
            <pre><%= bank_account.iban %></pre>
          <% end %>
        </div>
      <% end %>
    </:col>
    <:action :let={requisition}>
      <div class="flex flex-row gap-2">
        <.button
          class="min-w-[145px] border border-darkGrey bg-white !text-darkGrey"
          phx-click="delete"
          phx-value-requisition-id={requisition.id}
        >
          Usuń połączenie
        </.button>
        <.button
          phx-click="sync"
          class="min-w-[200px] phx-click-loading:opacity-50 phx-click-loading:cursor-disabled"
          phx-value-requisition-id={requisition.id}
          disabled={requisition.status != :accepted}
        >
          Synchronizuj
        </.button>
      </div>
    </:action>
  </.table>
</div>
