<div class="container mx-auto p-6">
  <div class="flex justify-between">
    <.back navigate={~p"/czasosledz/"} class="my-auto" variant={:solid} />
    <.month_picker
      id="selected_date"
      active_months={@active_months}
      selected_date={@selected_date}
    />
  </div>

  <div class="mt-8 flex flex-col justify-between gap-20 md:flex-row">
    <div class="col-span-4 w-full space-y-2">
      <%= for project <- @projects do %>
        <div class="bg-grey-50 divide-greyButtonBg flex flex-col divide-y rounded-md px-4">
          <FirmowidWeb.DesignSystem.Components.Button.button
            phx-click="toggle-project"
            type="button"
            phx-value-id={project.id}
            disabled={project.duration == 0}
            variant="unstyled"
            class="flex w-full items-center gap-6 py-5 text-left disabled:cursor-not-allowed disabled:opacity-50"
          >
            <span class="mr-auto">{project.name}</span>
            <span>{TimeFormatter.format_duration(project.duration)}</span>
            <span class="inline-flex items-center justify-center">
              <.icon :if={project.expanded} name="hero-chevron-up-mini" class="text-darkGrey" />
              <.icon :if={!project.expanded} name="hero-chevron-down-mini" class="text-darkGrey" />
            </span>
          </FirmowidWeb.DesignSystem.Components.Button.button>

          <div :if={project.expanded} class="space-y-4 py-4 pr-11">
            <div :for={session <- project.sessions} class="flex justify-between text-sm">
              <span>{session.title}</span>
              <span>{TimeFormatter.format_duration(session.duration)}</span>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="flex w-full max-w-[360px] flex-col gap-6">
      <div class="bg-grey-50 flex flex-col space-y-8 rounded-sm p-4">
        <h3 class="font-bold">Podsumowanie:</h3>
        <div>
          <p class="mb-3">Przepracowane godziny:</p>
          <p class="text-xl font-bold">{TimeFormatter.format_duration(@total_duration)}</p>
          <p class="text-darkGrey text-sm">
            {TimeFormatter.format_duration(@total_duration, :with_days)}
          </p>
        </div>
        <div :if={most_demanding = Enum.max_by(@projects, & &1.duration, fn -> nil end)}>
          <p class="mb-3">Najbardziej wymagający projekt:</p>
          <p class="text-xl font-bold">
            {TimeFormatter.format_duration(most_demanding.duration)}
          </p>
          <p class="text-darkGrey text-sm">{most_demanding.name}</p>
        </div>
      </div>
      <div :if={@total_duration > 3599} class="bg-grey-50 flex flex-col gap-6 rounded-md p-4">
        <div class="bg-grey-50 flex items-center justify-between gap-2">
          <span class="font-bold">Ewidencja godzin</span>

          <%= if @current_hours_record do %>
            <span class="bg-greenBg text-greenText flex items-center justify-center gap-1 rounded-md py-[5px] pr-1 pl-2 text-xs font-semibold uppercase">
              WYSŁANO <.icon name="hero-check-micro" />
            </span>
          <% else %>
            <span class="bg-greyButtonBg text-darkGrey flex items-center justify-center gap-1 rounded-md py-[5px] pr-1 pl-2 text-xs font-semibold uppercase">
              BRAK <.icon name="hero-x-mark-micro" />
            </span>
          <% end %>
        </div>
        <p :if={!@can_use_hours_records} class="mt-2 text-sm">
          Aby wypełnić ewidencję godzin musisz ustawić imię i nazwisko oraz datę zatrudnienia w
          <.link
            kind="unstyled"
            navigate={~p"/ustawienia"}
            class="text-orangeText hover:underline"
          >
            Ustawieniach
          </.link>
        </p>
        <.live_component
          :if={!@current_hours_record && @can_use_hours_records}
          module={FirmowidWeb.HoursRecord.Components.UploadForm}
          id="upload_form"
          selected_date={@selected_date}
          current_user={@current_user}
          total_duration={@total_duration}
          ash_scope={@ash_scope}
        />
      </div>
      <p :if={@total_duration <= 3599} class="mt-2 text-center text-sm">
        Aby wypełnić ewidencję godzin musisz dodać przynajmniej jedną godzinę pracy
      </p>
    </div>
  </div>
</div>
