<div class="mx-8">
  <div class="flex gap-8">
    <p class="text-darkGrey">Rodzaj faktury</p>
    <div class="flex gap-2">
      <%= for {label, value} <- [{"Polska", :poland}, {"Zagraniczna",:foreign}] do %>
        <.button
          phx-click={
            JS.push("submit",
              value: %{
                "invoice" => %{
                  "invoice_type" => value
                }
              }
            )
          }
          class={[
            "h-7 !px-2 !py-1 leading-tight rounded-md border border-greyButtonBg justify-end items-center",
            @invoice.invoice_type == value && "bg-darkGrey text-greyButtonBg",
            @invoice.invoice_type != value && "bg-lightGreyBg !text-darkGrey"
          ]}
        >
          <div class="text-sm font-medium"><%= label %></div>
        </.button>
      <% end %>
    </div>
  </div>
  <p class="text-darkGrey mt-8">Dane podstawowe</p>

  <.form
    for={@form}
    phx-submit="submit"
    class={[
      "flex items-end mt-4 p-4 gap-8 rounded-md",
      @invoice.is_basic_info_confirmed && "border-greyButtonBg border border-solid",
      !@invoice.is_basic_info_confirmed && "bg-greyButtonBg bg-opacity-50"
    ]}
  >
    <%= if @invoice.is_basic_info_confirmed do %>
      <div class="grid w-full grid-cols-5">
        <div class="flex flex-col gap-2">
          <p class="text-sm leading-snug text-darkGrey" style="font-weight: 400;">
            Numer faktury
          </p>
          <p class="text-black">
            <%= @invoice.invoice_number %>
          </p>
        </div>
        <div class="flex flex-col gap-2">
          <p class="text-sm leading-snug text-darkGrey" style="font-weight: 400;">
            Data wystawienia
          </p>
          <p class="text-black">
            <%= @invoice.issue_date |> Calendar.strftime("%d.%m.%Y") %>
          </p>
        </div>
        <div class="flex flex-col gap-2">
          <p class="text-sm leading-snug text-darkGrey" style="font-weight: 400;">
            Data sprzedaży
          </p>
          <p class="text-black">
            <%= @invoice.sale_date |> Calendar.strftime("%d.%m.%Y") %>
          </p>
        </div>
        <div class="flex flex-col gap-2">
          <p class="text-sm leading-snug text-darkGrey" style="font-weight: 400;">
            Sposób płatności
          </p>
          <p class="text-black">
            <%= @invoice.payment_method %> | <%= @invoice.currency %>
          </p>
        </div>
        <div class="flex flex-col gap-2">
          <p class="text-sm leading-snug text-darkGrey" style="font-weight: 400;">
            Termin płatności
          </p>
          <p class="text-black">
            <%= @invoice.due_date |> Calendar.strftime("%d.%m.%Y") %>
          </p>
        </div>
      </div>
      <.button
        type="button"
        phx-click={
          JS.push("submit", value: %{"invoice" => %{"is_basic_info_confirmed" => false}})
        }
        class="bg-lightGreyBg rounded hover:border-darkGrey"
      >
        <.icon name="hero-pencil-square" class="w-6 h-6 text-darkGrey" />
      </.button>
    <% else %>
      <.input field={@form[:invoice_number]} type="text" label="Numer faktury" required />
      <.input field={@form[:issue_date]} type="date" label="Data wystawienia" required />
      <.input field={@form[:sale_date]} type="date" label="Data sprzedaży" required />
      <div class="flex gap-2 items-end">
        <.input field={@form[:payment_method]} type="text" label="Sposób płatności" required />
        <.input
          field={@form[:currency]}
          type="select"
          required
          options={
            case @invoice.invoice_type do
              :poland -> ["PLN"]
              :foreign -> ["EUR"]
            end
          }
        />
      </div>
      <.input field={@form[:due_date]} type="date" label="Termin zapłaty" required />
      <.input type="hidden" class="hidden" field={@form[:is_basic_info_confirmed]} value="true" />
      <.button type="submit" class="bg-blueText font-bold py-2 px-4 rounded">
        Zatwierdź
      </.button>
    <% end %>
  </.form>
  <div class="flex mt-16 gap-16">
    <FirmowidWeb.InvoicesLive.SellerFormLive.render invoice={@invoice} seller_form={@form} />
    <FirmowidWeb.InvoicesLive.BuyerFormLive.render invoice={@invoice} buyer_form={@form} />
  </div>
  <div class="mt-16">
    <.form phx-submit="submit" phx-change="change" for={@form}>
      <div class="flex justify-between">
        <p class="text-darkGrey mb-4">
          Pozycje na fakturze
        </p>
        <%= if !@invoice.are_invoice_items_confirmed do %>
          <.button
            type="button"
            name="invoice[items_sort][]"
            value="true"
            phx-click={JS.dispatch("change")}
            class="bg-greyButtonBg size-8 !p-0"
          >
            <.icon name="hero-plus" class="text-darkGrey h-4 w-4" />
          </.button>
        <% end %>
      </div>
      <%= if @invoice.are_invoice_items_confirmed do %>
        <div class="border flex justify-between items-start border-greyButtonBg rounded-md p-5">
          <table class="w-full">
            <tr class="text-darkGrey  font-normal">
              <th class="text-left max-w-lg font-normal">
                Nazwa towaru/usługi
              </th>
              <th class="pr-2 pb-1  text-left font-normal">
                Ilość
              </th>
              <th class="pr-2 pb-1 text-left font-normal">
                Jednostka
              </th>
              <th class="pr-2  pb-1 text-left font-normal">
                Cena netto
              </th>
              <th class="pr-2 pb-1 text-left font-normal">
                VAT %
              </th>
              <%= if  @invoice.invoice_type == :poland do %>
                <th class="pr-2 pb-1 text-left font-normal">
                  Wartość netto
                </th>
                <th class="pr-2 pb-1 text-left font-normal">
                  Wartość brutto
                </th>
              <% end %>
              <%= if @invoice.invoice_type == :foreign do %>
                <th class="pr-2 pb-1 text-left font-normal">
                  Wartość
                </th>
              <% end %>
            </tr>
            <%= for item <- @invoice.invoice_items do %>
              <tr class="pt-3">
                <td class="pt-3">
                  <%= item.name %>
                </td>
                <td>
                  <%= item.quantity %>
                </td>
                <td>
                  <%= item.unit %>
                </td>
                <td>
                  <%= item.unit_price %>
                </td>
                <td>
                  <%= if  @invoice.invoice_type == :poland do %>
                    <%= item.vat_rate %>%
                  <% end %>
                  <%= if @invoice.invoice_type == :foreign do %>
                    np.
                  <% end %>
                </td>
                <%= if  @invoice.invoice_type == :poland do %>
                  <td>
                    <%= Money.new(
                      :PLN,
                      Decimal.mult(item.quantity, item.unit_price)
                    )
                    |> Money.to_string!(currency_symbol: "") %>
                  </td>
                  <td>
                    <%= Money.new(
                      :PLN,
                      Decimal.mult(item.quantity, item.unit_price)
                      |> Decimal.mult(
                        item.vat_rate
                        |> Decimal.div(100)
                        |> Decimal.add(1)
                      )
                    )
                    |> Money.to_string!(currency_symbol: "") %>
                  </td>
                <% end %>
                <%= if @invoice.invoice_type == :foreign do %>
                  <td>
                    <%= Money.new(
                      @invoice.currency,
                      Decimal.mult(item.quantity, item.unit_price)
                    )
                    |> Money.to_string!(currency_symbol: "") %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </table>
          <.button
            type="button"
            phx-click={
              JS.push("submit", value: %{"invoice" => %{"are_invoice_items_confirmed" => false}})
            }
            class="bg-lightGreyBg rounded hover:border-darkGrey"
          >
            <.icon name="hero-pencil-square" class="w-6 h-6 text-darkGrey" />
          </.button>
        </div>
      <% else %>
        <div class="bg-greyButtonBg bg-opacity-50 p-4 rounded-md">
          <div class="grid grid-cols-[repeat(13,_1fr)] gap-4">
            <div class="col-span-2 text-darkGrey">
              Nazwa towaru/usługi
            </div>
            <div class="col-span-1 text-darkGrey">
              Ilość
            </div>
            <div class="col-span-2 text-darkGrey">
              Jednostka
            </div>
            <div class="col-span-2 text-darkGrey">
              Cena netto
            </div>
            <div class="col-span-1 text-darkGrey">
              VAT %
            </div>
            <%= if  @invoice.invoice_type == :poland do %>
              <div class="col-span-2 text-darkGrey">
                Wartość netto
              </div>
              <div class="col-span-2 text-darkGrey">
                Wartość brutto
              </div>
            <% end %>
            <%= if @invoice.invoice_type == :foreign do %>
              <div class="col-span-4 text-darkGrey">
                Wartość
              </div>
            <% end %>

            <.inputs_for :let={item} field={@form[:invoice_items]}>
              <input type="hidden" name="invoice[items_sort][]" value={item.index} />
              <div class="col-span-2">
                <.input field={item[:name]} type="text" required />
              </div>
              <div class="col-span-1">
                <.input field={item[:quantity]} type="number" required />
              </div>
              <div class="col-span-2">
                <.input field={item[:unit]} type="text" required />
              </div>
              <div class="col-span-2">
                <.input field={item[:unit_price]} type="number" required />
              </div>
              <div class="col-span-1">
                <%= if  @invoice.invoice_type == :poland do %>
                  <.input field={item[:vat_rate]} type="number" required />
                <% end %>
                <%= if @invoice.invoice_type == :foreign do %>
                  <.input name={item[:vat_rate].name} type="text" disabled readonly value="np." />
                <% end %>
              </div>
              <%= if  @invoice.invoice_type == :poland do %>
                <div class="col-span-2">
                  <.input
                    type="text"
                    name={"net_value_#{item.index}"}
                    readonly
                    value={
                      Money.new(
                        :PLN,
                        Decimal.mult(item[:quantity].value, item[:unit_price].value)
                      )
                      |> Money.to_string!(currency_symbol: "")
                    }
                  />
                </div>
                <div class="col-span-2">
                  <.input
                    type="text"
                    name={"gross_value_#{item.index}"}
                    readonly
                    value={
                      Money.new(
                        :PLN,
                        Decimal.mult(item[:quantity].value, item[:unit_price].value)
                        |> Decimal.mult(
                          item[:vat_rate].value
                          |> Decimal.div(100)
                          |> Decimal.add(1)
                        )
                      )
                      |> Money.to_string!(currency_symbol: "")
                    }
                  />
                </div>
              <% end %>
              <%= if @invoice.invoice_type == :foreign do %>
                <div class="col-span-4">
                  <.input
                    type="text"
                    class="max-w-56"
                    name={"gross_value_#{item.index}"}
                    readonly
                    value={
                      Money.new(
                        @invoice.currency,
                        Decimal.mult(item[:quantity].value, item[:unit_price].value)
                      )
                      |> Money.to_string!(currency_symbol: "")
                    }
                  />
                </div>
              <% end %>
              <.button
                type="button"
                name="invoice[items_drop][]"
                value={item.index}
                phx-click={JS.dispatch("change")}
                class="col-span-1 bg-redBg self-center border-redBg hover:border hover:border-redText hover:border-solid hover:bg-redBg size-8 ml-4 mt-2 !p-0"
              >
                <.icon name="hero-trash" class="w-4 h-4 text-redText" />
              </.button>
            </.inputs_for>
          </div>
          <input type="hidden" name="invoice[items_drop][]" />
          <div class="flex justify-between mt-6">
            <.button
              type="button"
              name="invoice[items_sort][]"
              value="true"
              phx-click={JS.dispatch("change")}
              class="border-greyButtonBg border h-8 flex items-center gap-1 hover:bg-greyButtonBg !text-darkGrey text-sm bg-lightGreyBg font-medium uppercase !px-2 !py-1"
            >
              Dodaj pozycję <.icon name="hero-plus" class="text-darkGrey h-4 w-4" />
            </.button>
            <.input type="hidden" field={@form[:are_invoice_items_confirmed]} value="true" />
            <.button type="submit" class="bg-blueText font-bold py-2 px-4 rounded">
              Zatwierdź
            </.button>
          </div>
        </div>
      <% end %>
    </.form>
    <div class="flex justify-between">
      <.form phx-change="submit" for={@form} class="mt-4">
        <%= if  @invoice.invoice_type == :poland do %>
          <.input field={@form[:is_cash_account]} type="checkbox" label="Metoda kasowa" />
        <% end %>
        <%= if  @invoice.invoice_type == :foreign do %>
          <.input
            field={@form[:is_reverse_charge]}
            type="checkbox"
            label="Odwrotne obciążenie i nieopodatkowanie VAT"
          />
        <% end %>
      </.form>
      <div class="bg-greyButtonBg w-96 rounded-md px-4 py-3 mt-10 bg-opacity-30 ml-auto">
        <div class="flex flex-col justify-end">
          <%= if  @invoice.invoice_type == :poland do %>
            <div class="flex justify-between items-center mt-2">
              <span class="text-sm text-darkGrey">Suma netto</span>
              <span>
                <%= Money.new(
                  @invoice.currency,
                  @invoice |> Firmowid.Invoices.Invoice.get_net_value()
                ) %>
              </span>
            </div>
            <div class="flex justify-between mt-2 items-center">
              <span class="text-sm text-darkGrey">Suma VAT</span>
              <span>
                <%= Money.new(
                  @invoice.currency,
                  @invoice |> Firmowid.Invoices.Invoice.get_vat_value()
                ) %>
              </span>
            </div>
            <div class="flex justify-between items-center mt-3">
              <span class="text-sm text-darkGrey">Suma brutto</span>
              <span class="font-bold text-xl">
                <%= Money.new(
                  @invoice.currency,
                  @invoice |> Firmowid.Invoices.Invoice.get_gross_value()
                ) %>
              </span>
            </div>
          <% end %>
          <%= if  @invoice.invoice_type == :foreign do %>
            <%= if @invoice.currency != "PLN" do %>
              <div class="flex gap-2 justify-between items-center">
                <div class="flex flex-col">
                  <span class="text-sm">Kurs 1 <%= @invoice.currency %></span>
                  <span class="text-sm">
                    Przewalutowanie wg NBP <br /> z dnia:
                    <span class="font-bold">
                      <%= @currency_rate.effective_date
                      |> Date.from_iso8601!()
                      |> Calendar.strftime("%d.%m.%Y") %>
                    </span>
                  </span>
                </div>
                <span>
                  <%= @currency_rate.rate
                  |> Decimal.from_float()
                  |> Decimal.round(4) %> zł
                </span>
              </div>
            <% end %>
            <div class="flex justify-between items-center mt-3">
              <span class="text-sm">Suma <%= @invoice.currency %>:</span>
              <span class="font-bold text-xl">
                <%= Money.new(
                  @invoice.currency,
                  @invoice |> Firmowid.Invoices.Invoice.get_net_value()
                ) %>
              </span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="flex justify-end items-center gap-6 mb-8 mt-4">
      <%= if not is_nil(@invoice_id) do %>
        <a
          href={"/invoices/#{@invoice_id}/download"}
          download="fakturka.pdf"
          class="hover:text-darkGrey transition-colors"
        >
          Pobierz
        </a>
      <% end %>
      <.button class="bg-blueText w-40 font-bold py-2 px-4 rounded">
        Zapisz fakturę
      </.button>
    </div>
  </div>
</div>
