<div :if={not @zero_state?} class="mx-auto flex w-full max-w-7xl flex-1 flex-col gap-6 pb-4">
  <div class="bg-lightGreyBg sticky top-10.5 z-10 flex flex-col gap-6 py-4">
    <div class="flex items-center justify-between gap-4">
      <form class="flex gap-4" phx-submit="search">
        <div class="bg-lightGreyBg border-greyButtonBg flex h-11 w-[360px] items-center gap-2 rounded-lg border p-1 focus-within:ring-2">
          <Lucideicons.search class="text-grey-500 size-6 shrink-0" />
          <.input
            type="text"
            name="szukaj"
            value={@search}
            placeholder="Wyszukaj kontrahenta"
            phx-change="search"
            phx-debounce="300"
            input_class="h-full bg-transparent border-none py-0 px-1 text-sm"
            class="w-full border-transparent focus:border-none focus:ring-0 focus:outline-hidden"
          />
        </div>
      </form>

      <.link
        navigate={
          Navigation.counterparty_new_path(%{
            powrot_do: Navigation.counterparties_path(@live_action, @params)
          })
        }
        kind="button"
        variant="special"
      >
        <Lucideicons.plus /> Dodaj kontrahenta
      </.link>
    </div>

    <div class="flex flex-wrap items-center justify-between gap-4">
      <div class="flex flex-wrap items-center gap-6">
        <div class="flex items-center gap-4">
          <.link
            :for={
              {path, live_action, label} <- [
                {Navigation.counterparties_path(:index, @params), :index, "Aktywni"},
                {Navigation.counterparties_path(:archive, @params), :archive, "Zarchiwizowani"}
              ]
            }
            patch={path}
            kind="button"
            variant="ghost"
            size="small"
            class={
              if(@live_action == live_action, do: "bg-grey-700 hover:text-grey-900 text-white")
            }
          >
            {label}
          </.link>
        </div>

        <div class="bg-greyButtonBg mx-2 h-6 w-px"></div>

        <div class="flex items-center gap-3">
          <span class="text-darkGrey/70 text-sm font-normal">Filtry:</span>

          <div class="flex flex-wrap items-center gap-2">
            <.button
              type="button"
              variant="filter"
              data-active={@type_filter == :individual}
              phx-click="toggle_type"
              phx-value-typ={Navigation.encode_counterparty_type(:individual)}
            >
              <Lucideicons.user class="size-4" /> Osoby fizyczne
            </.button>

            <.button
              type="button"
              variant="filter"
              data-active={@type_filter == :company}
              phx-click="toggle_type"
              phx-value-typ={Navigation.encode_counterparty_type(:company)}
            >
              <Lucideicons.building_2 class="size-4" /> Firma
            </.button>
          </div>
        </div>
      </div>
      <.switch
        class="ml-auto flex-row-reverse gap-4 select-none"
        label="Wartość współpracy"
        field={@form[:view_cooperation_value]}
        phx-click="toggle_cooperation_value_view"
      />
    </div>
  </div>

  <%= cond do %>
    <% @counterparties_empty? -> %>
      <div class="border-grey-200 flex flex-1 flex-col items-center justify-center gap-4 rounded-lg border p-6">
        <%= if @search != "" or not is_nil(@type_filter) do %>
          <Lucideicons.file_x class="text-grey-300 size-26" />
          <p class="text-grey-700 text-sm/snug">Nie znaleźliśmy szukanego kontrahenta.</p>
        <% else %>
          <Lucideicons.building_2 class="text-grey-300 size-26" />
          <p class="text-grey-700 text-sm/snug">
            {case @live_action do
              :index -> "Nie masz aktywnych kontrahentów do wyświetlenia."
              :archive -> "Nie masz zarchiwizowanych kontrahentów do wyświetlenia."
            end}
          </p>
        <% end %>
      </div>
    <% @live_action == :index -> %>
      <div
        id="counterparties-list"
        data-view={@view}
        class={[
          "group grid gap-x-6 gap-y-2",
          if(@view == :cooperation_value,
            do: "grid-cols-[3fr_1.2fr_1.2fr_min-content]",
            else: "grid-cols-[3fr_1.2fr_min-content]"
          )
        ]}
      >
        <div
          id="counterparties-list-header-active"
          class="bg-lightGreyBg text-grey-700 sticky top-41 z-1 col-span-full grid grid-cols-subgrid px-4 pb-3 text-sm/snug transition-all duration-75"
          phx-hook="ScrollStyle"
          data-classes="border-b-4 border-solid border-darkGrey/40 pt-3"
          data-scroll-offset="90"
        >
          <p>Kontrahent</p>

          <p class="text-right">Identyfikator</p>

          <%= if @view == :cooperation_value do %>
            <p class="text-right">Wartość współpracy</p>
          <% end %>
        </div>

        <div
          id="counterparties-stream-active"
          phx-update="stream"
          class="col-span-full grid grid-cols-subgrid gap-y-2"
        >
          <div
            :for={{dom_id, counterparty} <- @streams.counterparties}
            id={dom_id}
            class="col-span-full grid h-14 grid-cols-subgrid items-center rounded-sm bg-white px-4 py-3"
          >
            <div class="flex items-center gap-4 truncate">
              <.counterparty_icon counterparty={counterparty} />
              <.link
                kind="unstyled"
                navigate={
                  Navigation.counterparty_path(counterparty.id, %{
                    powrot_do: Navigation.counterparties_path(@live_action, @params)
                  })
                }
                class="truncate hover:underline"
              >
                {counterparty.display_label}
              </.link>
            </div>
            <p class="text-grey-700 text-right">
              <.counterparty_identifier counterparty={counterparty} />
            </p>
            <p class="text-grey-700 hidden text-right group-data-[view=cooperation\_value]:block">
              {cooperation_value_cell(counterparty.cooperation_value)}
            </p>
            <.link
              kind="unstyled"
              navigate={
                Navigation.counterparty_path(counterparty.id, %{
                  powrot_do: Navigation.counterparties_path(@live_action, @params)
                })
              }
              class="hover:text-grey-700 text-grey-500"
            >
              <Lucideicons.chevron_right class="size-4" />
            </.link>
          </div>
        </div>
      </div>
    <% true -> %>
      <div
        data-view={@view}
        class={[
          "group grid gap-x-6 gap-y-2",
          if(@view == :cooperation_value,
            do: "grid-cols-[3fr_1.2fr_1fr_1.2fr_min-content]",
            else: "grid-cols-[3fr_1.2fr_1fr_min-content]"
          )
        ]}
        id="counterparties-list"
      >
        <div
          id="counterparties-list-header-archive"
          class="bg-lightGreyBg text-grey-700 sticky top-41 z-1 col-span-full grid grid-cols-subgrid px-4 pb-3 text-sm/snug transition-all duration-75"
          phx-hook="ScrollStyle"
          data-classes="border-b-4 border-solid border-darkGrey/40 pt-3"
          data-scroll-offset="90"
        >
          <p>Kontrahent</p>
          <p class="text-right">Identyfikator</p>
          <p class="text-right text-nowrap">Data archiwizacji</p>
          <%= if @view == :cooperation_value do %>
            <p class="text-right">Wartość współpracy</p>
          <% end %>
        </div>

        <div
          id="counterparties-stream-archive"
          phx-update="stream"
          class="col-span-full grid grid-cols-subgrid gap-y-2"
        >
          <div
            :for={{dom_id, counterparty} <- @streams.counterparties}
            id={dom_id}
            class="col-span-full grid h-14 grid-cols-subgrid items-center rounded-sm bg-white px-4 py-3"
          >
            <div class="flex items-center gap-4 truncate">
              <.counterparty_icon counterparty={counterparty} />
              <.link
                kind="unstyled"
                navigate={
                  Navigation.counterparty_path(counterparty.id, %{
                    powrot_do: Navigation.counterparties_path(@live_action, @params)
                  })
                }
                class="truncate hover:underline"
              >
                {counterparty.display_label}
              </.link>
            </div>
            <p class="text-grey-700 text-right">
              <.counterparty_identifier counterparty={counterparty} />
            </p>
            <p class="text-grey-700 text-right">
              {Calendar.strftime(counterparty.archived_at, "%d.%m.%Y")}
            </p>
            <p class="text-grey-700 hidden text-right group-data-[view=cooperation\_value]:block">
              {cooperation_value_cell(counterparty.cooperation_value)}
            </p>
            <div class="flex items-center gap-3 justify-self-end">
              <.button
                type="button"
                variant="secondary"
                size="small"
                phx-click="unarchive_counterparty"
                phx-value-id={counterparty.id}
              >
                Przywróć
              </.button>
              <.link
                kind="unstyled"
                navigate={
                  Navigation.counterparty_path(counterparty.id, %{
                    powrot_do: Navigation.counterparties_path(@live_action, @params)
                  })
                }
                class="hover:text-grey-700 text-grey-500"
              >
                <Lucideicons.chevron_right class="size-4" />
              </.link>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>

<div
  :if={@zero_state?}
  class="border-grey-200 mx-auto flex size-full max-w-7xl flex-1 flex-col items-center justify-center rounded-lg border p-8"
>
  <Lucideicons.building_2 class="text-grey-300 size-26" size={48} />

  <p class="text-grey-700 mt-4 text-center text-sm/snug text-balance">
    Nie masz jeszcze żadnych kontrahentów. Dodaj pierwszego, klikając poniżej.
  </p>

  <.link
    navigate={
      Navigation.counterparty_new_path(%{
        powrot_do: Navigation.counterparties_path(@live_action, @params)
      })
    }
    kind="button"
    variant="secondary"
    class="mt-6"
  >
    <Lucideicons.plus /> Dodaj kontrahenta
  </.link>
</div>
