<div class="mx-auto flex w-full max-w-7xl flex-1 flex-col gap-8">
  <.form for={@form} phx-change="validate" phx-submit="save" class="flex flex-col gap-8 pt-3">
    <div class="flex flex-row items-start justify-between">
      <div class="space-y-1">
        <p :if={@live_action == :edit} class="text-grey-500 text-sm/snug">
          {@counterparty.display_label}
        </p>
        <p class="text-2xl/tight font-medium">
          {case @live_action do
            :new -> "Nowy kontrahent"
            :edit -> "Edycja kontrahenta"
          end}
        </p>
      </div>

      <div class="flex flex-row gap-4">
        <.link
          navigate={@cancel_path}
          kind="button"
          variant="outline"
        >
          Anuluj
        </.link>

        <.button variant="tertiary">
          {case @live_action do
            :new -> "Dodaj kontrahenta"
            :edit -> "Zapisz zmiany"
          end}
        </.button>
      </div>
    </div>

    <div class="grid grid-rows-2 gap-16 md:grid-cols-2 md:grid-rows-1">
      <section class="flex flex-col gap-8">
        <div class="flex flex-col gap-4">
          <h2 class="text-grey-900 mb-6 text-base/tight font-medium">Informacje podstawowe</h2>
          <div class="grid grid-cols-[min-content_1fr] items-center gap-x-5 gap-y-3">
            <label class="text-grey-700 text-sm text-nowrap" for={@form[:type].id}>Typ</label>
            <.input
              field={@form[:type]}
              type="select"
              options={[{"Firma", :company}, {"Osoba fizyczna", :individual}]}
              new={true}
            />

            <label class="text-grey-700 text-sm text-nowrap" for={@form[:display_name].id}>
              Nazwa wyświetlana
            </label>
            <.input field={@form[:display_name]} new={true} />

            <%= if to_string(@form[:type].value) == "company" do %>
              <label class="text-grey-700 text-sm text-nowrap" for={@form[:tax_id].id}>
                NIP / ID
              </label>
              <.input field={@form[:tax_id]} new={true} />

              <label class="text-grey-700 text-sm text-nowrap" for={@form[:full_name].id}>
                Pełna nazwa
              </label>
              <.input field={@form[:full_name]} new={true} />
            <% else %>
              <label class="text-grey-700 text-sm text-nowrap" for={@form[:given_name].id}>
                Imię
              </label>
              <.input field={@form[:given_name]} new={true} />

              <label class="text-grey-700 text-sm text-nowrap" for={@form[:surname].id}>
                Nazwisko
              </label>
              <.input field={@form[:surname]} new={true} />

              <label class="text-grey-700 text-sm text-nowrap" for={@form[:pesel].id}>PESEL</label>
              <.input field={@form[:pesel]} new={true} />
            <% end %>
          </div>
        </div>
        <div class="flex flex-col gap-4">
          <h2 class="text-grey-900 mb-6 text-base/tight font-medium">Dodatkowe</h2>
          <div class="grid grid-cols-[min-content_1fr] items-start gap-x-5 gap-y-3">
            <label class="text-grey-700 text-sm text-nowrap" for={@form[:description].id}>
              Notatki
            </label>
            <.input field={@form[:description]} type="textarea" new={true} class="h-24" />
          </div>
        </div>
      </section>

      <section>
        <div class="flex flex-col gap-4">
          <h2 class="text-grey-900 mb-6 text-base/tight font-medium">
            Dane kontaktowe i adresowe
          </h2>
          <div class="grid grid-cols-[min-content_1fr] items-center gap-x-5 gap-y-3">
            <label class="text-grey-700 text-sm text-nowrap" for={@form[:email].id}>Email</label>
            <.input field={@form[:email]} new={true} />

            <label class="text-grey-700 text-sm text-nowrap" for={@form[:phone].id}>Telefon</label>
            <.input field={@form[:phone]} new={true} />

            <label class="text-grey-700 text-sm text-nowrap" for={@form[:address].id}>
              Adres
            </label>
            <.input
              field={@form[:address]}
              type="textarea"
              new={true}
              placeholder="Ulica, nr budynku i/lub mieszkania, kod pocztowy, miasto"
            />

            <label class="text-grey-700 text-sm text-nowrap" for={@form[:country].id}>Kraj</label>
            <.input
              field={@form[:country]}
              type="select"
              options={@country_options}
              prompt="Wybierz kraj"
              required
              new={true}
            />

            <label class="text-grey-700 text-sm" for={@form[:is_different_mail_address].id}>Inny adres korespondencyjny</label>
            <.switch
              field={@form[:is_different_mail_address]}
              class="w-12 gap-3!"
              color="turquoise"
            />

            <%= if Phoenix.HTML.Form.normalize_value("switch", @form[:is_different_mail_address].value) do %>
              <label class="text-grey-700 text-sm" for={@form[:mail_address].id}>
                Adres
              </label>
              <.input
                field={@form[:mail_address]}
                type="textarea"
                new={true}
              />
              <label class="text-grey-700 text-sm" for={@form[:mail_country].id}>
                Kraj
              </label>
              <.input
                field={@form[:mail_country]}
                type="select"
                options={@country_options}
                prompt="Wybierz kraj"
                new={true}
              />
            <% end %>
          </div>
        </div>
      </section>
    </div>
  </.form>
</div>
