<div class="mx-auto my-4 grid w-full max-w-7xl grid-cols-[max-content_1fr] grid-rows-[repeat(2,min-content)] gap-x-10">
  <.link
    kind="unstyled"
    navigate={Navigation.employees_path(:index, %{miesiac: @projects_filter_date})}
    class="mb-8 flex items-center gap-2 justify-self-start"
  >
    <.icon name="hero-arrow-left-circle-solid" class="size-8" />
    <span class="text-darkGrey">Pracownicy</span>
  </.link>

  <div class="col-start-2 flex items-end justify-between gap-4">
    <div class="-mb-2 flex gap-6 px-6">
      <.tab
        patch={~p"/zarzadzanie/pracownicy/#{@employee.id}"}
        active={@live_action == :projects}
      >
        Projekty i ewidencja
      </.tab>

      <.tab
        patch={~p"/zarzadzanie/pracownicy/#{@employee.id}/dokumenty"}
        active={@live_action == :documents}
      >
        Dokumenty
      </.tab>
    </div>

    <div class="mb-8 flex min-h-12 items-center justify-end gap-4">
      <span
        :if={@employee.archived_at}
        class="bg-grey-200 text-grey-700 inline-flex items-center gap-2 rounded-full px-4 py-2 text-sm/snug font-normal"
      >
        <Lucideicons.archive class="size-4" /> zarchiwizowany
      </span>

      <.button
        :if={!@employee.archived_at}
        type="button"
        variant="special"
        phx-click="archive_employee"
      >
        <.icon name="hero-archive-box-mini" class="size-5" /> Archiwizuj
      </.button>

      <.button
        :if={@employee.archived_at}
        type="button"
        variant="special"
        phx-click="unarchive_employee"
      >
        <.icon name="hero-arrow-uturn-left-mini" class="size-5" /> Przywróć pracownika
      </.button>
    </div>
  </div>

  <.card class="row-start-2 min-h-[172px] w-full max-w-[95%]">
    <div class="flex gap-3">
      <.avatar class="ring-greyButtonBg/50 size-20 shrink-0 ring-1">
        <.avatar_image
          :if={Map.get(@employee.avatar_blob || %{}, :url)}
          src={Map.get(@employee.avatar_blob || %{}, :url)}
          alt="Avatar"
        />
        <.avatar_fallback class="bg-blueBg text-blueText text-2xl">
          {to_string(get_employee_display_name(@employee) || "")
          |> String.slice(0, 1)
          |> String.upcase()}
        </.avatar_fallback>
      </.avatar>
      <div>
        <h2 class="text-lg font-bold">{get_employee_display_name(@employee)}</h2>
        <div
          :if={@employee.slack_id != nil}
          class="text-darkGrey flex items-center gap-2 text-sm"
        >
          <img src="/images/slack.png" alt="slack logo" width={24} height={24} />
          <.link
            kind="unstyled"
            external={"#{get_employee_slack_url(@employee)}/team/#{@employee.slack_id}"}
            class="hover:border-darkGrey border-b border-transparent transition-colors"
          >
            napisz na Slacku
          </.link>
        </div>
      </div>
    </div>

    <.user_card_info :if={@employee.phone != nil} label="Numer telefonu">
      {@employee.phone}
    </.user_card_info>
    <.user_card_info label="Adres e-mail">{@employee.email}</.user_card_info>
    <.user_card_info :if={@employee.bank_account_number != nil} label="Numer konta bankowego">
      <span>{@employee.bank_account_number}</span>
      <.button
        id="copy-bank-account-number"
        phx-hook="CopyToClipboard"
        phx-click="copy-bank-account-number"
        phx-value-number={@employee.bank_account_number}
        type="button"
        variant="unstyled"
        class={[
          "text-darkGrey inline-flex h-6 w-7 items-center justify-center self-center justify-self-end rounded-[3px]",
          "hover:border-darkGrey border border-transparent",
          "active:bg-darkGrey active:text-lightGreyBg",
          "transition-all duration-300"
        ]}
      >
        <.icon name="hero-document-duplicate" class="size-5" />
      </.button>
    </.user_card_info>

    <.user_card_info :if={not Enum.empty?(@employee.projects)} label="Projekty">
      <div class="mt-2 flex max-w-sm flex-wrap gap-2 text-sm/tight">
        <.link
          :for={project <- @employee.projects}
          kind="unstyled"
          navigate={Navigation.project_path(project.id, %{miesiac: @projects_filter_date})}
          class="bg-turquoise-200 hover:bg-turquoise-300 hover:text-turquoise-800 text-turquoise-700 rounded-full px-4 py-1 text-sm/snug transition"
        >
          {project.name}
        </.link>
      </div>
    </.user_card_info>

    <span
      :if={@employee.birthday != nil}
      class="text-grey-700 mt-auto inline-flex items-center gap-2 text-sm/snug"
    >
      {TimeFormatter.format_date(@employee.birthday, "d MMMM")}
      <.icon name="hero-cake" class="size-5" />
    </span>
  </.card>

  <div :if={false} class="col-start-2 flex gap-10 self-end px-6">
    <.link
      :for={
        {path, label, action} <-
          [
            {~p"/zarzadzanie/pracownicy/#{@employee.id}", "Projekty i ewidencja", :projects}
          ]
      }
      kind="unstyled"
      navigate={path}
      class={[
        "phx-click-loading:opacity-50 text-darkGrey rounded-t-md p-3 font-medium transition-all",
        "shadow shadow-transparent hover:bg-white hover:text-black hover:shadow-black/10",
        @live_action == action &&
          "bg-grey-50 text-black shadow-black/10"
      ]}
    >
      {label}
    </.link>
  </div>

  <div class="relative z-10 col-start-2 row-start-2 w-full space-y-6">
    <div
      :if={@employee.archived_at}
      class="bg-grey-200 text-grey-700 flex flex-row items-center gap-4 rounded-lg p-4 shadow-[0px_1px_6px_0px_rgba(0,0,0,0.1)]"
    >
      <Lucideicons.info class="size-4" />

      <p class="text-sm/snug text-balance">
        Pracownik został zarchiwizowany {Firmowid.Cldr.Date.to_string!(@employee.archived_at,
          format: :long
        )}. Konto jest wyłączone do czasu przywrócenia przez administratora.
      </p>
    </div>

    <%= case @live_action do %>
      <% :projects -> %>
        <.live_component
          module={FirmowidWeb.Management.Components.ProjectsTab}
          id="projects-tab"
          user={@employee}
          date={@projects_filter_date}
          active_months={@active_months}
          scope={@ash_scope}
        />
      <% :documents -> %>
        <.live_component
          module={FirmowidWeb.Management.Components.DocumentsTab}
          id="documents-tab"
          employee_id={@employee.id}
          scope={@ash_scope}
        />
    <% end %>
  </div>
</div>
