<div class="mx-auto flex w-full max-w-7xl flex-col gap-6 pb-4">
  <% # top -> collapsed navbar height (56px) / TODO: refactor %>
  <div class="bg-lightGreyBg sticky top-14 z-10 flex flex-col gap-4 py-3">
    <div class="flex items-center justify-between">
      <form class="flex gap-4" phx-submit="search">
        <.month_picker
          id="month"
          selected_date={@selected_date}
          active_months={@active_months}
        />

        <div
          id="search-container"
          data-expanded={to_string(@search != "")}
          class="bg-greyButtonBg group flex min-w-10 items-center justify-center rounded-lg transition-shadow data-[expanded=true]:focus-within:ring-2"
        >
          <.input
            type="text"
            name="q"
            value={@search}
            placeholder="Szukaj pracownika"
            phx-change="search"
            phx-debounce="300"
            input_class="py-0 px-1 bg-transparent border-none"
            class="w-0 border-transparent px-0 opacity-0 transition-[width,opacity,padding] duration-200 ease-in-out group-data-[expanded=true]:w-64 group-data-[expanded=true]:px-2 group-data-[expanded=true]:py-1 group-data-[expanded=true]:opacity-100 focus:border-none focus:ring-0 focus:outline-hidden"
          />
          <.button
            type="button"
            phx-click={
              JS.toggle_attribute({"data-expanded", "true", "false"}, to: "#search-container")
              |> JS.focus(to: "#search-container input")
            }
            variant="secondary"
          >
            <Lucideicons.search />
          </.button>
        </div>
      </form>

      <div class="flex gap-4">
        <.link
          :if={@can_export_csv}
          kind="button"
          variant="secondary"
          size="big"
          download
          redirect={
            ~p"/czasosledz/projekty/csv?month=#{@selected_date.month}&year=#{@selected_date.year}"
          }
        >
          <Lucideicons.file_text /> Raport wypłat
        </.link>
        <.link
          navigate={~p"/zaproszenia"}
          kind="button"
          variant="special"
        >
          <.icon name="hero-plus-mini" class="size-6" /> Dodaj pracownika
        </.link>
      </div>
    </div>

    <div class="flex gap-4">
      <.link
        :for={
          {path, live_action, label} <- [
            {~p"/zarzadzanie/pracownicy?#{@params}", :index, "Aktywni"},
            {~p"/zarzadzanie/pracownicy/archiwum?#{@params}", :archive, "Zarchiwizowani"}
          ]
        }
        patch={path}
        kind="button"
        variant="ghost"
        size="small"
        class={if(@live_action == live_action, do: "bg-grey-700 hover:text-grey-900 text-white")}
      >
        {label}
      </.link>
      <.switch
        class="ml-auto flex-row-reverse gap-4"
        label="Widok wypłat"
        field={@form[:viewing_wages]}
        phx-click="toggle_wages_view"
      />
    </div>
  </div>

  <form
    phx-submit="save_wages"
    class={[
      "grid gap-x-6 gap-y-2",
      @view == :standard && @live_action == :index &&
        "grid-cols-[1fr_min-content_min-content_min-content]",
      @view == :standard && @live_action == :archive &&
        "grid-cols-[1fr_min-content_min-content_min-content_min-content]",
      @view != :standard && @live_action == :index &&
        "grid-cols-[2fr_1fr_1fr_1fr_min-content_min-content]",
      @view != :standard && @live_action == :archive &&
        "grid-cols-[2fr_1fr_1fr_1fr_1fr_min-content_min-content]"
    ]}
  >
    <div
      id="employees-list-header"
      class="bg-lightGreyBg text-grey-700 sticky top-[166px] z-1 col-span-full grid h-11 grid-cols-subgrid items-center px-4 text-sm/snug"
      phx-hook="ScrollStyle"
      data-classes="border-b-4 border-solid border-darkGrey/40"
      data-scroll-offset="90"
    >
      <p>Pracownik</p>
      <p class="text-right text-nowrap">Przepracowane godziny</p>

      <%= if @live_action == :archive do %>
        <p class="text-right text-nowrap">Data archiwizacji</p>
      <% end %>

      <%= if @view in [:wages, :wage_editor] do %>
        <%= case @view do %>
          <% :wages -> %>
            <.button
              phx-click="toggle_wage_editor"
              type="button"
              variant="ghost"
              size="small"
              class="justify-self-end"
            >
              Stawka <.icon name="hero-pencil-square-solid" class="size-4" />
            </.button>
          <% :wage_editor -> %>
            <div class="flex gap-2 justify-self-end">
              <.button
                id="wage-editor-toggle"
                variant="secondary"
                size="small"
                class="text-grey-700 size-8 p-0"
                phx-click="toggle_wage_editor"
                phx-hook="ConfirmLeave"
                data-confirm-leave
                data-unsaved={true}
                type="button"
              >
                <.icon name="hero-arrow-uturn-left-micro" class="size-4" />
              </.button>
              <.button
                variant="secondary"
                accent="orange"
                size="small"
                class="text-caps-sm/tight w-22 font-medium uppercase"
                type="submit"
              >
                Zapisz
              </.button>
            </div>
        <% end %>

        <p class="text-right">Wynagrodzenie</p>
      <% end %>
    </div>

    <%= if Enum.empty?(@employees) do %>
      <div class="text-darkGrey col-span-full py-10 text-center">
        <%= if @search != "" do %>
          Brak wyników. Spróbuj zmienić kryteria wyszukiwania.
        <% else %>
          <%= case @live_action do %>
            <% :index -> %>
              Brak aktywnych pracowników do wyświetlenia.
            <% :archive -> %>
              Brak zarchiwizowanych pracowników do wyświetlenia.
          <% end %>
        <% end %>
      </div>
    <% else %>
      <div
        :for={employee <- @employees}
        :key={employee.user.id}
        class="col-span-full grid h-14 grid-cols-subgrid"
      >
        <div class={[
          "grid grid-cols-subgrid items-center rounded-sm bg-white px-4",
          cond do
            @view == :standard and @live_action == :index -> "col-span-3"
            @view == :standard and @live_action == :archive -> "col-span-4"
            @view != :standard and @live_action == :index -> "col-span-5"
            true -> "col-span-6"
          end
        ]}>
          <div class="flex items-center gap-4">
            <.avatar class="ring-greyButtonBg/50 size-8 shrink-0 ring-1">
              <.avatar_image
                :if={employee.user.avatar_blob && employee.user.avatar_blob.url}
                src={employee.user.avatar_blob && employee.user.avatar_blob.url}
                alt="Avatar"
              />
              <.avatar_fallback class="bg-blueBg text-blueText">
                {to_string(employee.user.name || employee.user.email || "")
                |> String.slice(0, 1)
                |> String.upcase()}
              </.avatar_fallback>
            </.avatar>
            <%= if @can_export_csv do %>
              <.link
                kind="unstyled"
                navigate={
                  ~p"/zarzadzanie/pracownicy/#{employee.user.id}?month=#{Date.to_iso8601(@selected_date)}"
                }
                class="hover:underline"
              >
                {employee.user.name || employee.user.email}
              </.link>
            <% else %>
              <span>{employee.user.name || employee.user.email}</span>
            <% end %>
          </div>

          <p class="text-right">
            {Timetracker.seconds_to_hours(employee.time_worked)} h
          </p>

          <%= if @live_action == :archive do %>
            <p class="text-right text-black">
              <%= if employee.user.archived_at do %>
                {Calendar.strftime(employee.user.archived_at, "%d.%m.%Y")}
              <% end %>
            </p>
          <% end %>

          <%= if @view in [:wages, :wage_editor] do %>
            <%= case @view do %>
              <% :wages -> %>
                <p class="mx-2 text-right">
                  {Decimal.round(employee.hourly_rate || 0)} zł/godz.
                </p>
              <% :wage_editor -> %>
                <div class="mx-2 flex items-center gap-1 justify-self-end">
                  <.input
                    type="number"
                    class="w-14"
                    input_class="text-right"
                    new={true}
                    step="0.01"
                    min="0"
                    name={"employee[#{employee.user.id}][wage]"}
                    value={Decimal.round(employee.hourly_rate || 0)}
                  />
                  <p>zł/godz.</p>
                </div>
            <% end %>

            <p class="text-right font-medium">
              {:PLN
              |> Money.new(
                employee.time_worked
                |> Timetracker.seconds_to_hours()
                |> Decimal.new()
                |> Decimal.mult(employee.hourly_rate || 0)
              )
              |> Money.to_string!(fractional_digits: 0, currency_symbol: "PLN")}
            </p>
          <% end %>

          <div class="flex items-center justify-end gap-3">
            <%= if @can_export_csv do %>
              <.link
                kind="unstyled"
                navigate={
                  ~p"/zarzadzanie/pracownicy/#{employee.user.id}?month=#{Date.to_iso8601(@selected_date)}"
                }
                class="flex items-center"
              >
                <Lucideicons.chevron_right class="text-grey-700 size-4 shrink-0" />
              </.link>
            <% else %>
              <div />
            <% end %>
          </div>
        </div>

        <div class="ml-2 flex items-center gap-4 rounded-sm bg-white p-4">
          <.hours_record_status hours_record={employee.hours_record} user={employee.user} />

          <.button
            type="button"
            variant="unstyled"
            id={"copy-bank-number-#{employee.user.id}"}
            phx-hook="CopyToClipboard"
            disabled={is_nil(employee.user.bank_account_number)}
            phx-click="copy-bank-number"
            phx-value-number={employee.user.bank_account_number}
            class="active:text-grey-900 disabled:text-grey-400 hover:text-grey-800 text-grey-700 inline-flex items-center justify-center transition active:scale-95"
          >
            <.icon name="hero-credit-card-micro" class="size-6 shrink-0" />
          </.button>
        </div>
      </div>
    <% end %>
  </form>
</div>
