<div class="mx-auto flex w-full max-w-7xl flex-1 flex-col gap-8">
  <.form
    for={@form}
    phx-change="validate"
    phx-submit="save"
    class="flex flex-col gap-8"
  >
    <div class="flex flex-row items-start justify-between">
      <div class="space-y-1">
        <p :if={@live_action == :edit} class="text-grey-500 text-sm/snug">
          {@project.name}
        </p>
        <p class="flex flex-row items-center gap-4 text-2xl/tight font-medium">
          {case @live_action do
            :new -> "Nowy projekt"
            :edit -> "Edycja projektu"
          end}
        </p>
      </div>

      <div class="flex flex-row gap-4">
        <.link
          navigate={
            case @live_action do
              :new -> ~p"/zarzadzanie/projekty"
              :edit -> ~p"/zarzadzanie/projekty/#{@project.id}"
            end
          }
          kind="button"
          variant="outline"
        >
          Anuluj
        </.link>

        <.button variant="tertiary">
          {case @live_action do
            :new -> "Dodaj projekt"
            :edit -> "Zapisz zmiany"
          end}
        </.button>
      </div>
    </div>

    <div class="flex flex-1 flex-col gap-12">
      <div class="flex flex-col gap-4">
        <p class="text-grey-900 py-1 font-medium">
          Informacje ogólne
        </p>
        <div class="grid grid-cols-[min-content_1fr] items-center gap-x-5 gap-y-2">
          <label class="text-grey-700 text-sm text-nowrap" for={@form[:name].id}>
            Nazwa projektu
          </label>
          <.input field={@form[:name]} class="max-w-90" new={true} />

          <%= if false do %>
            <label class="text-grey-700 text-sm text-nowrap" for={@form[:counterparty_id].id}>
              Kontrahent
            </label>
            <.input
              field={@form[:counterparty_id]}
              type="select"
              prompt="Wybierz kontrahenta"
              container_class="max-w-90"
              new={true}
            />
          <% end %>
        </div>
      </div>
    </div>
  </.form>

  <div class="flex flex-1 flex-col gap-6">
    <div class="flex flex-row items-center justify-between gap-8">
      <p class="text-grey-900 font-medium">
        Pracownicy
      </p>

      <div class="flex w-full max-w-sm flex-row justify-end gap-2">
        <div class="relative w-full">
          <Lucideicons.search class="text-grey-900 absolute inset-y-0 left-1.5 my-auto size-6" />

          <.input
            id="user_search"
            name="user_search"
            type="search"
            value={nil}
            placeholder="Wyszukaj pracownika, aby dodać"
            input_class="pl-9 bg-grey-100 placeholder:text-grey-400 border max-w-sm w-full"
            autocomplete="off"
            new={true}
            phx-hook=".Autocomplete"
            data-autocomplete-data={
              @available_users
              |> Enum.map(fn user -> %{id: user.id, name: user.name || user.email} end)
              |> Jason.encode!()
            }
          />
        </div>
      </div>
    </div>

    <script :type={Phoenix.LiveView.ColocatedHook} name=".Autocomplete">
      export default {
        mounted() {
          this.data = JSON.parse(this.el.dataset.autocompleteData);

          this.autoCompleteInstance = new autoComplete({
            selector: "#user_search",
            wrapper: false,
            data: {
              src: () => this.data,
              keys: ["name"],
              cache: false,
            },
            threshold: 0,
            resultsList: {
              class: "bg-white p-1 rounded shadow-lg absolute w-full max-h-60 overflow-y-auto z-10",
              element: (list, data) => {
                if (data.results.length === 0) {
                  const info = document.createElement("p");
                  info.innerHTML = `Nie znaleziono pracowników pasujących do zapytania`;
                  info.className = "p-1 text-sm/snug";
                  list.appendChild(info);
                }
              },
              noResults: true,
              maxResults: undefined,
              tabSelect: true,
            },
            resultItem: {
              class: "px-2 py-1 cursor-pointer rounded hover:bg-grey-100 text-sm/snug truncate text-nowrap",
              selected: "bg-grey-100",
              element: (item, data) => {
                item.innerHTML = data.match
              },
            },

            events: {
              input: {
                selection: (event) => {
                  this.autoCompleteInstance.input.blur();
                  this.autoCompleteInstance.input.value = "";
                  this.pushEvent("add_user", {user_id: event.detail.selection.value.id});
                },

              }
            }
          });
        },

        updated() {
          this.data = JSON.parse(this.el.dataset.autocompleteData);

          this.autoCompleteInstance.unInit();
          this.autoCompleteInstance.init();
        },

        destroyed() {
          this.autoCompleteInstance.unInit();
        }
      }
    </script>

    <%= if Enum.empty?(@project_users) do %>
      <div
        id="project_users_list"
        class="border-grey-200 flex flex-1 items-center justify-center rounded-lg border p-6"
      >
        <p class="text-grey-700 max-w-sm text-center text-sm/snug text-balance">
          Aby dodać pracownika do tego projektu, wpisz jego imię lub nazwisko, a następnie kliknij wybraną osobę na liście wyników.
        </p>
      </div>
    <% else %>
      <div
        id="project_users_list"
        class="phx-click-loading:opacity-75 flex flex-col gap-6 rounded-lg bg-white p-6 pr-4"
      >
        <div
          :for={entry <- @project_users}
          :key={entry.user.id}
          class="flex flex-row items-center gap-4"
        >
          <.avatar class={["size-[50px]", entry.removed_from_project && "opacity-50"]}>
            <.avatar_image
              :if={Map.get(entry.user.avatar_blob || %{}, :url)}
              src={Map.get(entry.user.avatar_blob || %{}, :url)}
              alt="Avatar"
            />
            <.avatar_fallback bg_color="blueBg" class="text-blueText">
              {to_string(entry.user.name || entry.user.email || "")
              |> String.slice(0, 1)
              |> String.upcase()}
            </.avatar_fallback>
          </.avatar>

          <p class={[entry.removed_from_project && "text-grey-500"]}>
            {entry.user.name || entry.user.email}
          </p>

          <%= if entry.removed_from_project do %>
            <.button
              type="button"
              variant="secondary"
              size="small"
              class="ml-auto"
              phx-click="restore_user"
              phx-value-user_id={entry.user.id}
            >
              Przywróć
            </.button>
          <% else %>
            <.button
              type="button"
              variant="ghost"
              size="small"
              class="ml-auto"
              phx-click="remove_user"
              phx-value-user_id={entry.user.id}
            >
              <Lucideicons.trash_2 />
            </.button>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
