<div :if={not @zero_state?} class="mx-auto flex w-full max-w-7xl flex-1 flex-col gap-6 pb-4">
  <% # top -> collapsed navbar height (56px) / TODO: refactor %>
  <div class="bg-lightGreyBg sticky top-14 z-10 flex flex-col gap-4 py-3">
    <div class="flex flex-row justify-between">
      <form class="flex gap-4">
        <.date_picker
          id="project_date_picker"
          selected_date={@selected_date}
          active_months={@active_months}
        />

        <div
          id="search-container"
          data-expanded={to_string(@params["q"] != nil and @params["q"] != "")}
          class="bg-greyButtonBg group flex min-w-10 items-center justify-center rounded-lg transition-shadow data-[expanded=true]:focus-within:ring-2"
        >
          <.input
            name="q"
            value={@params["q"] || ""}
            placeholder="Szukaj projektu"
            phx-change={JS.push("search", loading: "#projects-list")}
            phx-debounce="300"
            input_class="py-0 px-1 bg-transparent border-none"
            class="w-0 border-transparent px-0 opacity-0 transition-[width,opacity,padding] duration-200 ease-in-out group-data-[expanded=true]:w-64 group-data-[expanded=true]:px-2 group-data-[expanded=true]:py-1 group-data-[expanded=true]:opacity-100 focus:border-none focus:ring-0 focus:outline-hidden"
          />
          <.button
            type="button"
            phx-click={
              JS.toggle_attribute({"data-expanded", "true", "false"}, to: "#search-container")
              |> JS.focus(to: "#search-container input")
            }
            variant="secondary"
          >
            <Lucideicons.search />
          </.button>
        </div>
      </form>

      <.link
        navigate={~p"/zarzadzanie/projekty/dodaj"}
        kind="button"
        variant="secondary"
      >
        <Lucideicons.plus /> Dodaj projekt
      </.link>
    </div>

    <div class="flex gap-4">
      <.link
        :for={
          {path, live_action, label} <- [
            {~p"/zarzadzanie/projekty?#{@params}", :index, "Aktywne"},
            {~p"/zarzadzanie/projekty/archiwum?#{@params}", :archive, "Zarchiwizowane"}
          ]
        }
        patch={path}
        kind="button"
        variant="ghost"
        size="small"
        class={if(@live_action == live_action, do: "bg-grey-700 hover:text-grey-900 text-white")}
      >
        {label}
      </.link>
    </div>
  </div>

  <%= cond do %>
    <% Enum.empty?(@projects) -> %>
      <div class="border-grey-200 flex flex-1 flex-col items-center justify-center gap-4 rounded-lg border p-6">
        <%= if @params["q"] do %>
          <Lucideicons.file_x class="text-grey-300 size-26" />
          <p class="text-grey-700 text-sm/snug">
            Nie znaleźliśmy szukanego przez Ciebie projektu.
          </p>
        <% else %>
          <Lucideicons.presentation class="text-grey-300 size-26" />
          <p class="text-grey-700 text-sm/snug">
            {case @live_action do
              :index -> "Nie masz aktywnych projektów do wyświetlenia."
              :archive -> "Nie masz zarchiwizowanych projektów do wyświetlenia."
            end}
          </p>
        <% end %>
      </div>
    <% @live_action == :index -> %>
      <div
        id="projects-list"
        class="phx-change-loading:opacity-50 grid grid-cols-[4fr_8.125rem_1fr_min-content] gap-x-6 gap-y-2"
      >
        <div
          id="projects-list-header-active"
          class="bg-lightGreyBg text-grey-700 sticky top-[166px] z-1 col-span-full grid grid-cols-subgrid px-4 py-3 text-sm/snug"
          phx-hook="ScrollStyle"
          data-classes="border-b-4 border-solid border-darkGrey/40"
          data-scroll-offset="90"
        >
          <p>Projekt</p>
          <p class="text-right">
            <!--Rentowność-->
          </p>
          <p class="text-right">Godziny</p>
        </div>

        <div class="col-span-full grid grid-cols-subgrid gap-y-2">
          <div
            :for={project <- @projects}
            :key={project.id}
            class="col-span-full grid grid-cols-subgrid items-center rounded-sm bg-white p-4"
          >
            <div class="space-y-1 truncate">
              <.link
                kind="unstyled"
                navigate={~p"/zarzadzanie/projekty/#{project.id}?#{Map.take(@params, ["month"])}"}
                class="hover:underline"
              >
                <p class="text-base/snug">{project.name}</p>
              </.link>
              <p class="text-grey-500 text-sm/snug">
                {case project.counterparty && project.counterparty.display_label do
                  "" -> @current_org.name
                  nil -> @current_org.name
                  label -> label
                end}
              </p>
            </div>
            <p class="text-right">
              <!--Rentowność-->
            </p>
            <p class="text-right">{project.hours} h</p>
            <.link
              kind="unstyled"
              navigate={~p"/zarzadzanie/projekty/#{project.id}?#{Map.take(@params, ["month"])}"}
              class="hover:text-grey-700 text-grey-500"
            >
              <Lucideicons.chevron_right class="size-4" />
            </.link>
          </div>
        </div>
      </div>
    <% @live_action == :archive -> %>
      <div
        id="projects-list"
        class="phx-change-loading:opacity-50 grid grid-cols-[4fr_8.125rem_1fr_min-content_min-content] gap-x-10 gap-y-2"
      >
        <div
          id="projects-list-header-archive"
          class="bg-lightGreyBg sticky top-[166px] z-1 -order-1 col-span-full grid grid-cols-subgrid px-4 py-3 text-sm/snug"
          phx-hook="ScrollStyle"
          data-classes="border-b-4 border-solid border-darkGrey/40"
          data-scroll-offset="90"
        >
          <p>Projekt</p>
          <p class="text-right">
            <!--Rentowność-->
          </p>
          <p class="text-right">Suma godzin</p>
          <p class="text-right text-nowrap">Data archiwizacji</p>
        </div>

        <div class="col-span-full grid grid-cols-subgrid gap-y-2">
          <div
            :for={project <- @projects}
            :key={project.id}
            class="col-span-full grid grid-cols-subgrid items-center rounded-sm bg-white p-4"
          >
            <div class="space-y-1 truncate">
              <.link
                kind="unstyled"
                navigate={~p"/zarzadzanie/projekty/#{project.id}?#{Map.take(@params, ["month"])}"}
                class="hover:underline"
              >
                <p class="text-base/snug">{project.name}</p>
              </.link>
              <p class="text-grey-500 text-sm/snug">
                {case project.counterparty && project.counterparty.display_label do
                  "" -> @current_org.name
                  nil -> @current_org.name
                  label -> label
                end}
              </p>
            </div>
            <p class="text-right">
              <!--Rentowność-->
            </p>
            <p class="text-right">{project.hours} h</p>
            <p class="text-right text-black">
              {Calendar.strftime(project.archived_at, "%d.%m.%Y")}
            </p>
            <div class="flex flex-row items-center gap-3">
              <.button
                :if={@current_user.role == :admin}
                type="button"
                variant="secondary"
                size="small"
                phx-click="unarchive_project"
                phx-value-id={project.id}
              >
                Przywróć
              </.button>
              <.link
                kind="unstyled"
                navigate={~p"/zarzadzanie/projekty/#{project.id}?#{Map.take(@params, ["month"])}"}
                class="hover:text-grey-700 text-grey-500"
              >
                <Lucideicons.chevron_right class="size-4" />
              </.link>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>

<div
  :if={@zero_state?}
  class="border-grey-200 mx-auto flex size-full max-w-7xl flex-1 flex-col items-center justify-center rounded-lg border p-8"
>
  <Lucideicons.presentation class="text-grey-300 size-26" size={48} />

  <p class="text-grey-700 mt-4 text-center text-sm/snug text-balance">
    Nie masz aktywnych projektów do wyświetlenia. Dodaj nowy klikając poniżej.
  </p>

  <.link
    navigate={~p"/zarzadzanie/projekty/dodaj"}
    kind="button"
    variant="secondary"
    class="mt-6"
  >
    <Lucideicons.plus /> Dodaj projekt
  </.link>
</div>
