<div class="container p-6">
  <.live_component
    :if={@selected_project && @is_editing_users}
    module={FirmowidWeb.Components.Timetracker.AddCoworkerModal}
    id="add_coworker_modal"
    users={@users}
    selected_project={@selected_project}
  />
  <div class="flex justify-between gap-4">
    <div class="flex items-center">
      <.link
        navigate={
          if @show_only_details && @selected_project,
            do: ~p"/czasosledz/archiwum",
            else: ~p"/czasosledz"
        }
        class="mr-2 my-auto"
      >
        <.icon name="hero-arrow-left-circle-solid" />
      </.link>
      <%= if @show_only_details && @selected_project do %>
        <div class="flex flex-col leading-tight">
          <span class="text-xs text-gray-200 font-light">Archiwum</span>
          <span class="text-lg font-bold">
            {@selected_project.name}
          </span>
        </div>
      <% end %>
    </div>
    <div class="flex items-center gap-4">
      <%= if @show_only_details && @selected_project do %>
        <.button
          phx-click="delete_project"
          phx-value-project_id={@selected_project.id}
          class={[
            button_styles(%{color: "light_grey"}),
            "flex items-center justify-center"
          ]}
        >
          <.icon name="hero-trash-solid" />
        </.button>
        <.button
          phx-click="unarchive_project"
          phx-value-project_id={@selected_project.id}
          class={[
            button_styles(%{color: "light_grey"}),
            "flex items-center justify-center gap-2"
          ]}
        >
          Przywróć <.render_unarchive_icon />
        </.button>
      <% else %>
        <.link navigate={~p"/czasosledz/ewidencja"} class={button_styles(%{color: "none"})}>
          {if @current_user.role == :employee, do: "Twoje projekty", else: "Ewidencja"}
        </.link>

        <.link
          :if={Bodyguard.permit?(Firmowid.Timetracker, :read_projects, @current_user)}
          navigate={~p"/czasosledz/projekty"}
          class={button_styles(%{color: "light_grey"})}
        >
          Zarządzaj projektami
        </.link>

        <.link
          :if={Bodyguard.permit?(Firmowid.Timetracker, :create_project, @current_user)}
          navigate={~p"/czasosledz/projekty/dodaj"}
          class={classes(["ml-2 !pr-4", button_styles(%{color: "black"})])}
        >
          <.icon name="hero-plus-mini" class="size-6 mr-1.5" /> Dodaj projekt
        </.link>
      <% end %>
    </div>
  </div>

  <div class="mt-14 grid gap-6 gap-y-8 grid-cols-[minmax(min-content,1fr)_min-content_minmax(0,80px)_minmax(min-content,360px)]">
    <%= unless @show_only_details do %>
      <div class="grid grid-cols-subgrid col-span-full">
        <form phx-change="select_project" class="grid col-span-2 grid-cols-[1fr_auto] gap-2">
          <.input
            type="select"
            id="project_selector"
            name="selected_project"
            value={@selected_project && @selected_project.id}
            options={
              @projects
              |> Enum.sort_by(&(&1.name |> String.downcase()))
              |> Enum.map(&{&1.name, &1.id})
            }
            disabled={@is_editing_users}
            prompt="Wszystkie projekty"
            class="sm:text-base mt-0 h-full"
            color={if !@selected_project, do: "light_grey", else: "light_orange"}
            size="medium"
          />

          <.link
            navigate={
              if @live_action == :archive,
                do: ~p"/czasosledz/projekty",
                else: ~p"/czasosledz/archiwum"
            }
            class={[
              button_styles(%{
                color: if(@live_action == :archive, do: "light_orange", else: "light_grey"),
                variant: "outline"
              }),
              if(@is_editing_users, do: "pointer-events-none opacity-50", else: "")
            ]}
          >
            <.icon name="hero-archive-box" />
          </.link>
        </form>
        <.date_picker
          id="selected_date"
          active_months={@active_months}
          selected_date={@selected_date}
          disabled={@is_editing_users || @live_action == :archive}
          class="-col-start-1 px-4 py-2.5 text-darkGrey max-w-[360px] h-full w-full"
          value={if @live_action == :archive, do: "Cały okres", else: nil}
        />
      </div>
    <% end %>
    <%= case @live_action do %>
      <% :projects -> %>
        <div class="grid col-span-2 row-span-2 grid-rows-subgrid grid-cols-subgrid">
          <div class="flex col-span-full h-8 items-center animate-appear justify-between">
            <h2 class="font-bold">
              {if @selected_project,
                do: "Nad tym projektem pracują",
                else: "Wszyscy współpracownicy"}
            </h2>
            <button
              :if={@selected_project && !@is_editing_users}
              disabled={@is_editing_users}
              phx-click="edit_users"
              class="h-6 w-auto px-3 rounded-md hover:bg-greyButtonBg hover:transition-all hover:duration-900 hover:ease-in-out text-darkGrey disabled:text-orangeText inline-flex items-center justify-center ml-1"
            >
              Edytuj <.icon name="hero-pencil-square-micro" class="ml-2 h-5 w-5" />
            </button>
            <button
              :if={!@selected_project && !@is_editing_users}
              disabled={@is_editing_users}
              phx-click="edit_all_users"
              class="h-6 w-auto px-3 rounded-md hover:bg-greyButtonBg hover:transition-all hover:duration-900 hover:ease-in-out text-darkGrey disabled:text-orangeText inline-flex items-center justify-center ml-1"
            >
              Edytuj <.icon name="hero-pencil-square-micro" class="ml-2 h-5 w-5" />
            </button>
            <div :if={@is_editing_users} class="flex gap-2 ml-auto justify-end">
              <.button
                :if={@selected_project}
                id="add_coworker_button"
                phx-click={show_modal("add_coworker_modal")}
                color="light_grey"
                size="medium"
                variant="outline"
                class="items-center justify-center flex gap-2"
              >
                <.icon name="hero-plus-mini" class="h-5 w-5 text-darkGrey align-middle" />
                Dodaj pracownika
              </.button>
              <.button phx-click="save_users" color="light_orange" size="small">
                Zatwierdź
              </.button>
            </div>
          </div>

          <div class="space-y-2 grid grid-cols-subgrid col-span-full auto-rows-min">
            <%= cond do %>
              <% @selected_project != nil and @is_editing_users -> %>
                <.render_project_edit project_users={@project_users} users={@users} />
              <% @selected_project -> %>
                <.render_project_user_hours_records project_user_hours={@project_user_hours} />
              <% !@selected_project and !@is_editing_users -> %>
                <.render_hours_records hours_records={@hours_records} />
              <% !@selected_project and @is_editing_users -> %>
                <.render_employee_edit
                  hours_records={@hours_records}
                  editing_employee_salaries={@editing_employee_salaries}
                  employee_salary_forms={@employee_salary_forms}
                />
            <% end %>
          </div>
        </div>
        <div class="space-y-4 -col-end-1 row-start-3">
          <div
            :if={@selected_project}
            class="space-y-2 border border-greyButtonBg p-4 rounded-md bg-lightGreyBg"
          >
            <%= if !@is_editing_name do %>
              <div class="flex justify-between">
                <h3 class="font-bold text-lg text-wrap break-all">{@selected_project.name}</h3>
                <.dropdown id="project_actions_dropdown">
                  <:trigger>
                    <.icon name="hero-ellipsis-horizontal" />
                  </:trigger>
                  <div class="flex flex-col text-sm bg-white shadow-2xl w-44 font-semibold z-10 rounded overflow-hidden border border-greyButtonBg">
                    <button
                      phx-click="edit_name"
                      class="transition px-4 py-4 text-left hover:bg-lightGreyBg phx-click-loading:opacity-50 phx-click-loading:cursor-wait"
                    >
                      Edytuj nazwę
                    </button>
                    <button
                      phx-click="delete_project"
                      phx-value-project_id={@selected_project.id}
                      class="transition px-4 py-4 text-redText text-left hover:bg-lightGreyBg phx-click-loading:opacity-50 phx-click-loading:cursor-wait"
                    >
                      Usuń projekt
                    </button>
                    <button
                      phx-click="archive_project"
                      phx-value-project_id={@selected_project.id}
                      class="transition px-4 py-4 text-left hover:bg-lightGreyBg phx-click-loading:opacity-50 phx-click-loading:cursor-wait flex justify-between items-center w-full"
                    >
                      Archiwizuj <.icon name="hero-archive-box" class="h-5 w-5" />
                    </button>
                  </div>
                </.dropdown>
              </div>
            <% else %>
              <.form
                for={@form}
                phx-submit="save"
                phx-change="validate"
                phx-key="escape"
                phx-window-keydown="cancel"
                phx-click-away="cancel"
                class="flex gap-6 items-start"
              >
                <.input
                  field={@form[:name]}
                  phx-hook="FocusOnMount"
                  color="light_orange"
                  class="w-full text-lg font-bold"
                />
                <.button disabled={!Enum.empty?(@form.errors)} color="light_orange" size="small">
                  Zatwierdź
                </.button>
              </.form>
            <% end %>
            <p class="text-sm text-darkGrey">
              Projekt utworzony: {Calendar.strftime(@selected_project.inserted_at, "%d.%m.%Y r.")}
            </p>
          </div>

          <div class="space-y-8 border border-greyButtonBg p-4 rounded-md bg-lightGreyBg">
            <h3 class="font-bold">Podsumowanie:</h3>

            <div>
              <p class="mb-3">Przepracowane godziny w miesiącu:</p>
              <p class="text-xl font-bold mb-1">{format_duration(@total_time_worked)}</p>
              <p class="text-sm text-darkGrey">
                {format_duration_with_days(@total_time_worked)}
              </p>
            </div>

            <div :if={@selected_project && @most_active_user}>
              <p class="mb-3">Najbardziej aktywny użytkownik:</p>
              <p class="text-xl font-bold mb-1">
                {format_duration(@most_active_user.time_worked)}
              </p>
              <p class="text-sm text-darkGrey">
                {@most_active_user.name || @most_active_user.email}
              </p>
            </div>

            <div :if={!@selected_project && @most_demanding_project}>
              <p class="mb-3">Najbardziej wymagający projekt:</p>
              <p class="text-xl font-bold mb-1">
                {format_duration(@most_demanding_project.time_worked)}
              </p>
              <p class="text-sm text-darkGrey">
                {@most_demanding_project.project.name}
              </p>
            </div>
          </div>

          <.link
            :if={@selected_project}
            class={
              classes([
                button_styles(%{color: "grey"}),
                "mt-4 flex justify-center w-full"
              ])
            }
            download
            href={
              ~p"/czasosledz/projekty/#{@selected_project.id}/csv?month=#{@selected_date.month}&year=#{@selected_date.year}"
            }
          >
            Eksportuj raport zadań (.csv)
          </.link>

          <.link
            :if={!@selected_project}
            class={
              classes([
                button_styles(%{color: "grey"}),
                "mt-4 flex justify-center w-full"
              ])
            }
            download
            href={
              ~p"/czasosledz/projekty/csv?month=#{@selected_date.month}&year=#{@selected_date.year}"
            }
          >
            Eksportuj raport wypłat (.csv)
          </.link>
        </div>
      <% :archive -> %>
        <div class="grid col-span-4 row-span-2 grid-rows-subgrid grid-cols-subgrid">
          <div class="flex col-span-full h-8 items-center animate-appear justify-between">
            <%= if @selected_project do %>
              <div class="flex items-center gap-2">
                <%= unless @show_only_details do %>
                  <.link
                    navigate={~p"/czasosledz/archiwum"}
                    class="text-darkGrey hover:text-orangeText"
                  >
                    <.icon name="hero-chevron-left" class="mr-2" />
                  </.link>
                <% end %>
                <h2 class="font-bold">Osoby, które pracowały nad projektem</h2>
              </div>
            <% else %>
              <h2 class="font-bold">Zarchiwizowane projekty</h2>
            <% end %>
          </div>

          <div class="space-y-2 grid grid-cols-subgrid col-span-full auto-rows-min">
            <%= cond do %>
              <% @selected_project -> %>
                <div class="grid grid-cols-subgrid col-span-2 row-span-2">
                  <.render_project_user_hours_archive project_user_hours={@project_user_hours} />
                </div>
                <div class="space-y-4 -col-end-1 row-start-2">
                  <div
                    :if={@selected_project}
                    class="space-y-2 border border-greyButtonBg p-4 rounded-md bg-lightGreyBg"
                  >
                    <%= if !@is_editing_name do %>
                      <div class="flex justify-between">
                        <h3 class="font-bold text-lg text-wrap break-all">
                          {@selected_project.name}
                        </h3>
                        <.dropdown id="project_actions_dropdown">
                          <:trigger>
                            <.icon name="hero-ellipsis-horizontal" />
                          </:trigger>
                          <div class="flex flex-col text-sm bg-white shadow-2xl w-44 font-semibold z-10 rounded overflow-hidden border border-greyButtonBg">
                            <button
                              phx-click="delete_project"
                              phx-value-project_id={@selected_project.id}
                              class="transition px-4 py-4 text-redText text-left hover:bg-lightGreyBg phx-click-loading:opacity-50 phx-click-loading:cursor-wait"
                            >
                              Usuń projekt
                            </button>
                            <button
                              phx-click="unarchive_project"
                              phx-value-project_id={@selected_project.id}
                              class="transition px-4 py-4 text-left hover:bg-lightGreyBg phx-click-loading:opacity-50 phx-click-loading:cursor-wait flex justify-between items-center w-full"
                            >
                              Przywróć <.render_unarchive_icon />
                            </button>
                          </div>
                        </.dropdown>
                      </div>
                    <% else %>
                      <.form
                        for={@form}
                        phx-submit="save"
                        phx-change="validate"
                        phx-key="escape"
                        phx-window-keydown="cancel"
                        phx-click-away="cancel"
                        class="flex gap-6 items-start"
                      >
                        <.input
                          field={@form[:name]}
                          phx-hook="FocusOnMount"
                          color="light_orange"
                          class="w-full text-lg font-bold"
                        />
                        <.button
                          disabled={!Enum.empty?(@form.errors)}
                          color="light_orange"
                          size="small"
                        >
                          Zatwierdź
                        </.button>
                      </.form>
                    <% end %>
                    <p class="text-sm text-darkGrey">
                      Utworzono: {Calendar.strftime(
                        @selected_project.inserted_at,
                        "%d.%m.%Y r."
                      )}
                    </p>
                    <p class="text-sm text-darkGrey">
                      Archiwizacja: {Calendar.strftime(
                        @selected_project.archived_at,
                        "%d.%m.%Y r."
                      )}
                    </p>
                  </div>

                  <div class="space-y-8 border border-greyButtonBg p-4 rounded-md bg-lightGreyBg">
                    <h3 class="font-bold">Podsumowanie:</h3>

                    <div>
                      <p class="mb-3">Przepracowane godziny:</p>
                      <p class="text-xl font-bold mb-1">{format_duration(@total_time_worked)}</p>
                      <p class="text-sm text-darkGrey">
                        {format_duration_with_days(@total_time_worked)}
                      </p>
                    </div>

                    <div :if={!@selected_project && @most_demanding_project}>
                      <p class="mb-3">Najbardziej wymagający projekt:</p>
                      <p class="text-xl font-bold mb-1">
                        {format_duration(@most_demanding_project.time_worked)}
                      </p>
                      <p class="text-sm text-darkGrey">
                        {@most_demanding_project.project.name}
                      </p>
                    </div>
                  </div>
                </div>
              <% !@selected_project -> %>
                <.render_projects_archived projects={@projects} />
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>
