<div class="container p-6">
  <div class="flex justify-end gap-4">
    <.link navigate={~p"/czasosledz/"} class="mr-auto my-auto">
      <.icon name="hero-arrow-left-circle-solid" />
    </.link>

    <.link navigate={~p"/czasosledz/ewidencja"} class={button_styles(%{color: "none"})}>
      {if @current_user.role == :employee, do: "Twoje projekty", else: "Ewidencja"}
    </.link>

    <.link
      :if={Bodyguard.permit?(Firmowid.Timetracker, :read_projects, @current_user)}
      navigate={~p"/czasosledz/projekty"}
      class={button_styles(%{color: "light_grey"})}
    >
      Zarządzaj projektami
    </.link>

    <.link
      :if={Bodyguard.permit?(Firmowid.Timetracker, :create_project, @current_user)}
      navigate={~p"/czasosledz/projekty/dodaj"}
      class={classes(["ml-2", button_styles(%{color: "black"})])}
    >
      <.icon name="hero-plus-mini" class="size-6 mr-1.5" /> Dodaj projekt
    </.link>
  </div>

  <div class="mt-14 grid gap-6 gap-y-8 grid-cols-[minmax(min-content,1fr),_min-content,_minmax(0,80px),_minmax(min-content,360px)]">
    <div class="grid grid-cols-subgrid col-span-full">
      <form phx-change="select_project" class="grid col-span-2 grid-cols-subgrid">
        <.input
          type="select"
          id="project_selector"
          name="selected_project"
          value={@selected_project && @selected_project.id}
          options={Enum.map(@projects, &{&1.name, &1.id})}
          disabled={@is_editing_users}
          prompt="Wybierz projekt"
          class="sm:text-base mt-0 h-full"
          color={if !@selected_project, do: "light_grey", else: "light_orange"}
          size="medium"
        />

        <.button
          type="reset"
          name="reset"
          disabled={@is_editing_users}
          color={if @selected_project, do: "light_grey", else: "light_orange"}
          class="text-nowrap"
        >
          Wszystkie projekty
        </.button>
      </form>
      <.date_picker
        id="selected_date"
        active_months={@active_months}
        selected_date={@selected_date}
        disabled={@is_editing_users}
        class="-col-start-1 font-bold px-4 py-2.5 text-darkGrey max-w-[360px] h-full w-full"
      />
    </div>

    <div class="grid col-span-2 row-span-2 grid-rows-subgrid grid-cols-subgrid">
      <div class="flex col-span-full h-8 items-center animate-appear">
        <h2 class="font-bold">
          {if @selected_project,
            do: "Nad tym projektem pracują",
            else: "Wszyscy współpracownicy"}
        </h2>
        <button
          :if={@selected_project}
          disabled={@is_editing_users}
          phx-click="edit_users"
          class="h-6 w-8 rounded-md hover:bg-greyButtonBg hover:transition-all hover:duration-900 hover:ease-in-out text-darkGrey disabled:text-orangeText inline-flex items-center justify-center ml-1"
        >
          <.icon name="hero-pencil-square-micro" />
        </button>
        <button
          :if={!@selected_project}
          disabled={@is_editing_users}
          phx-click="edit_all_users"
          class="h-6 w-8 rounded-md hover:bg-greyButtonBg hover:transition-all hover:duration-900 hover:ease-in-out text-darkGrey disabled:text-orangeText inline-flex items-center justify-center ml-1"
        >
          <.icon name="hero-pencil-square-micro" />
        </button>
        <.button
          :if={@is_editing_users}
          phx-click="save_users"
          color="light_orange"
          size="small"
          class="ml-auto"
        >
          Zatwierdź
        </.button>
      </div>

      <div class="space-y-2 grid grid-cols-subgrid col-span-full auto-rows-min">
        <%= cond do %>
          <% @selected_project != nil and @is_editing_users -> %>
            <.render_project_edit project_users={@project_users} users={@users} />
          <% @selected_project -> %>
            <.render_project_user_hours project_user_hours={@project_user_hours} />
          <% !@selected_project and !@is_editing_users -> %>
            <.render_hours_records hours_records={@hours_records} />
          <% !@selected_project and @is_editing_users -> %>
            <.render_employee_edit
              hours_records={@hours_records}
              editing_employee_salaries={@editing_employee_salaries}
              employee_salary_forms={@employee_salary_forms}
            />
        <% end %>
      </div>
    </div>

    <div class="space-y-4 -col-end-1 row-start-3">
      <div
        :if={@selected_project}
        class="space-y-2 border border-greyButtonBg p-4 rounded-md bg-white"
      >
        <%= if !@is_editing_name do %>
          <div class="flex justify-between">
            <h3 class="font-bold text-lg text-wrap break-all">{@selected_project.name}</h3>
            <button
              phx-click="edit_name"
              class="h-6 w-8 rounded-md hover:bg-greyButtonBg hover:transition-all hover:duration-900 hover:ease-in-out text-darkGrey disabled:text-orangeText inline-flex items-center justify-center ml-1"
            >
              <.icon name="hero-pencil-square-micro" />
            </button>
          </div>
        <% else %>
          <.form
            for={@form}
            phx-submit="save"
            phx-change="validate"
            phx-key="escape"
            phx-window-keydown="cancel"
            phx-click-away="cancel"
            class="flex gap-6 items-start"
          >
            <.input
              field={@form[:name]}
              phx-hook="FocusOnMount"
              color="light_orange"
              class="w-full text-lg font-bold"
            />
            <.button disabled={!Enum.empty?(@form.errors)} color="light_orange" size="small">
              Zatwierdź
            </.button>
          </.form>
        <% end %>
        <p class="text-sm text-darkGrey">
          Projekt utworzony: {Calendar.strftime(@selected_project.inserted_at, "%d.%m.%Y r.")}
        </p>
      </div>

      <div class="space-y-8 border border-greyButtonBg p-4 rounded-md bg-white">
        <h3 class="font-bold">Podsumowanie:</h3>

        <div>
          <p class="mb-3">Przepracowane godziny w miesiącu:</p>
          <p class="text-xl font-bold mb-1">{format_duration(@total_time_worked)}</p>
          <p class="text-sm text-darkGrey">
            {format_duration_with_days(@total_time_worked)}
          </p>
        </div>

        <div :if={@selected_project && @most_active_user}>
          <p class="mb-3">Najbardziej aktywny użytkownik:</p>
          <p class="text-xl font-bold mb-1">{format_duration(@most_active_user.time_worked)}</p>
          <p class="text-sm text-darkGrey">
            {@most_active_user.name || @most_active_user.email}
          </p>
        </div>

        <div :if={!@selected_project && @most_demanding_project}>
          <p class="mb-3">Najbardziej wymagający projekt:</p>
          <p class="text-xl font-bold mb-1">
            {format_duration(@most_demanding_project.time_worked)}
          </p>
          <p class="text-sm text-darkGrey">
            {@most_demanding_project.project.name}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
