<div class="container p-6">
  <div class="flex justify-end gap-4">
    <.link navigate={~p"/czasosledz/"} class="mr-auto my-auto">
      <.icon name="hero-arrow-left-circle-solid" />
    </.link>
  </div>
  <div class="border border-greyButtonBg rounded-md py-14 px-24 mt-20">
    <h2 class="font-bold">Nowy projekt</h2>
    <.form phx-submit="save" for={@form} class="space-y-8 mt-10">
      <.input field={@form[:name]} label="Nazwa projektu" />
      <div class="flex justify-end">
        <.button type="submit" color="light_orange" size="small" class="ml-auto">
          Zapisz projekt
        </.button>
      </div>
    </.form>
  </div>
</div>
