<div class="bg-grey-100 flex min-h-screen flex-col">
  <%!-- Navbar --%>
  <.landing_navbar />

  <.alergeek_attribution />

  <%!-- Hero Section --%>
  <.hero_section />

  <%!-- KSeF Integration Section --%>
  <.feature_section id="ksef" class="scroll-mt-[120px]">
    <:tags>
      <.tag label="fakturowanie" />
      <.tag label="KSeF" />
      <.tag label="nowość" variant={:accent} />
    </:tags>
    <:title>Integracja z KSeF</:title>
    <:description>
      Każda zmiana w przepisach i strukturze faktur
      generuje stres - pojawia się obawa, że Twój
      system nie nadąży i faktury zostaną odrzucone. <br class="mb-4" />
      Spokojnie, z Firmowidem KSeF nie jest niczym
      strasznym.
    </:description>
    <:solution_title>Rozwiązanie Firmowida</:solution_title>
    <:solution_subtitle>Z Firmowidem KSeF nie jest niczym strasznym.</:solution_subtitle>
    <:solutions>
      <.solution_item image_container_id="ksef-images" index={0} class="pointer-events-none">
        Gwarancja poprawności faktur.
      </.solution_item>
      <.solution_item image_container_id="ksef-images" index={1} class="pointer-events-none">
        Automatyczna aktualizacja obsługi KSeF.
      </.solution_item>
      <.solution_item image_container_id="ksef-images" index={2} class="pointer-events-none">
        Dostosowywanie się do zmian.
      </.solution_item>
    </:solutions>
    <:image>
      <%!-- [&_img]:transition-opacity [&_img]:transition-[400ms] --%>
      <%!-- deleted until we have different images for each item --%>
      <div
        id="ksef-images"
        class="px-auto relative flex size-full items-center justify-center md:justify-end"
      >
        <img
          id="ksef-example-1"
          src={~p"/images/ksef.png"}
          alt=""
          class="border-grey-100 pointer-events-none absolute top-1/2 left-1/2 h-full max-h-full w-auto -translate-1/2 rounded-[8px] border-2 object-scale-down opacity-0"
        />

        <img
          id="ksef-example-2"
          src={~p"/images/ksef.png"}
          alt=""
          class="border-grey-100 pointer-events-none absolute top-1/2 left-1/2 h-full max-h-full w-auto -translate-1/2 rounded-[8px] border-2 object-scale-down opacity-0"
        />

        <img
          id="ksef-example-3"
          src={~p"/images/ksef.png"}
          alt=""
          class="border-grey-100 pointer-events-none absolute top-1/2 left-1/2 h-full max-h-full w-auto -translate-1/2 rounded-[8px] border-2 object-scale-down opacity-0"
        />

        <img
          id="ksef-default-photo"
          src={~p"/images/ksef.png"}
          alt=""
          class="border-grey-100 pointer-events-none relative h-auto w-full rounded-[8px] border-2 object-scale-down opacity-100"
        />
      </div>
    </:image>
  </.feature_section>

  <%!-- Invoice Matching Section --%>
  <.feature_section>
    <:tags>
      <.tag label="fakturowanie" />
      <.tag label="rachunki bankowe" />
    </:tags>
    <:title>Przyporządkowywanie faktur do transakcji</:title>
    <:description>
      Zbliża się zamknięcie miesiąca, a Ty
      zastanawiasz się czy na pewno nie przegapiłeś
      żadnej faktury? Płatności są rozproszone po
      kilku kontach, trudno znaleźć powiązania, a
      ręczne dopasowywanie powoduje błędy? <br class="mb-4" />
      Spokojnie, Firmowid pomoże Ci w porządkach.
    </:description>
    <:solution_title>Rozwiązanie Firmowida</:solution_title>
    <:solution_subtitle>Z Firmowidem zamykanie miesiąca będzie przyjemne.</:solution_subtitle>
    <:solutions>
      <.solution_item image_container_id="invoicing-images" index={0}>
        Elastyczne wgrywanie (<strong class="font-bold">plik</strong>,
        <strong class="font-bold">e-mail</strong>
        lub <strong class="font-bold">skan</strong>)
      </.solution_item>
      <span class="relative">
        <.solution_item
          image_container_id="invoicing-images"
          index={1}
        >
          Integracja z kontami firmowymi - także zagranicznymi.
        </.solution_item>
        <img
          id="functionality-arrow"
          src={~p"/images/functionality_arrow.svg"}
          alt=""
          class="pointer-events-none absolute hidden opacity-100 transition-opacity delay-50 duration-200 md:top-12 md:left-[32%] md:block md:scale-[55%] md:rotate-20 lg:top-[-42px] lg:left-[118%] lg:scale-[1.4] lg:rotate-0"
        />
      </span>
      <.solution_item image_container_id="invoicing-images" index={2}>
        Automatyczne łączenie faktur z transakcjami.
      </.solution_item>
    </:solutions>
    <:image>
      <div
        id="invoicing-images"
        class="relative flex size-full items-center justify-center md:justify-end [&_img]:max-h-full [&_img]:w-auto [&_img]:object-scale-down [&_img]:duration-400 [&_img:not(#default-photo)]:pointer-events-none [&_img:not(#default-photo)]:absolute [&_img:not(#default-photo)]:top-1/2 [&_img:not(#default-photo)]:left-1/2 [&_img:not(#default-photo)]:-translate-1/2 [&_img:not(#default-photo)]:transition-opacity"
      >
        <img
          id="invoicing-example-1"
          src={~p"/images/invoice_upload.png"}
          alt=""
          class="max-w-[90%] opacity-0"
        />

        <img
          id="invoicing-example-2"
          src={~p"/images/bank_linking.png"}
          alt=""
          class="max-w-[668px] opacity-0"
        />

        <img
          id="invoicing-example-3"
          src={~p"/images/invoice_matching.png"}
          alt=""
          class="max-w-[678px] opacity-0"
        />

        <img
          id="default-photo"
          src={~p"/images/figurine.png"}
          alt=""
          class="hidden aspect-782/508 h-[91%] self-center opacity-[0.03] md:block"
        />
      </div>
    </:image>
  </.feature_section>

  <%!-- Highlight Banner --%>
  <.highlight_banner class="hidden">
    <strong class="font-bold">Firmowid</strong>
    automatycznie dopasuje pasujące transakcje do faktur&nbsp;&#8209;&nbsp;<strong class="font-bold">porządek w księgowości</strong>, to jego drugie imię.
    <:cta>
      <a
        href="#video"
        class="text-darkGrey mb-2 inline-flex flex-col items-center px-8 pt-4 text-base font-medium transition-colors duration-500 hover:text-black"
      >
        Zobacz filmik
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M7 6L12 11L17 6"
            stroke="#A5582B"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M7 13L12 18L17 13"
            stroke="#8B3F13"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </a>
    </:cta>
  </.highlight_banner>

  <%!-- Video Placeholder --%>
  <.video_placeholder id="video" class="hidden scroll-mt-[120px]" />

  <%!-- Czasośledź Section --%>
  <.timetracker_section id="czasosledz">
    <:tags>
      <.tag label="ewidencja" />
      <.tag label="czas pracy" />
    </:tags>
    <:title>Czasośledź</:title>
    <:description_one>
      Twoi pracownicy liczą swój czas pracy godzinowo, a Ty w sumie dalej nie
      wiesz, ile naprawdę kosztuje praca zespołu i jak efektywnie
      wykorzystywany jest ten czas?
    </:description_one>
    <:description_two>
      Spokojnie, Firmowid ma wszystko pod kontrolą.
    </:description_two>
    <:left_title>Monitorowanie czasu pracowników</:left_title>
    <:left_description>
      Firmowid rejestruje czas pracy, przypisuje go do
      projektów i pokazuje realne koszty oraz obciążenie
      pracowników.
    </:left_description>
    <:left_content>
      <img
        src={~p"/images/timetracking.svg"}
        alt=""
        class="pointer-events-none h-full"
      />
    </:left_content>
    <:right_title>Ewidencja</:right_title>
    <:right_description>
      Dzięki Firmowidowi nie musisz już głowić się, czy dany pracownik
      wysłał Ci ewidencję - wszystko masz jak na dłoni.
    </:right_description>
    <:right_content>
      <img
        src={~p"/images/employee_records.svg"}
        alt=""
        class="pointer-events-none h-full"
      />
    </:right_content>
  </.timetracker_section>

  <.budget_analysis class="hidden" />

  <%!-- Budget Analysis Section --%>
  <.feature_section id="analiza" class="hidden">
    <:solution_title>Rozwiązanie Firmowida</:solution_title>
    <:solution_subtitle>Z Firmowidem budżetowanie robi się samo.</:solution_subtitle>
    <:solutions>
      <.solution_item>Monitorowanie budżetu w czasie rzeczywistym</.solution_item>
      <.solution_item>Wykrywanie odchyleń</.solution_item>
      <.solution_item>Przewidywanie budżetu</.solution_item>
    </:solutions>
    <:image>
      <.mockup
        label="Budget dashboard"
        class="flex aspect-798/375 max-h-[374px] w-full"
      />
    </:image>
  </.feature_section>

  <%!-- CTA & Footer combined --%>
  <.cta_footer />
</div>
