<div class="container mt-16">
  <div class="flex gap-16">
    <div class="flex-1 self-end">
      <div class="flex gap-4 items-center">
        <form class="relative" phx-submit="upload" phx-change="upload">
          <div class="hidden">
            <.live_file_input upload={@uploads.user_avatar} />
          </div>
          <.avatar class="size-28">
            <.avatar_image src={@current_user.avatar_url} alt="Avatar" />
            <.avatar_fallback>
              {String.slice(@current_user.email, 0, 1) |> String.upcase()}
            </.avatar_fallback>
          </.avatar>
          <.edit_button
            tag_name="label"
            for={@uploads.user_avatar.ref}
            class="absolute right-0 bottom-0 rounded-full"
          />
        </form>
        <div>
          <h1 class="text-2xl">Cześć!</h1>
          <p>{@current_user.email}</p>
        </div>
      </div>
      <div class="flex gap-10 font-semibold mt-16">
        <%= for {tab, label} <- [
            {"company", "Twoja firma"},
            {"account", "Twoje konto"},
            {"bank_accounts", "Konta bankowe"},
            {"address_book", "Książka adresowa"}
          ] do %>
          <.link
            patch={~p"/settings?tab=#{tab}"}
            class={
              classes([
                @tab == tab && "text-orangeText",
                "phx-click-loading:opacity-50"
              ])
            }
          >
            {label}
          </.link>
        <% end %>
      </div>
      <hr class="border-t border-t-greyButtonBg mt-4" />
    </div>

    <div class="min-w-fit flex gap-3 flex-col">
      <div class="flex gap-1 items-center">
        <p class="font-bold text-base">Logo firmy</p>
        <form id="upload-form" phx-submit="upload" phx-change="upload">
          <div class="hidden">
            <.live_file_input upload={@uploads.organization_avatar} />
          </div>
          <.edit_button
            tag_name="label"
            for={@uploads.organization_avatar.ref}
            class="cursor-pointer"
          />
        </form>
      </div>
      <.avatar class="rounded-none size-36">
        <.avatar_image src={@current_org.avatar_url} alt="Logo firmy" />
        <.avatar_fallback class="rounded-none">
          CN
        </.avatar_fallback>
      </.avatar>
    </div>
  </div>

  <%= case @tab do %>
    <% "company" -> %>
      <div class={
        classes([
          "mt-6 rounded-md p-4  w-fit border border-transparent",
          @company_form[:is_basic_info_editing].value && "border-greyButtonBg"
        ])
      }>
        <div class="flex gap-1">
          <h2 class="font-bold mt-0.5">Dane firmy</h2>
          <.edit_button
            phx-click={
              JS.push("save",
                value: %{
                  "organization" => %{
                    "is_basic_info_editing" => !@company_form[:is_basic_info_editing].value
                  }
                }
              )
            }
            class={
              classes([
                @company_form[:is_basic_info_editing].value == true &&
                  "text-orangeText hover:text-orangeText/70 active:text-orangeText/90"
              ])
            }
          />
        </div>
        <%= if @company_form[:is_basic_info_editing].value do %>
          <div class="flex flex-col gap-4 mt-6">
            <.form class="flex flex-col gap-4" phx-submit="save" for={@company_form}>
              <%= for {field, label} <- [
                {:organization_type, "Rodzaj działalności"},
                {:name, "Nazwa organizacji"},
                {:identification_number, "NIP"},
                {:address, "Adres przedsiębiorstwa"},
                {:phone_number, "Numer telefonu"}
              ] do %>
                <div class="flex">
                  <label
                    for={@company_form[field].id}
                    class="w-48 mt-2 font-medium text-darkGrey uppercase text-xs text-right pr-4"
                  >
                    {label}
                  </label>
                  <div class="flex-1 text-sm">
                    <.input
                      field={@company_form[field]}
                      class="font-normal h-8 mt-0 w-[439px]"
                      input_class="mt-0 h-8 border-greyButtonBg"
                    />
                  </div>
                </div>
              <% end %>
              <.input type="hidden" field={@company_form[:is_basic_info_editing]} value="false" />

              <.button
                color="orange"
                class="w-fit ml-auto"
                type="submit"
                phx-disable-with="Zapisywanie..."
              >
                Zatwierdź
              </.button>
            </.form>
          </div>
        <% else %>
          <div class="space-y-4 mt-6">
            <%= for {label, value} <- [
              {"Rodzaj działalności", @current_org.organization_type},
              {"Nazwa organizacji", @current_org.name},
              {"NIP", @current_org.identification_number},
              {"Adres przedsiębiorstwa", @current_org.address},
              {"Numer telefonu", @current_org.phone_number}
            ], value do %>
              <div class="flex">
                <div class="w-64 mt-1 font-medium text-darkGrey uppercase text-xs text-right pr-4">
                  {label}
                </div>
                <div class="flex-1">
                  <%= if is_list(value) do %>
                    <%= for line <- value do %>
                      <div>{line}</div>
                    <% end %>
                  <% else %>
                    {value}
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class={
        classes([
          "mt-6 rounded-md p-4 w-fit border border-transparent",
          @correspondence_form[:is_correspondence_editing].value && "border-greyButtonBg"
        ])
      }>
        <div class="flex gap-1">
          <h2 class="font-bold mt-0.5">Adres korespondencyjny</h2>
          <.edit_button
            phx-click={
              JS.push("save",
                value: %{
                  "organization" => %{
                    "is_correspondence_editing" =>
                      !@correspondence_form[:is_correspondence_editing].value
                  }
                }
              )
            }
            class={
              classes([
                @correspondence_form[:is_correspondence_editing].value == true &&
                  "text-orangeText hover:text-orangeText/70 active:text-orangeText/90"
              ])
            }
          />
        </div>
        <%= if @correspondence_form[:is_correspondence_editing].value do %>
          <div class="flex flex-col gap-4 mt-6">
            <.form class="flex flex-col gap-4" phx-submit="save" for={@correspondence_form}>
              <%= for {field, label} <- [
                {:correspondence_name, "Nazwa organizacji"},
                {:correspondence_address, "Adres przedsiębiorstwa"}
              ] do %>
                <div class="flex">
                  <label
                    for={@correspondence_form[field].id}
                    class="w-48 mt-2 font-medium text-darkGrey uppercase text-xs text-right pr-4"
                  >
                    {label}
                  </label>
                  <div class="flex-1 text-sm">
                    <.input
                      field={@correspondence_form[field]}
                      class="font-normal h-8 mt-0 w-[439px]"
                      input_class="mt-0 h-8 border-greyButtonBg"
                    />
                  </div>
                </div>
              <% end %>
              <.input
                type="hidden"
                field={@correspondence_form[:is_correspondence_editing]}
                value="false"
              />
              <.button
                color="orange"
                class="w-fit ml-auto"
                type="submit"
                phx-disable-with="Zapisywanie..."
              >
                Zatwierdź
              </.button>
            </.form>
          </div>
        <% else %>
          <div class="space-y-4 mt-6">
            <%= for {label, value} <- [
              {"Nazwa do korespondencji", @current_org.correspondence_name},
              {"Adres do korespondencji", @current_org.correspondence_address}
            ], value do %>
              <div class="flex">
                <div class="w-64 mt-1 font-medium text-darkGrey uppercase text-xs text-right pr-4">
                  {label}
                </div>
                <div class="flex-1">
                  <%= if is_list(value) do %>
                    <%= for line <- value do %>
                      <div>{line}</div>
                    <% end %>
                  <% else %>
                    {value}
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% "account" -> %>
      <div class="mt-6">
        <div class="flex gap-4">
          <h2 class="font-bold">Dane dostępowe</h2>
          <.link class="text-sm mt-0.5 hover:underline" navigate={~p"/users/settings"}>
            Edytuj
          </.link>
        </div>
        <div class="space-y-4 mt-6">
          <div class="flex">
            <div class="w-64 mt-1 font-medium text-darkGrey uppercase text-xs text-right pr-4">
              Email
            </div>
            <div class="flex-1">
              {@current_user.email}
            </div>
          </div>
          <div class="flex">
            <div class="w-64 mt-1 font-medium text-darkGrey uppercase text-xs text-right pr-4">
              Hasło
            </div>
            <div class="flex-1">
              **************
            </div>
          </div>
        </div>
        <h2 class="font-bold mt-6">Zgoda marketingowa</h2>
        <div class="flex items-center mt-6">
          <label
            for="consent"
            class="w-64 mt-1 font-medium text-darkGrey uppercase text-xs text-right pr-4"
          >
            Zgoda na przesyłanie informacji o charakterze marketingowym
          </label>
          <div>
            <.input
              phx-click="update_marketing_consent"
              name="consent"
              id="consent"
              value={@current_user.marketing_consent}
              type="checkbox"
            />
          </div>
        </div>
        <h2 class="font-bold mt-6">Zamykanie konta</h2>
        <div class="flex items-center mt-6">
          <div class="w-64 mt-1 font-medium text-darkGrey uppercase text-xs text-right pr-4">
            Nazwa konta
          </div>
          <div class="flex-1 flex flex-col">
            {@current_user.email}
          </div>
        </div>
        <div class="flex mt-4">
          <div class="w-64 mt-1 font-medium text-darkGrey uppercase text-xs text-right pr-4">
          </div>
          <div class="flex-1">
            <.button phx-click={show_modal("confirm_modal")} variant="outline" color="red">
              Zamknij konto
            </.button>
            <.modal id="confirm_modal">
              <h3>Czy na pewno chcesz zamknąć konto? <b>Nie da się tego cofnąć!</b></h3>
              <.simple_form
                for={@delete_account_form}
                phx-submit="delete_account"
                id="delete_account_form"
              >
                <.input
                  field={@delete_account_form[:current_password]}
                  type="password"
                  label="Twoje hasło"
                  required
                />
                <:actions>
                  <div class="flex gap-4">
                    <.button variant="outline" color="red" phx-disable-with="Usuwam...">
                      Zamknij konto
                    </.button>
                    <.button type="button" phx-click={hide_modal("confirm_modal")}>
                      Anuluj
                    </.button>
                  </div>
                </:actions>
              </.simple_form>
            </.modal>
          </div>
        </div>
      </div>
    <% "bank_accounts" -> %>
      <div class="mt-6 flex flex-col items-start">
        <div class="flex gap-1">
          <h2 class="font-bold mt-0.5">Konta bankowe</h2>
        </div>
        <%= if Enum.any?(@bank_accounts) do %>
          <div class="space-y-4 mt-6">
            <%= for {institution, accounts} <- Enum.group_by(@bank_accounts, & &1.institution_name) do %>
              <h3>{institution}</h3>
              <div class="flex flex-wrap items-start gap-4">
                <%= for account <- accounts do %>
                  <div class="border rounded-md pt-4 w-96">
                    <div class="flex justify-between px-4 pb-4">
                      <div class="grid grid-cols-[auto,1fr] gap-4">
                        <div class="mt-1 font-medium text-darkGrey uppercase text-xs pr-4">
                          Nazwa
                        </div>
                        <div>
                          {account.name}
                        </div>
                        <div class="mt-1 font-medium text-darkGrey uppercase text-xs pr-4">
                          Waluta
                        </div>
                        <div>
                          {account.currency}
                        </div>
                        <div class="mt-1 font-medium text-darkGrey uppercase text-xs text-left pr-4">
                          Numer
                        </div>
                        <div>
                          {account.iban}
                        </div>
                      </div>
                      <div>
                        <.dropdown id={account.id}>
                          <:trigger>
                            <.icon name="hero-ellipsis-horizontal" />
                          </:trigger>
                          <div class="flex -translate-x-[86%] flex-col text-sm text-darkGrey gap-2 p-3 rounded-md bg-lightGreyBg shadow-lg w-44 font-semibold">
                            <button
                              phx-click="delete_bank_account"
                              phx-value-account_id={account.id}
                              class="transition rounded-md p-2 text-left hover:bg-darkGrey/30 phx-click-loading:opacity-50 phx-click-loading:cursor-wait"
                            >
                              Usuń
                            </button>
                            <button
                              :if={!account.is_default}
                              phx-click="make_default_account"
                              phx-value-account_id={account.id}
                              class="transition rounded-md p-2 text-left hover:bg-darkGrey/30 phx-click-loading:opacity-50 phx-click-loading:cursor-wait"
                            >
                              Domyślny dla {account.currency}
                            </button>
                          </div>
                        </.dropdown>
                      </div>
                    </div>
                    <div
                      :if={account.is_default}
                      class="bg-orangeBg text-orangeText uppercase w-full rounded-b-md text-xs h-8 flex items-center justify-center mt-auto"
                    >
                      Domyślny dla {account.currency}
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
          <.link
            navigate={~p"/settings/bank-sync/create"}
            class={classes([button_styles(%{variant: "outline"}), "ml-auto mt-16"])}
          >
            Podepnij kolejne konto
          </.link>
        <% else %>
          <div class="text-left py-6 text-darkGrey">
            <p>Nie masz jeszcze żadnych kont bankowych.</p>
            <p class="text-sm mt-2">
              Dodaj swoje pierwsze konto bankowe, aby móc wystawiać faktury.
            </p>
            <div class="mt-6">
              <.link
                navigate={~p"/settings/bank-sync/create"}
                class={button_styles(%{variant: "outline"})}
              >
                Podepnij konto
              </.link>
            </div>
          </div>
        <% end %>
      </div>
    <% "address_book" -> %>
      <div class="mt-6">
        <h2 class="font-bold">Książka adresowa</h2>
        <p class="mt-4">Ta funkcja nie jest jeszcze dostępna.</p>
      </div>
  <% end %>
</div>
