<main class="h-screen w-full flex flex-col items-center justify-center gap-4">
  <img src={~p"/images/figurine.png"} alt="Firmowid" class="h-64 w-auto" />

  <h1 class="text-xl font-bold text-gray-900">
    Firmowid
  </h1>

  <.link
    navigate={~p"/zaloguj"}
    class="mt-2 text-sm text-blue-600 underline hover:text-blue-800"
  >
    Zaloguj się
  </.link>
</main>
