<div class="min-h-screen flex flex-col bg-grey-100">
  <%!-- Navbar --%>
  <.landing_navbar />

  <.alergeek_attribution />

  <%!-- Hero Section --%>
  <.hero_section />

  <%!-- KSeF Integration Section --%>
  <.feature_section id="ksef" class="scroll-mt-[120px]">
    <:tags>
      <.tag label="fakturowanie" />
      <.tag label="KSeF" />
      <.tag label="nowość" variant={:accent} />
    </:tags>
    <:title>Integracja z KSeF</:title>
    <:description>
      Każda zmiana w przepisach i strukturze faktur
      generuje stres - pojawia się obawa, że Twój
      system nie nadąży i faktury zostaną odrzucone. <br class="mb-4" />
      Spokojnie, z Firmowidem KSeF nie jest niczym
      strasznym.
    </:description>
    <:solution_title>Rozwiązanie Firmowida</:solution_title>
    <:solution_subtitle>Z Firmowidem KSeF nie jest niczym strasznym.</:solution_subtitle>
    <:solutions>
      <.solution_item image_container_id="ksef-images" index={0}>
        Gwarancja poprawności faktur.
      </.solution_item>
      <.solution_item image_container_id="ksef-images" index={1}>
        Automatyczna aktualizacja obsługi KSeF.
      </.solution_item>
      <.solution_item image_container_id="ksef-images" index={2}>
        Dostosowywanie się do zmian.
      </.solution_item>
    </:solutions>
    <:image>
      <%!-- [&_img]:transition-opacity [&_img]:transition-[400ms] --%>
      <%!-- deleted until we have different images for each item --%>
      <div
        id="ksef-images"
        class="relative flex justify-center md:justify-end w-full h-full px-auto items-center"
      >
        <img
          id="ksef-example-1"
          src={~p"/images/ksef.png"}
          alt=""
          class="pointer-events-none h-full rounded-[8px] border-[2px] border-grey-100 opacity-0 absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-auto max-h-full object-scale-down"
        />

        <img
          id="ksef-example-2"
          src={~p"/images/ksef.png"}
          alt=""
          class="pointer-events-none h-full rounded-[8px] border-[2px] border-grey-100 opacity-0 absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-auto max-h-full object-scale-down"
        />

        <img
          id="ksef-example-3"
          src={~p"/images/ksef.png"}
          alt=""
          class="pointer-events-none h-full rounded-[8px] border-[2px] border-grey-100 opacity-0 absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-auto max-h-full object-scale-down"
        />

        <img
          id="default-photo"
          src={~p"/images/ksef.png"}
          alt=""
          class="pointer-events-none rounded-[8px] border-[2px] border-grey-100 opacity-100 relative w-full h-auto object-scale-down"
        />
      </div>
    </:image>
  </.feature_section>

  <%!-- Invoice Matching Section --%>
  <.feature_section>
    <:tags>
      <.tag label="fakturowanie" />
      <.tag label="rachunki bankowe" />
    </:tags>
    <:title>Przyporządkowywanie faktur do transakcji</:title>
    <:description>
      Zbliża się zamknięcie miesiąca, a Ty
      zastanawiasz się czy na pewno nie przegapiłeś
      żadnej faktury? Płatności są rozproszone po
      kilku kontach, trudno znaleźć powiązania, a
      ręczne dopasowywanie powoduje błędy? <br class="mb-4" />
      Spokojnie, Firmowid pomoże Ci w porządkach.
    </:description>
    <:solution_title>Rozwiązanie Firmowida</:solution_title>
    <:solution_subtitle>Z Firmowidem zamykanie miesiąca będzie przyjemne.</:solution_subtitle>
    <:solutions>
      <.solution_item image_container_id="invoicing-images" index={0}>
        Elastyczne wgrywanie (<strong class="font-bold">plik</strong>,
        <strong class="font-bold">e-mail</strong>
        lub <strong class="font-bold">skan</strong>)
      </.solution_item>
      <span class="relative">
        <.solution_item
          image_container_id="invoicing-images"
          index={1}
        >
          Integracja z kontami firmowymi - także zagranicznymi.
        </.solution_item>
        <img
          id="functionality-arrow"
          src={~p"/images/functionality_arrow.svg"}
          alt=""
          class="pointer-events-none absolute top-[-42px] left-[118%] scale-[1.4] hidden lg:block"
        />
      </span>
      <.solution_item image_container_id="invoicing-images" index={2}>
        Automatyczne łączenie faktur z transakcjami.
      </.solution_item>
    </:solutions>
    <:image>
      <div
        id="invoicing-images"
        class="relative flex justify-center md:justify-end w-full h-full items-center [&_img]:pointer-events-none [&_img]:transition-opacity [&_img]:absolute [&_img]:left-1/2 [&_img]:top-1/2 [&_img]:-translate-x-1/2 [&_img]:-translate-y-1/2 [&_img]:w-auto [&_img]:max-h-full [&_img]:object-scale-down [&_img]:duration-[400ms]"
      >
        <%!-- Arrow with text --%>
        <img
          id="invoicing-example-1"
          src={~p"/images/invoice_upload.png"}
          alt=""
          class="opacity-0 max-w-[90%]"
        />

        <img
          id="invoicing-example-2"
          src={~p"/images/invoice_matching.png"}
          alt=""
          class="opacity-0 max-w-[668px]"
        />

        <img
          id="invoicing-example-3"
          src={~p"/images/bank_linking.png"}
          alt=""
          class="opacity-0 max-w-[678px]"
        />

        <img
          id="default-photo"
          src={~p"/images/figurine.png"}
          alt=""
          class="aspect-[782/508] h-[91%] self-center lg:flex hidden opacity-[0.03]"
        />
      </div>

      <%!-- <img
        src={~p"/images/invoice_linking_frame.svg"}
        alt=""
        class="pointer-events-none h-full aspect-[782/508] w-[200%] object-left object-cover lg:flex hidden"
      /> --%>
    </:image>
  </.feature_section>

  <%!-- Highlight Banner --%>
  <.highlight_banner class="hidden">
    <strong class="font-bold">Firmowid</strong>
    automatycznie dopasuje pasujące transakcje do faktur&nbsp;&#8209;&nbsp;<strong class="font-bold">porządek w księgowości</strong>, to jego drugie imię.
    <:cta>
      <a
        href="#video"
        class="inline-flex flex-col items-center px-8 pt-4 mb-2 text-base font-medium text-darkGrey hover:text-black transition-colors duration-500"
      >
        Zobacz filmik
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M7 6L12 11L17 6"
            stroke="#A5582B"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M7 13L12 18L17 13"
            stroke="#8B3F13"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </a>
    </:cta>
  </.highlight_banner>

  <%!-- Video Placeholder --%>
  <.video_placeholder id="video" class="hidden scroll-mt-[120px]" />

  <%!-- Czasośledź Section --%>
  <.timetracker_section id="czasosledz">
    <:tags>
      <.tag label="ewidencja" />
      <.tag label="czas pracy" />
    </:tags>
    <:title>Czasośledź</:title>
    <:description_one>
      Twoi pracownicy liczą swój czas pracy godzinowo, a Ty w sumie dalej nie
      wiesz, ile naprawdę kosztuje praca zespołu i jak efektywnie
      wykorzystywany jest ten czas?
    </:description_one>
    <:description_two>
      Spokojnie, Firmowid ma wszystko pod kontrolą.
    </:description_two>
    <:left_title>Monitorowanie czasu pracowników</:left_title>
    <:left_description>
      Firmowid rejestruje czas pracy, przypisuje go do
      projektów i pokazuje realne koszty oraz obciążenie
      pracowników.
    </:left_description>
    <:left_content>
      <img
        src={~p"/images/timetracking.svg"}
        alt=""
        class="pointer-events-none h-full"
      />
    </:left_content>
    <:right_title>Ewidencja</:right_title>
    <:right_description>
      Dzięki Firmowidowi nie musisz już głowić się, czy dany pracownik
      wysłał Ci ewidencję - wszystko masz jak na dłoni.
    </:right_description>
    <:right_content>
      <img
        src={~p"/images/employee_records.svg"}
        alt=""
        class="pointer-events-none h-full"
      />
    </:right_content>
  </.timetracker_section>

  <.budget_analysis class="hidden" />

  <%!-- Budget Analysis Section --%>
  <.feature_section id="analiza" class="hidden">
    <:solution_title>Rozwiązanie Firmowida</:solution_title>
    <:solution_subtitle>Z Firmowidem budżetowanie robi się samo.</:solution_subtitle>
    <:solutions>
      <.solution_item>Monitorowanie budżetu w czasie rzeczywistym</.solution_item>
      <.solution_item>Wykrywanie odchyleń</.solution_item>
      <.solution_item>Przewidywanie budżetu</.solution_item>
    </:solutions>
    <:image>
      <.mockup
        label="Budget dashboard"
        class="flex aspect-[798/375] max-h-[374px] w-full"
      />
    </:image>
  </.feature_section>

  <%!-- CTA & Footer combined --%>
  <.cta_footer />
</div>
