<.header>
  Bank account <%= @bank_account.id %>
  <:subtitle>This is a bank_account record from your database.</:subtitle>
  <:actions>
    <.link patch={~p"/bank_accounts/#{@bank_account}/show/edit"} phx-click={JS.push_focus()}>
      <.button>Edit bank_account</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Iban"><%= @bank_account.iban %></:item>
</.list>

<.back navigate={~p"/bank_accounts"}>Back to bank_accounts</.back>

<.modal :if={@live_action == :edit} id="bank_account-modal" show on_cancel={JS.patch(~p"/bank_accounts/#{@bank_account}")}>
  <.live_component
    module={FirmowidWeb.BankAccountLive.FormComponent}
    id={@bank_account.id}
    title={@page_title}
    action={@live_action}
    bank_account={@bank_account}
    patch={~p"/bank_accounts/#{@bank_account}"}
  />
</.modal>
