<main class="prose">
  <h1>Finanse</h1>
  <ul>
    <.link navigate={~p"/finances/budget"}>
      <li>Budżet</li>
    </.link>
    <.link navigate={~p"/finances/imported-transactions"}>
      <li>
        Wszystko z Twojego konta
      </li>
    </.link>
  </ul>
</main>
