<div class="flex flex-col gap-4 py-8 px-8 justify-center items-center min-h-screen">
  <h1 class="text-brand flex items-center text-sm font-semibold leading-6">
    Firmowid
  </h1>
  <p class="text-[2rem] font-semibold leading-10 tracking-tighter text-zinc-900 text-balance">
    Zarządzanie firmą znów może być przyjemne
  </p>
  <p class="text-base leading-7 text-zinc-600">
    Finanse, dokumenty i pracownicy - wszystko w jednym miejscu. Najlepsze
    narzędzie dla małych firm.
  </p>
  <.link class="pt-8" navigate={~p"/finances"}>
    <.button>
      Ułatw sobie życie
    </.button>
  </.link>
</div>
