<section class="container mx-auto flex flex-col gap-8 pt-4">
  <.limit_warning check_result={@bank_connections_limit_check} type={:bank_connections} />

  <.header>
    Dodaj konto bankowe
  </.header>

  <div class="flex flex-col gap-1">
    <p class="m-0">
      Za pomocą rozwiązania naszego partnera, GoCardless, połączymy Twoje konto z
      Firmowidem.
    </p>
    <p class="m-0">
      Sprawi to, że transakcje będą automatycznie synchronizowane, a
      faktury automatycznie dopasowywane.
    </p>
  </div>

  <%= if is_nil(@requisition_link) do %>
    <div class="grid grid-cols-1 items-center gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
      <form
        id="instiution-SANDBOXFINANCE_SFIN0000"
        phx-submit="institution_selected"
        phx-value-institution-id="SANDBOXFINANCE_SFIN0000"
        phx-value-institution-transaction-total-days={90}
        phx-hook="Tippy"
        data-tippy-content="Kliknij aby dodać konto bankowe przygotowane przez nas, które zawiera kilkanaście transakcji i pozwala przetestować system."
      >
        <button class="flex size-full flex-col items-center justify-center gap-4 rounded-xl border-2 border-black/20 bg-white p-4 text-center transition-all hover:border-black hover:bg-white/10">
          <div class="size-full text-center">
            <.icon name="hero-archive-box-x-mark-solid" class="size-20" />
          </div>
          <p>
            Testowe konto zastępcze
          </p>
        </button>
      </form>
      <%= for instiution <- @available_institutions do %>
        <form
          id={"instiution-#{instiution["id"]}"}
          phx-submit="institution_selected"
          phx-value-institution-id={instiution["id"]}
          phx-value-institution-transaction-total-days={instiution["transaction_total_days"]}
        >
          <button class="flex size-full flex-col items-center justify-center gap-4 rounded-xl border-2 border-black/20 bg-white p-4 text-center transition-all hover:border-black hover:bg-white/10">
            <img src={instiution["logo"]} class="h-20 w-auto" />
            <p>
              {instiution["name"]}
            </p>
          </button>
        </form>
      <% end %>
    </div>
  <% else %>
    <a class="text-xl font-bold underline" href={@requisition_link}>
      Kliknij, aby potwierdzić połączenie
      <.icon name="hero-arrow-right-start-on-rectangle" class="size-8" />
    </a>
  <% end %>
</section>
