<div class="flex flex-col gap-4 text-black/70">
  <div class="flex items-center justify-between">
    <form class="flex gap-2" phx-submit="search">
      <.date_picker
        id="month"
        selected_date={@filter_date}
        class="w-48 gap-2"
      />
      <div class={[
        @search_expanded && "focus-within:ring-2",
        "flex items-center justify-center bg-greyButtonBg rounded-md min-w-10 transition-shadow"
      ]}>
        <.input
          type="text"
          name="q"
          value={@search}
          placeholder="Szukaj pracownika"
          phx-change="search"
          phx-debounce="300"
          input_class="py-0 px-1 bg-transparent border-none"
          class={[
            "transition-[width,opacity,padding] duration-300 ease-in-out border-transparent",
            "focus:border-none focus:ring-0 focus:outline-none",
            @search_expanded && "w-64 opacity-100 px-2 py-1",
            !@search_expanded && "w-0 opacity-0 px-0"
          ]}
        />
        <.button
          type="button"
          phx-click="toggle_search"
          class="p-2 rounded-full bg-transparent text-darkGrey border-none"
          id="search-button"
        >
          <.icon name="hero-magnifying-glass" class="w-5 h-5" />
        </.button>
      </div>
    </form>

    <div class="flex flex-col gap-10">
      <.button
        class={classes(["ml-2", button_styles(%{color: "black"})])}
        phx-click="create_employee"
      >
        <.icon name="hero-plus-mini" class="size-6 mr-1.5" /> Dodaj pracownika
      </.button>

      <.switch
        label="Widok wypłat"
        field={@form[:viewing_wages]}
        phx-click="toggle_wages_view"
      />
    </div>
  </div>

  <div class="flex gap-2 text-sm font-semibold">
    <%= for {archived, label} <- [
        {false, "Wszyscy"},
        {true, "Zarchiwizowani"},
    ] do %>
      <.button
        class={[
          @archived == archived && "!bg-darkGrey !text-white !rounded-lg",
          "relative text-darkGrey text-center bg-lightGreyBg",
          "hover:bg-greyButtonBg py-1 px-3 text-sm font-normal leading-6",
          "flex items-center justify-center uppercase border-none text-sm"
        ]}
        phx-click="change_archived_filter"
        phx-value-archived={if archived, do: "true", else: "false"}
      >
        {label}
      </.button>
    <% end %>
  </div>

  <div class="flex gap-2 md:gap-6 lg:gap-10">
    <form
      phx-submit="save_wages"
      class="grid grid-cols-6 w-full gap-x-4"
    >
      <%!-- TODO?: replace this with a html table --%>
      <div class="grid grid-cols-subgrid col-span-full items-center gap-4 text-xs uppercase text-darkGrey px-4 py-2 font-medium">
        <div class="my-1">Pracownik</div>
        <div>Przepracowane godziny</div>
        <%= if @view != :standard do %>
          <div class="flex gap-2">
            <button
              id="wage-editor-toggle"
              class={[
                "flex gap-2 items-center bg-greyButtonBg rounded px-3 py-1 uppercase font-semibold"
              ]}
              phx-click="toggle_wage_editor"
              phx-hook="ConfirmLeave"
              data-unsaved={@view == :wage_editor}
              type="button"
            >
              <%= if @view == :wage_editor do %>
                <.icon name="hero-arrow-uturn-left" class="size-4 semibold" />
              <% else %>
                Stawka <.icon name="hero-pencil-square-solid" class="size-4" />
              <% end %>
            </button>
            <%= if @view == :wage_editor do %>
              <button
                class="bg-redBg text-redText rounded uppercase px-3 py-1 font-semibold"
                type="submit"
              >
                Zapisz
              </button>
            <% end %>
          </div>
          <div>Wynagrodzenie</div>
        <% end %>
      </div>

      <%= for employee <- @employees do %>
        <div class="grid grid-cols-subgrid col-span-5 items-center gap-4 bg-white rounded-md px-4 py-3 my-2 h-16">
          <div class="flex items-center gap-3 group peer">
            <.avatar><.icon name="hero-user" class="h-8 w-8" /></.avatar>
            <.link
              navigate={~p"/zarzadzanie/pracownicy/#{employee.user.id}"}
              class="text-black border-b border-transparent group-hover:border-black transition-colors"
            >
              {employee.user.name || employee.user.email}
            </.link>
          </div>

          <div class="text-sm text-black">
            {TimeConverter.time_worked_in_seconds_to_hours(employee.time_worked)} h
          </div>

          <%= if @view != :standard do %>
            <.input
              type="number"
              class="flex flex-row-reverse gap-2 min-w-max items-center text-sm text-black justify-end m-0"
              label="zł/godz."
              input_size={4}
              input_class={
                [
                  @view == :wages && "border-transparent px-0",
                  @view == :wage_editor && "border-greyButtonBg text-darkGrey",
                  "!w-min py-1 !text-right [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
                ]
                |> Enum.join(" ")
              }
              step="0.01"
              min="0"
              name={"employee[#{employee.user.id}][wage]"}
              value={employee.hourly_rate || 0}
              disabled={@view == :wages}
            />
            <div class="text-sm font-semibold text-black">
              {:erlang.float_to_binary(
                Decimal.to_float(employee.hourly_rate || Decimal.new(0)) *
                  TimeConverter.time_worked_in_seconds_to_hours(employee.time_worked),
                decimals: 2
              )} PLN
            </div>
          <% end %>
          <.icon
            name="hero-chevron-right"
            class={
              [
                @view == :standard && "col-span-3",
                "h-5 w-5 ml-auto peer-hover:text-black transition-colors"
              ]
              |> Enum.join(" ")
            }
          />
        </div>
        <div class="flex items-center gap-3 bg-white rounded-md p-3 my-2 h-16">
          <span
            title="Ewidencja"
            class="icon-btn uppercase text-sm bg-greyButtonBg w-32 flex items-center justify-between py-1 px-2 rounded-md"
          >
            Brak <.icon name="hero-x-mark" class="h-5" />
          </span>
          <button title="Pobierz" disabled type="button">
            <.icon name="hero-document text-black/20 cursor-not-allowed" />
          </button>
          <button
            title="Zwrot"
            type="button"
            onclick={"navigator.clipboard.writeText('#{employee.user.id}')"}
            phx-click="employee_bank_number_copied"
            class="hover:text-black transition-colors"
          >
            <.icon name="hero-credit-card" />
          </button>
        </div>
      <% end %>
    </form>
  </div>
</div>
