<div class="flex flex-col gap-4 text-black/70 pl-[72px] pr-12 mt-4">
  <div class="flex items-center justify-between">
    <form class="flex gap-5" phx-submit="search">
      <.date_picker
        id="month"
        selected_date={@filter_date}
        active_months={@active_months}
        class="w-60 rounded-[5px] gap-2 py-[7px] px-4 font-medium"
      />
      <div class={[
        @search_expanded && "focus-within:ring-2",
        "flex items-center justify-center bg-greyButtonBg rounded-[5px] min-w-10 transition-shadow"
      ]}>
        <.input
          type="text"
          name="q"
          value={@search}
          placeholder="Szukaj pracownika"
          phx-change="search"
          phx-debounce="300"
          input_class="py-0 px-1 bg-transparent border-none"
          class={[
            "transition-[width,opacity,padding] duration-300 ease-in-out border-transparent",
            "focus:border-none focus:ring-0 focus:outline-none",
            @search_expanded && "w-64 opacity-100 px-2 py-1",
            !@search_expanded && "w-0 opacity-0 px-0"
          ]}
        />
        <.button
          type="button"
          phx-click="toggle_search"
          class="p-2 bg-transparent text-darkGrey border-none flex"
          id="search-button"
        >
          <.icon name="hero-magnifying-glass" class="w-5 h-5" />
        </.button>
      </div>
    </form>

    <.button
      class="ml-2 text-black/80 flex items-center py-[6px] pr-4 pl-2.5 font-medium rounded-[5px]"
      phx-click="create_employee"
      color="light_grey"
    >
      <.icon name="hero-plus-mini" class="size-6 mr-1" /> Dodaj pracownika
    </.button>
  </div>

  <div class="flex gap-4 text-sm font-semibold mt-3.5">
    <%= for {archived, label} <- [
        {false, "Wszyscy"},
        {true, "Zarchiwizowani"},
    ] do %>
      <.button
        class={[
          @archived == archived && "!bg-darkGrey !text-white !rounded-[5px]",
          "relative text-darkGrey text-center bg-lightGreyBg",
          "hover:bg-greyButtonBg py-1.5 px-2 text-sm font-medium leading-6",
          "flex items-center justify-center uppercase border-none text-sm"
        ]}
        phx-click="change_archived_filter"
        phx-value-archived={if archived, do: "true", else: "false"}
      >
        {label}
      </.button>
    <% end %>
    <.switch
      class="ml-auto mt-3 flex-row-reverse gap-4"
      label="Widok wypłat"
      field={@form[:viewing_wages]}
      phx-click="toggle_wages_view"
    />
  </div>

  <form
    phx-submit="save_wages"
    class={[
      @view == :standard && "grid-cols-[8fr_auto_24px_240px]",
      @view != :standard && "grid-cols-[5fr_minmax(max-content,2fr)_1.5fr_1fr_24px_240px]",
      "grid w-full gap-x-10 gap-y-2 mt-3"
    ]}
  >
    <div class="grid grid-cols-subgrid col-span-full items-center gap-x-4 text-[11px] uppercase text-grey-600 px-2 font-semibold mb-1.5">
      <div class="my-1">Pracownik</div>
      <div>Przepracowane godziny</div>
      <%= if @view != :standard do %>
        <div class="flex gap-2 -mt-1">
          <button
            id="wage-editor-toggle"
            class={[
              @view == :wage_editor && "px-3",
              @view != :wage_editor && "ml-3 pl-2",
              "flex gap-2 items-center bg-greyButtonBg rounded p-1 uppercase font-semibold text-darkGrey text-xs"
            ]}
            phx-click="toggle_wage_editor"
            phx-hook="ConfirmLeave"
            data-unsaved={@view == :wage_editor}
            type="button"
          >
            <%= if @view == :wage_editor do %>
              <.arrow_left_icon />
            <% else %>
              Stawka <.icon name="hero-pencil-square-solid" class="size-4" />
            <% end %>
          </button>
          <%= if @view == :wage_editor do %>
            <button
              class="bg-redBg text-redText rounded uppercase px-3 py-1 font-bold text-[11px]"
              type="submit"
            >
              Zapisz
            </button>
          <% end %>
        </div>
        <div>Wynagrodzenie</div>
      <% end %>
    </div>
    <%= if length(@employees) == 0 do %>
      <div class="col-span-full text-center text-darkGrey py-10">
        Brak wyników. Spróbuj zmienić kryteria wyszukiwania.
      </div>
    <% else %>
      <%= for employee <- @employees do %>
        <div class={[
          @view == :standard && "col-span-3",
          @view != :standard && "col-span-5",
          "group grid grid-cols-subgrid items-center gap-4 bg-white rounded-[5px] px-4 py-3 h-16"
        ]}>
          <div class="flex items-center gap-3 peer">
            <.avatar><.icon name="hero-user" class="h-8 w-8" /></.avatar>
            <.link
              navigate={~p"/zarzadzanie/pracownicy/#{employee.user.id}"}
              class="text-black border-b border-transparent group-hover:border-black transition-colors"
            >
              {employee.user.name || employee.user.email}
            </.link>
          </div>

          <div class={[
            @view == :standard && "ml-auto",
            "text-black"
          ]}>
            {TimeConverter.time_worked_in_seconds_to_hours(employee.time_worked)} {if @view ==
                                                                                        :standard,
                                                                                      do: "h",
                                                                                      else:
                                                                                        "godz."}
          </div>

          <%= if @view != :standard do %>
            <.input
              type="number"
              class="flex flex-row-reverse gap-1 min-w-max items-center text-base text-black justify-end m-0"
              label="zł/godz."
              input_size={2}
              input_class={
                [
                  @view == :wages && "border-transparent px-0",
                  @view == :wage_editor && "border-greyButtonBg text-darkGrey",
                  "!w-min py-1 !text-right !text-base [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
                ]
                |> Enum.join(" ")
              }
              step="0.01"
              min="0"
              name={"employee[#{employee.user.id}][wage]"}
              value={Decimal.round(employee.hourly_rate || 0)}
              disabled={@view == :wages}
            />
            <div class="font-semibold text-black text-right">
              {:PLN
              |> Money.new(
                Decimal.mult(
                  employee.hourly_rate || 0,
                  Decimal.new(TimeConverter.time_worked_in_seconds_to_hours(employee.time_worked))
                )
              )
              |> Money.to_string!(fractional_digits: 0, currency_symbol: "PLN")}
            </div>
          <% end %>
          <.link
            navigate={~p"/zarzadzanie/pracownicy/#{employee.user.id}"}
            class="self-stretch pl-1 flex items-center"
          >
            <.chevron_right_icon class="h-4 w-4 mb-0.5" />
          </.link>
        </div>
        <div class="flex items-center gap-6 bg-white rounded-[5px] pl-4 pr-5 h-16">
          <span class="text-[11px] font-semibold text-darkGrey bg-greyButtonBg pl-2 pr-1 py-[4px] uppercase rounded-[5px] flex items-center justify-between flex-1 gap-1">
            Brak <.icon name="hero-x-mark-micro" />
          </span>
          <.document_x_icon class="stroke-greyButtonBg shrink-0 mr-[5px] mb-[1px]" />
          <button
            title="Numer konta"
            type="button"
            onclick={"navigator.clipboard.writeText('#{employee.user.id}')"}
            phx-click="employee_bank_number_copied"
            class="hover:text-black transition-colors mb-0.5"
          >
            <.icon name="hero-credit-card" />
          </button>
        </div>
      <% end %>
    <% end %>
  </form>
</div>
