<%= if is_nil(@employee) do %>
  <div class="flex justify-center p-6">
    <div>
      <h2 class="text-xl font-semibold mb-4">Pracownik nie znaleziony</h2>
      <p class="mb-4">Nie znaleziono pracownika o podanym identyfikatorze.</p>
      <.return_to_employees_list />
    </div>
  </div>
<% else %>
  <div class="flex gap-10">
    <div class="space-y-8 mt-4">
      <.link navigate={~p"/zarzadzanie/pracownicy"} class="flex gap-4 items-center ">
        <.icon name="hero-arrow-left-circle-solid" />
        <span class="text-darkGrey">Pracownicy</span>
      </.link>
      <.card class="ml-10">
        <div class="flex gap-2">
          <.icon name="hero-user" class="size-16 mb-2 text-darkGrey" />
          <div>
            <div class="text-lg font-bold">{@employee.name || "Jan Beznazwiskowy"}</div>
            <div class="text-darkGrey text-sm flex gap-2 items-center">
              <img src="/images/slack.png" alt="slack logo" width={24} height={24} />napisz na Slacku
            </div>
          </div>
        </div>
        <.user_card_info label="Numer telefonu">+48 123 456 789</.user_card_info>
        <.user_card_info label="Adres e-mail">{@employee.email}</.user_card_info>
        <.user_card_info label="Numer konta bankowego">
          <span>12 3456 7890 1234 5678 9012 3456</span>

          <button
            id="copy-bank-account-number"
            onclick="navigator.clipboard.writeText('12 3456 7890 1234 5678 9012 3456')"
            type="button"
            class={[
              "h-6 w-6 text-darkGrey rounded-md",
              "bg-greyButtonBg self-center justify-self-end",
              "shrink-0 flex flex-row justify-center items-center",
              "hover:border-darkGrey border border-transparent",
              "active:bg-darkGrey active:text-lightGreyBg",
              "transition-all transition-duration-300"
            ]}
          >
            <.icon name="hero-clipboard-document-solid" class="w-4 h-4" />
          </button>
        </.user_card_info>

        <.user_card_info label="Projekty">
          <div class="flex flex-wrap gap-2 mt-2 text-sm">
            <%= for project <- @projects do %>
              <div
                navigate={~p"/zarzadzanie/projekty"}
                class="bg-blueBg text-blueText rounded-full px-4 py-1 font-semibold"
              >
                {project.name}
              </div>
            <% end %>
          </div>
        </.user_card_info>
      </.card>
    </div>
    <div class="mt-8">
      <div class="flex gap-10 px-10">
        <%= for {_should_show, {tab, label}} <-
            [

              {true, {"projekty", "Projekty i ewidencja"}},
              {true, {"profil", "Profil pracownika"}},
              {true, {"dokumenty", "Dokumenty"}},
              {true, {"urlopy", "Urlopy"}}
            ] |> Enum.filter(&elem(&1, 0))
           do %>
          <.link
            patch={~p"/zarzadzanie/pracownicy/#{@employee.id}?tab=#{tab}"}
            class={
              classes([
                "phx-click-loading:opacity-50 py-2 px-4 rounded-t-md font-medium text-darkGrey",
                "hover:text-black",
                @tab == tab &&
                  "bg-white text-black shadow-[0_-2px_4px_rgba(0,0,0,0.1),_2px_0_4px_rgba(0,0,0,0.05),_-2px_0_4px_rgba(0,0,0,0.05)]"
              ])
            }
          >
            {label}
          </.link>
        <% end %>
      </div>
      <%= case @tab do %>
        <% "projekty" -> %>
          <.employee_projects_tab employee={@employee} projects={@projects} />
        <% "profil" -> %>
          <.employee_profile_tab employee={@employee} />
        <% "dokumenty" -> %>
          <.employee_documents_tab employee={@employee} />
        <% "urlopy" -> %>
          <.employee_leaves_tab employee={@employee} />
        <% _ -> %>
          unknown tab
      <% end %>
    </div>
  </div>
<% end %>
