<%= if @current_user && !is_nil(@current_user.organization_id) do %>
  <%!-- simulates the navbar height, so the content does not jump when the navbar collapses --%>
  <%= if String.starts_with?(@current_uri.path, "/zarzadzanie") do %>
    <div class="h-navbar-management bg-lightGreyBg w-full" />
  <% end %>
  <nav class={[
    if(String.starts_with?(@current_uri.path, "/zarzadzanie"), do: "fixed", else: "sticky"),
    "top-0 left-0 right-0 z-50 px-4 sm:px-6 lg:px-8 bg-black"
  ]}>
    <div
      class={[
        "text-white flex",
        "items-center justify-between h-navbar py-6",
        "text-sm transition-all"
      ]}
      id="navbar-main"
      phx-hook="CollapsibleNavbar"
      data-classes={
        String.starts_with?(@current_uri.path, "/zarzadzanie") &&
          "!h-0 !py-0 overflow-hidden"
      }
    >
      <.link
        navigate={~p"/"}
        class="font-extrabold text-xl inline-block flex-1 mt-0.5 tracking-wide text-offwhite"
      >
        Firmowid
      </.link>
      <div class={[
        String.starts_with?(@current_uri.path, "/zarzadzanie") &&
          "border-b py-[18px]",
        "flex uppercase items-center gap-10 max-md:hidden border-darkGrey"
      ]}>
        <%= if Bodyguard.permit?(Firmowid.Invoicing, :show, @current_user) do %>
          <.link
            navigate={~p"/fakturowanie"}
            class={[
              !String.starts_with?(@current_uri.path, "/analiza") &&
                !String.starts_with?(@current_uri.path, "/czasosledz") &&
                !String.starts_with?(@current_uri.path, "/zarzadzanie") && "opacity-90",
              "flex items-center gap-2 transition-all hover:opacity-100 opacity-50"
            ]}
          >
            <.icon name="hero-clipboard-document-list" class="w-5 h-5" /> Fakturowanie
          </.link>
        <% end %>
        <%= if Bodyguard.permit?(Firmowid.Analysis, :read, @current_user) and FunWithFlags.enabled?(:advanced_features, for: @current_user) do %>
          <.link
            navigate={~p"/analiza"}
            class={[
              String.starts_with?(@current_uri.path, "/analiza") && "opacity-90",
              "flex items-center gap-2 transition-all hover:opacity-100 opacity-50"
            ]}
          >
            <.icon name="hero-scale" class="w-5 h-5" /> Analiza
          </.link>
        <% end %>
        <.link
          navigate={~p"/czasosledz"}
          class={[
            String.starts_with?(@current_uri.path, "/czasosledz") && "opacity-90",
            "flex items-center gap-2 transition-all hover:opacity-100 opacity-50"
          ]}
        >
          <.icon name="hero-clock" class="w-5 h-5" /> Czasośledź
          <span
            id="czasosledz-beta"
            class="text-xs bg-white/20 rounded px-1.5 py-0.5 ml-1"
            phx-hook="Tippy"
            data-tippy-content="Prace nad tą funkcjonalnością jeszcze trwają! Twój feedback pozwoli nam sprawić, że będzie jeszcze lepsza."
          >
            BETA
          </span>
        </.link>
        <%= if Bodyguard.permit?(Firmowid.Analysis, :read, @current_user) and FunWithFlags.enabled?(:advanced_features, for: @current_user) do %>
          <.link
            navigate={~p"/zarzadzanie/pracownicy"}
            class={[
              String.starts_with?(@current_uri.path, "/zarzadzanie") && "opacity-90",
              "flex items-center gap-2 transition-all hover:opacity-100 opacity-50"
            ]}
          >
            <.icon
              name="hero-presentation-chart-line"
              class="w-5 h-5"
            /> Zarządzanie
          </.link>
        <% end %>
      </div>

      <div class="relative max-md:hidden flex-1 text-right flex justify-end">
        <div class="relative">
          <button
            phx-click={
              JS.toggle(
                to: "#dropdown_content",
                in:
                  {"transition-all transform ease-in", "opacity-0 scale-95",
                   "opacity-100 scale-100"},
                out:
                  {"transition-all transform ease-in duration-200",
                   "opacity-100 translate-y-0 sm:scale-100",
                   "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"},
                display: "flex"
              )
              |> JS.toggle_class("invert", to: "#dropdown_button")
            }
            id="dropdown_button"
            phx-click-away={
              hide("#dropdown_content") |> JS.remove_class("invert", to: "#dropdown_button")
            }
            phx-window-keydown={
              hide("#dropdown_content") |> JS.remove_class("invert", to: "#dropdown_button")
            }
            phx-key="Escape"
            class="bg-black transition p-2 py-3 hover:invert rounded-md w-full flex justify-end"
            title={@current_user.email}
          >
            <.icon name="hero-user" class="w-5 h-5 mr-1" />
            <span class="lowercase text-sm max-lg:hidden">
              {@current_user.email}
            </span>
          </button>
          <div
            id="dropdown_content"
            style="display: none"
            class="absolute flex-col font-semibold p-3 rounded-md gap-2 right-0
        w-full top-[70px] bg-black text-left max-lg:w-auto z-50"
          >
            <.link navigate={~p"/ustawienia"} class="rounded-md p-2 hover:bg-darkGrey/50">
              Ustawienia
            </.link>
            <%= if Bodyguard.permit?(Firmowid.Finances, :read_bank_accounts, @current_user) do %>
              <.link
                navigate={~p"/ustawienia/konta-bankowe"}
                class="rounded-md p-2 hover:bg-darkGrey/50"
              >
                Konta bankowe
              </.link>
            <% end %>
            <.link
              href={~p"/wyloguj"}
              method="delete"
              class="rounded-md p-2 hover:bg-darkGrey/50 flex justify-between"
            >
              Wyloguj się <.icon name="hero-arrow-right-start-on-rectangle" />
            </.link>
          </div>
        </div>
      </div>
    </div>
    <%= if String.starts_with?(@current_uri.path, "/zarzadzanie") do %>
      <div class="grid grid-cols-3 gap-4 items-center py-2.5 w-full text-white/50 font-semibold">
        <.link
          navigate={~p"/"}
          class="font-bold inline-block text-offwhite opacity-0 transition-opacity mr-auto tracking-wide mt-0.5"
          id="firmowid-logo-management"
          phx-hook="CollapsibleNavbar"
          data-classes="opacity-100"
        >
          Firmowid
        </.link>
        <div class="uppercase flex justify-center gap-14 text-sm">
          <.link
            navigate="/zarzadzanie/pracownicy"
            class={[
              "hover:text-white transition-colors",
              String.starts_with?(@current_uri.path, "/zarzadzanie/pracownicy") &&
                "text-white/90"
            ]}
          >
            Pracownicy
          </.link>
          <.link
            navigate="/zarzadzanie/projekty"
            class={[
              "hover:text-white transition-colors",
              String.starts_with?(@current_uri.path, "/zarzadzanie/projekty") && "text-white/90"
            ]}
          >
            Projekty
          </.link>
          <.link
            navigate="/zarzadzanie/kontrahenci"
            class={[
              "hover:text-white transition-colors",
              String.starts_with?(@current_uri.path, "/zarzadzanie/kontrahenci") &&
                "text-white/90"
            ]}
          >
            Kontrahenci
          </.link>
        </div>
        <button
          class="text-white cursor-pointer opacity-0 ml-auto relative flex size-6 transition-opacity"
          id="navbar-burger-button"
          phx-hook="CollapsibleNavbar"
          data-classes="opacity-100"
          data-is-override-button="true"
        >
          <span class="burger-icon">
            <.icon name="hero-bars-3" />
          </span>
          <span class="x-icon absolute inset-0 hidden">
            <.icon name="hero-x-mark" />
          </span>
        </button>
      </div>
    <% end %>
  </nav>
<% end %>

<main class={
  classes([
    is_nil(assigns[:no_padding]) &&
      "px-4 py-4 sm:px-6 lg:px-8",
    "flex-1 bg-lightGreyBg",
    assigns[:main_class]
  ])
}>
  <div class="mx-auto">
    <LiveToast.toast_group
      flash={@flash}
      kinds={[:info, :error, :success, :notice]}
      connected={assigns[:socket] != nil}
      toasts_sync={assigns[:toasts_sync]}
      toast_class_fn={&FirmowidWeb.toast_class_fn/1}
    />
    {@inner_content}
  </div>
</main>
