<nav class="px-4 sm:px-6 lg:px-8 bg-black text-white flex items-center uppercase 
  justify-between py-6 text-sm sticky top-0 z-50">
  <.link navigate={~p"/"} class="font-bold text-xl">
    Firmowid
  </.link>
  <%= if @current_user do %>
    <div class="flex items-center gap-16 max-md:hidden">
      <.link navigate={~p"/"} class="hover:underline flex items-center gap-2">
        <.icon name="hero-document-duplicate" class="w-5 h-5" /> Dokumenty
      </.link>
      <div class="flex items-center gap-2 opacity-20">
        <.icon name="hero-presentation-chart-line" class="w-5 h-5" /> Budżet
      </div>
      <div class="flex items-center gap-2 opacity-20">
        <.icon name="hero-clock" class="w-5 h-5" /> Czasośledź
      </div>
    </div>
    <div>
      <.link navigate={~p"/settings"}>
        <.icon name="hero-user" class="w-5 h-5 mr-1" />
        <span class="lowercase text-xs max-md:hidden">
          <%= @current_user.email %>
        </span>
      </.link>
    </div>
  <% end %>
</nav>

<main class={[
  is_nil(assigns[:no_padding]) &&
    "px-4 py-4 sm:px-6 lg:px-8"
]}>
  <div class="mx-auto">
    <LiveToast.toast_group
      flash={@flash}
      connected={assigns[:socket] != nil}
      toast_class_fn={&FirmowidWeb.toast_class_fn/1}
    />
    <%= @inner_content %>
  </div>
</main>

<script type="module" src="https://cdn.jsdelivr.net/npm/pdfjs-dist@4.7.76/build/pdf.min.mjs">
</script>
<script src="https://unpkg.com/popper.js@1">
</script>
<script src="https://unpkg.com/tippy.js@4">
</script>
<script src="https://cdn.jsdelivr.net/npm/air-datepicker@3.5.3/air-datepicker.min.js">
</script>
