<div class="mx-8">
  <%= if @sales_invoice_id do %>
    <div
      id="invoice-preview"
      class="fixed group aria-expanded:translate-x-0 translate-x-full transition-transform flex right-0 top-36 box-border z-10"
    >
      <button
        phx-click={
          JS.toggle_attribute({"aria-expanded", "true", "false"}, to: "#invoice-preview")
        }
        class="bg-greyButtonBg gap-2 items-center h-10 rounded-l-md p-4 -translate-x-[30%] flex hover:-translate-x-full group-aria-expanded:translate-x-[70%] transition-transform"
      >
        <.icon name="hero-eye" class="group-aria-expanded:hidden w-7 h-7 stroke-2" />
        <.eye_closed_icon class="hidden group-aria-expanded:block w-7 h-7 stroke-2" />
        <p class="uppercase text-darkGrey text-xs opacity-0 z-0 group-aria-expanded:opacity-0 group-hover:opacity-100 transition-opacity">
          Wyświetl podgląd
        </p>
      </button>
      <div class="p-10 bg-greyButtonBg rounded-bl-md z-10">
        <div class="rounded-md overflow-hidden">
          <FirmowidWeb.PdfHTML.sales_invoice
            class="max-h-[calc(100vh-9rem-4*theme('spacing.10'))] overflow-y-scroll"
            sales_invoice={@sales_invoice}
            show_vat={@current_org.is_vat_payer}
            currency_rate={@currency_rate}
          />
        </div>
      </div>
    </div>
  <% end %>
  <div :if={@current_org.is_vat_payer} class="flex gap-8 mt-6">
    <p class="text-darkGrey">Rodzaj faktury</p>
    <div class="flex gap-2">
      <%= for {label, value} <- [{"Polska", :poland}, {"Zagraniczna",:foreign}] do %>
        <.button
          phx-click={
            JS.push("submit",
              value: %{
                "sales_invoice" => %{
                  "invoice_type" => value
                }
              }
            )
          }
          class={
            classes([
              "h-7 !px-2 !py-1 leading-tight rounded-md border border-greyButtonBg justify-end items-center",
              @sales_invoice.invoice_type == value && "bg-darkGrey text-greyButtonBg",
              @sales_invoice.invoice_type != value && "bg-lightGreyBg !text-darkGrey"
            ])
          }
        >
          <div class="text-sm font-medium">{label}</div>
        </.button>
      <% end %>
    </div>
  </div>
  <p class="text-darkGrey mt-8">Dane podstawowe</p>

  <.form
    for={@form}
    phx-submit="submit"
    phx-change="change"
    id="basic_info_form"
    class={[
      "flex items-end justify-start mt-4 p-4 gap-4 rounded-md",
      @sales_invoice.is_basic_info_confirmed &&
        "border-greyButtonBg border border-solid",
      !@sales_invoice.is_basic_info_confirmed &&
        "bg-greyButtonBg bg-opacity-50"
    ]}
  >
    <%= if @sales_invoice.is_basic_info_confirmed do %>
      <div class="grid w-full grid-cols-5">
        <div class="flex flex-col gap-2">
          <p class="text-sm leading-snug text-darkGrey" style="font-weight: 400;">
            Numer faktury
          </p>
          <p class="text-black">
            {@sales_invoice.invoice_number}
          </p>
        </div>
        <div class="flex flex-col gap-2">
          <p class="text-sm leading-snug text-darkGrey" style="font-weight: 400;">
            Data wystawienia
          </p>
          <p class="text-black">
            {@sales_invoice.issue_date |> Calendar.strftime("%d.%m.%Y")}
          </p>
        </div>
        <div class="flex flex-col gap-2">
          <p class="text-sm leading-snug text-darkGrey" style="font-weight: 400;">
            Data sprzedaży
          </p>
          <p class="text-black">
            {@sales_invoice.sale_date |> Calendar.strftime("%d.%m.%Y")}
          </p>
        </div>
        <div class="flex flex-col gap-2">
          <p class="text-sm leading-snug text-darkGrey" style="font-weight: 400;">
            Sposób płatności
          </p>
          <p class="text-black">
            {@sales_invoice.payment_method} | {@sales_invoice.currency}
          </p>
        </div>
        <div class="flex flex-col gap-2">
          <p class="text-sm leading-snug text-darkGrey" style="font-weight: 400;">
            Termin płatności
          </p>
          <p class="text-black">
            {case Date.diff(@sales_invoice.due_date, @sales_invoice.issue_date) do
              1 -> "1 dzień"
              diff -> "#{abs(diff)} dni"
            end} ({@sales_invoice.due_date |> Calendar.strftime("%d.%m.%Y")})
          </p>
        </div>
      </div>
      <.edit_button phx-click={
        JS.push("submit", value: %{"sales_invoice" => %{"is_basic_info_confirmed" => false}})
      } />
    <% else %>
      <.input
        field={@form[:invoice_number]}
        class="font-normal text-darkGrey"
        input_class="text-black"
        type="text"
        label="Numer faktury"
        required
      />
      <.input
        field={@form[:issue_date]}
        class="font-normal text-darkGrey"
        input_class="text-black"
        type="date"
        label="Data wystawienia"
        required
      />
      <.input
        field={@form[:sale_date]}
        class="font-normal text-darkGrey"
        input_class="text-black"
        type="date"
        label="Data sprzedaży"
        required
      />
      <div class="flex gap-2 items-end">
        <.input
          field={@form[:payment_method]}
          class="font-normal text-darkGrey"
          input_class="text-black"
          type="text"
          label="Sposób płatności"
          required
        />
        <.input
          field={@form[:currency]}
          type="select"
          required
          options={
            case @sales_invoice.invoice_type do
              :poland -> ["PLN"]
              :foreign -> ["EUR", "PLN"]
            end
          }
        />
      </div>
      <.input
        class="font-normal text-darkGrey"
        input_class="text-black"
        field={@form[:due_date]}
        type="date"
        label="Termin zapłaty"
        required
      />
      <.input type="hidden" class="hidden" field={@form[:is_basic_info_confirmed]} value="true" />
      <div class="flex-grow"></div>
      <.button phx-disable-with="Zapisywanie..." color="green">
        Zatwierdź
      </.button>
    <% end %>
  </.form>
  <div class="flex mt-16 gap-16 justify-between">
    <.seller_form
      is_seller_dirty={@is_seller_dirty}
      sales_invoice={@sales_invoice}
      seller_form={@form}
      bank_accounts={@bank_accounts}
    />
    <.buyer_form
      is_buyer_dirty={@is_buyer_dirty}
      sales_invoice={@sales_invoice}
      buyer_form={@form}
      nip_form={@nip_form}
      buyers={@buyers}
      buyer_form_state={@buyer_form_state}
    />
  </div>
  <div class="mt-16">
    <.sales_invoice_items_form
      sales_invoice={@sales_invoice}
      form={@form}
      show_vat={@current_org.is_vat_payer}
    />
    <div class="flex justify-between">
      <.form phx-change="submit" for={@form} class="mt-4">
        <%= if @sales_invoice.invoice_type==:poland and @current_org.is_vat_payer do %>
          <.input
            field={@form[:is_cash_account]}
            type="checkbox"
            label="Metoda kasowa"
            class="font-normal text-darkGrey"
          />
        <% end %>
        <%= if @sales_invoice.invoice_type==:foreign do %>
          <.input
            field={@form[:is_reverse_charge]}
            type="checkbox"
            class="font-normal text-darkGrey"
            label="Odwrotne obciążenie i nieopodatkowanie VAT"
          />
        <% end %>
      </.form>
      <div class="bg-greyButtonBg w-96 rounded-md px-4 py-3 mt-10 bg-opacity-30 ml-auto">
        <div class="flex flex-col justify-end">
          <%= if @sales_invoice.invoice_type==:poland do %>
            <div class="flex justify-between items-center mt-2">
              <span class="text-sm text-darkGrey">Suma netto</span>
              <span>
                {Money.new(
                  @sales_invoice.currency,
                  @sales_invoice |> Firmowid.SalesInvoices.SalesInvoice.get_net_value()
                )}
              </span>
            </div>
            <div class="flex justify-between mt-2 items-center">
              <span class="text-sm text-darkGrey">Suma VAT</span>
              <span>
                {Money.new(
                  @sales_invoice.currency,
                  @sales_invoice |> Firmowid.SalesInvoices.SalesInvoice.get_vat_value()
                )}
              </span>
            </div>
            <div class="flex justify-between items-center mt-3">
              <span class="text-sm text-darkGrey">Suma brutto</span>
              <span class="font-bold text-xl">
                {Money.new(
                  @sales_invoice.currency,
                  @sales_invoice |> Firmowid.SalesInvoices.SalesInvoice.get_gross_value()
                )}
              </span>
            </div>
          <% end %>
          <%= if @sales_invoice.invoice_type==:foreign do %>
            <%= if @sales_invoice.currency !="PLN" do %>
              <div class="flex gap-2 justify-between items-center">
                <div class="flex flex-col">
                  <span class="text-sm">Kurs 1 {@sales_invoice.currency}</span>
                  <span class="text-sm">
                    Przewalutowanie wg NBP <br /> z dnia:
                    <span class="font-bold">
                      {@currency_rate.effective_date
                      |> Date.from_iso8601!()
                      |> Calendar.strftime("%d.%m.%Y")}
                    </span>
                  </span>
                </div>
                <span>
                  {@currency_rate.rate
                  |> Decimal.from_float()
                  |> Decimal.round(4)} zł
                </span>
              </div>
            <% end %>
            <div class="flex justify-between items-center mt-3">
              <span class="text-sm">Suma {@sales_invoice.currency}:</span>
              <span class="font-bold text-xl">
                {Money.new(
                  @sales_invoice.currency,
                  @sales_invoice |> Firmowid.SalesInvoices.SalesInvoice.get_net_value()
                )}
              </span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="flex justify-end items-center gap-6 mb-8 mt-4">
      <%= if not is_nil(@sales_invoice_id) do %>
        <a
          href={"/sprzedazowe/#{@sales_invoice_id}/pobierz"}
          download="fakturka.pdf"
          class="hover:text-darkGrey transition-colors"
        >
          Pobierz
        </a>
      <% end %>

      <%= if !Firmowid.SalesInvoices.SalesInvoice.is_confirmed(@sales_invoice) do %>
        <.button disabled color="green">
          Zapisz fakturę
        </.button>
      <% else %>
        <.link
          navigate={~p"/sprzedazowe/#{@sales_invoice_id}"}
          class={button_styles(%{color: "green"})}
        >
          Zapisz fakturę
        </.link>
      <% end %>
    </div>
  </div>
</div>
