<div class="w-full flex items-center justify-end" phx-drop-target={@uploads[:file].ref}>
  <.simple_form phx-change="upload" phx-submit="upload" for={@form}>
    <div class="hidden">
      <.live_file_input upload={@uploads[:file]} />
    </div>
    <label
      for={@uploads[:file].ref}
      class="relative flex flex-row gap-4 items-center justify-center w-full border-2
      border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50
      hover:bg-gray-200 px-4 py-8"
    >
      <%= if length(@documents_pending_extraction) > 0 do %>
        <span class="absolute -top-2 -right-2 h-6 w-6 rounded-full bg-blue-400
      flex justify-center items-center items animate-bounce">
          <span><%= length(@documents_pending_extraction) %></span>
        </span>
      <% end %>
      <.icon name="hero-document" class="w-6 h-6" /> Dodaj dokument
      (lub przeciągnij tutaj, aby załadować)
    </label>
  </.simple_form>
</div>

<div class="mt-2 flex flex-col gap-4">
  <.table id="documents" rows={@documents} row_click={&JS.navigate(~p"/documents/#{&1.id}")}>
    <:col :let={document} label="ID">
      <.link class="underline" target="_blank" href={document.file_url}>
        <%= document.id %>
      </.link>
    </:col>
    <:col :let={document} label="Sprzedający">
      <%= document.seller %>
    </:col>
    <:col :let={document} label="Data sprzedaży">
      <%= document.sale_date %>
    </:col>
    <:col :let={document} label="Data wystawienia">
      <%= document.issue_date %>
    </:col>
    <:col :let={document} label="Termin zapłaty">
      <%= document.due_date %>
    </:col>
    <:col :let={document} label="Kwota">
      <%= document.amount %>
    </:col>
    <:action :let={document}>
      <.button
        class="!bg-gray-200 !text-black !px-2 !py-1"
        phx-click="delete"
        phx-value-document-id={document.id}
      >
        Usuń
      </.button>
    </:action>
  </.table>
</div>
