<div class={[
  "grid gap-y-2 gap-x-4",
  "grid-cols-[60px_repeat(10,1fr)_60px]",
  "grid-rows-[minmax(10px,100px)_minmax(10px,100px)_48px_30px_60px_30px_60px_90px_40px_60px_40px_60px_1fr]"
]}>
  <div class={[
    "row-start-1 row-end-2 col-start-1 col-end-2",
    "self-end justify-self-center",
    "flex justify-center items-center"
  ]}>
    <.link navigate={~p"/"}>
      <.icon name="hero-arrow-left-circle-solid" class="w-6 h-6" />
    </.link>
  </div>
  <div class="row-start-1 row-end-3 col-start-1 col-end-13 h-full w-screen bg-orangeBg -z-10" />
  <h1 class={[
    "row-start-1 row-end-2 col-start-2 col-end-6 pt-8",
    "self-end justify-self-start",
    "text-2xl"
  ]}>
    <%= @document.seller %>
  </h1>
  <h2 class={[
    "row-start-1 row-end-2 col-start-6 col-end-8",
    "self-end justify-self-end",
    "text-2xl text-orangeText"
  ]}>
    <%= @document.amount %>
  </h2>
  <blockquote class={[
    "row-start-2 row-end-3 col-start-2 col-end-7 pb-8",
    "self-start justify-self-start",
    "text-darkGrey"
  ]}>
    <%= @document.description %>
  </blockquote>
  <div class={[
    "row-start-1 col-start-8 col-end-13 px-8 pt-8",
    @document.imported_transactions != [] && "row-end-13",
    @document.imported_transactions == [] && "row-end-9"
  ]}>
    <div
      class="w-full h-full max-h-[80vh] border-black border-2 rounded-lg
      overflow-x-hidden overflow-y-scroll bg-white"
      id="document-details"
      data-pdf-url={@document.file_url}
      phx-hook="PDFViewer"
    >
      <div class="w-full h-full flex items-center justify-center font-bold">
        Ładowanie dokumentu...
      </div>
    </div>
  </div>
  <p class={[
    "row-start-3 row-end-4 col-start-2 col-end-4",
    "self-end justify-self-start",
    "uppercase"
  ]}>
    Dane faktury
  </p>
  <.button
    class={[
      "row-start-3 row-end-4 col-start-7 col-end-8",
      "place-self-end",
      "!text-darkGrey bg-lightGreyBg"
    ]}
    phx-click="delete"
    phx-value-document-id={@document.id}
  >
    <.icon name="hero-trash-solid" class="w-5 h-5" />
  </.button>
  <p class={[
    "row-start-4 row-end-5 col-start-2 col-end-5",
    "self-end justify-self-start",
    "text-sm text-darkGrey"
  ]}>
    Numer faktury
  </p>
  <div class="row-start-5 row-end-6 col-start-2 col-end-5">
    <p><%= @document.invoice_identifier %></p>
  </div>
  <p class={[
    "row-start-4 row-end-5 col-start-5 col-end-7",
    "self-end justify-self-start",
    "text-sm text-darkGrey"
  ]}>
    Data wystawienia
  </p>
  <div class="row-start-5 row-end-6 col-start-5 col-end-7">
    <p><%= @document.issue_date %></p>
  </div>
  <p class={[
    "row-start-6 row-end-7 col-start-2 col-end-5",
    "self-end justify-self-start",
    "text-sm text-darkGrey"
  ]}>
    Data sprzedaży
  </p>
  <div class="row-start-7 row-end-8 col-start-2 col-end-5">
    <p><%= @document.sale_date %></p>
  </div>
  <p class={[
    "row-start-6 row-end-7 col-start-5 col-end-8",
    "self-end justify-self-start",
    "text-sm text-darkGrey"
  ]}>
    Termin zapłaty
  </p>
  <div class="row-start-7 row-end-8 col-start-5 col-end-8">
    <p><%= @document.due_date %></p>
  </div>
  <%= case @document.imported_transactions do %>
    <% [single] -> %>
      <p class={[
        "row-start-8 row-end-9 col-start-2 col-end-6",
        "self-end justify-self-start",
        "uppercase"
      ]}>
        Dopasowana transakcja
      </p>
      <div class={[
        "row-start-9 row-end-13 col-start-1 col-end-8",
        "bg-greenBg w-full h-full rounded-r-lg"
      ]} />
      <p class={[
        "row-start-9 row-end-10 col-start-2 col-end-5",
        "self-end justify-self-start",
        "text-sm text-darkGrey"
      ]}>
        Kontrahent
      </p>
      <div class="row-start-10 row-end-11 col-start-2 col-end-5">
        <p><%= single.creditor_name %></p>
      </div>
      <p class={[
        "row-start-9 row-end-10 col-start-5 col-end-6",
        "self-end justify-self-start",
        "text-sm text-darkGrey"
      ]}>
        Zaksięgowano
      </p>
      <div class="row-start-10 row-end-11 col-start-5 col-end-6">
        <p><%= single.booking_date %></p>
      </div>
      <p class={[
        "row-start-9 row-end-11 col-start-6 col-end-8",
        "self-center justify-self-end",
        "text-lg text-darkGrey mr-8"
      ]}>
        <%= Money.new(single.transaction_amount, single.transaction_currency) %>
      </p>
      <p class={[
        "row-start-11 row-end-12 col-start-2 col-end-8",
        "self-end justify-self-start",
        "text-sm text-darkGrey"
      ]}>
        Informacje
      </p>
      <div class="row-start-12 row-end-13 col-start-2 col-end-7">
        <p><%= single.remittance_information_unstructured %></p>
      </div>
      <.button
        class={[
          "row-start-12 row-end-13 col-start-7 col-end-8",
          "self-start justify-self-end",
          "w-full h-10 mr-8 mb-8"
        ]}
        phx-click="disconnect"
        phx-value-document-id={@document.id}
        phx-value-imported-transaction-id={single.id}
      >
        Cofnij <.icon name="hero-arrow-uturn-left-micro xl:inline-block hidden" class="w-4 h-4" />
      </.button>
    <% _ -> %>
      <div class="row-start-9 row-end-13 col-start-2 col-end-12">
        <%= if @document.skip_invoicing do %>
          <h1>Fakturowanie pominięte dla dokumentu</h1>
        <% else %>
          <h1 class="text-xl font-bold">
            Potencjalne transakcje dla dokumentu
          </h1>
          <.table id="transactions" rows={@potential_transactions}>
            <:col :let={imported_transaction} label="Informacje">
              <%= imported_transaction.remittance_information_unstructured %>
            </:col>
            <:col :let={imported_transaction} label="Wierzyciel">
              <%= imported_transaction.creditor_name %>
            </:col>
            <:col :let={imported_transaction} label="Data">
              <%= imported_transaction.value_date %>
            </:col>
            <:col :let={imported_transaction} label="Kwota">
              <%= Money.new(
                imported_transaction.transaction_amount,
                imported_transaction.transaction_currency
              ) %>
            </:col>
            <:col :let={imported_transaction} label="">
              <div
                id="match-llm-eval"
                phx-hook="tippy"
                data-tippy-content={"Wykorzystując AI, rekomendujemy transakcję
                z Twojego konta, która pasuje do danej faktury kosztowej. Ocena
                jest #{
                cond do
                  imported_transaction.llm_eval >= 0.75 -> "wysoka"
                  imported_transaction.llm_eval >= 0.5 -> "średnia"
                  true -> "niska"
                end} dla tej transakcji."}
                class={[
                  "flex flex-col justify-center items-start gap-1 pl-2",
                  "w-10 h-10 rounded-md",
                  imported_transaction.llm_eval >= 0.75 && "bg-greenBg",
                  imported_transaction.llm_eval >= 0.5 and imported_transaction.llm_eval < 0.75 &&
                    "bg-orangeBg",
                  imported_transaction.llm_eval < 0.5 && "bg-redBg"
                ]}
              >
                <div class={[
                  "w-[75%] rounded-md bg-white h-1",
                  imported_transaction.llm_eval >= 0.75 && "bg-greenText"
                ]} />
                <div class={[
                  "w-[55%] rounded-md bg-white h-1",
                  imported_transaction.llm_eval >= 0.75 && "bg-greenText",
                  imported_transaction.llm_eval >= 0.5 and imported_transaction.llm_eval < 0.75 &&
                    "bg-orangeText"
                ]} />
                <div class={[
                  "w-[35%] rounded-md bg-white h-1",
                  imported_transaction.llm_eval >= 0.75 &&
                    "bg-greenText",
                  imported_transaction.llm_eval >= 0.5 and imported_transaction.llm_eval < 0.75 &&
                    "bg-orangeText",
                  imported_transaction.llm_eval < 0.5 && "bg-redText"
                ]} />
              </div>
            </:col>
            <:action :let={imported_transaction}>
              <.button
                phx-click="connect"
                phx-value-document-id={@document.id}
                phx-value-imported-transaction-id={imported_transaction.id}
                class={[
                  imported_transaction.llm_eval < 0.75 && "!bg-lightGreyBg !text-darkGrey",
                  imported_transaction.llm_eval >= 0.75 && "!bg-darkGrey !text-white"
                ]}
              >
                Zatwierdź
              </.button>
            </:action>
          </.table>
        <% end %>
      </div>
  <% end %>
</div>
