<div class="grid gap-y-2 gap-x-4 grid-cols-12
  grid-rows-[max-content_max-content_1fr_1fr_1fr_1fr_1fr_1fr_1fr_1fr_1fr_1fr_1fr]">
  <div class={[
    "row-start-1 row-end-2 col-start-1 col-end-2",
    "self-end justify-self-center",
    "flex justify-center items-center"
  ]}>
    <.link navigate={~p"/"}>
      <.icon name="hero-arrow-left-circle-solid" class="w-6 h-6" />
    </.link>
  </div>
  <div class="row-start-1 row-end-3 col-start-1 col-end-13 h-full w-screen bg-orangeBg -z-10" />
  <h1 class={[
    "row-start-1 row-end-2 col-start-2 col-end-6 pt-8",
    "self-end justify-self-start",
    "text-2xl"
  ]}>
    <%= @document.seller %>
  </h1>
  <h2 class={[
    "row-start-1 row-end-2 col-start-6 col-end-8",
    "self-end justify-self-end",
    "text-2xl text-orangeText"
  ]}>
    <%= @document.amount %>
  </h2>
  <blockquote class={[
    "row-start-2 row-end-3 col-start-2 col-end-7 pb-8",
    "self-start justify-self-start",
    "text-darkGrey"
  ]}>
    <%= @document.description %>
  </blockquote>
  <div class={[
    "row-start-1 col-start-8 col-end-13 px-8 pt-8",
    @document.imported_transactions != [] && "row-end-13",
    @document.imported_transactions == [] && "row-end-9"
  ]}>
    <embed type="application/pdf" src={@document.file_url} width="100%" height="100%" />
  </div>
  <p class={[
    "row-start-3 row-end-4 col-start-2 col-end-4",
    "self-end justify-self-start",
    "uppercase"
  ]}>
    Dane faktury
  </p>
  <.button
    class={[
      "row-start-3 row-end-4 col-start-7 col-end-8",
      "place-self-end",
      "!text-darkGrey bg-lightGreyBg"
    ]}
    phx-click="delete"
    phx-value-document-id={@document.id}
  >
    <.icon name="hero-trash-solid" class="w-5 h-5" />
  </.button>
  <p class={[
    "row-start-4 row-end-5 col-start-2 col-end-5",
    "self-end justify-self-start",
    "text-sm text-darkGrey"
  ]}>
    Numer faktury
  </p>
  <div class="row-start-5 row-end-6 col-start-2 col-end-5">
    <p><%= @document.invoice_identifier %></p>
  </div>
  <p class={[
    "row-start-4 row-end-5 col-start-4 col-end-7",
    "self-end justify-self-start",
    "text-sm text-darkGrey"
  ]}>
    Sprzedający
  </p>
  <div class="row-start-5 row-end-6 col-start-4 col-end-7">
    <p><%= @document.seller %></p>
  </div>
  <p class={[
    "row-start-6 row-end-7 col-start-2 col-end-5",
    "self-end justify-self-start",
    "text-sm text-darkGrey"
  ]}>
    Data wystawienia
  </p>
  <div class="row-start-7 row-end-8 col-start-2 col-end-5">
    <p><%= @document.issue_date %></p>
  </div>
  <p class={[
    "row-start-6 row-end-7 col-start-4 col-end-5",
    "self-end justify-self-start",
    "text-sm text-darkGrey"
  ]}>
    Data sprzedaży
  </p>
  <div class="row-start-7 row-end-8 col-start-4 col-end-5">
    <p><%= @document.sale_date %></p>
  </div>
  <p class={[
    "row-start-6 row-end-7 col-start-6 col-end-8",
    "self-end justify-self-start",
    "text-sm text-darkGrey"
  ]}>
    Termin zapłaty
  </p>
  <div class="row-start-7 row-end-8 col-start-6 col-end-8">
    <p><%= @document.due_date %></p>
  </div>
  <%= case @document.imported_transactions do %>
    <% [single] -> %>
      <p class={[
        "row-start-8 row-end-9 col-start-2 col-end-4",
        "self-end justify-self-start",
        "uppercase"
      ]}>
        Dopasowana transakcja
      </p>
      <div class={[
        "row-start-9 row-end-13 col-start-1 col-end-8",
        "bg-greenBg w-full h-full rounded-r-lg"
      ]} />
      <p class={[
        "row-start-9 row-end-10 col-start-2 col-end-5",
        "self-end justify-self-start",
        "text-sm text-darkGrey"
      ]}>
        Kontrahent
      </p>
      <div class="row-start-10 row-end-11 col-start-2 col-end-5">
        <p><%= single.creditor_name %></p>
      </div>
      <p class={[
        "row-start-9 row-end-10 col-start-5 col-end-6",
        "self-end justify-self-start",
        "text-sm text-darkGrey"
      ]}>
        Zaksięgowano
      </p>
      <div class="row-start-10 row-end-11 col-start-5 col-end-6">
        <p><%= single.booking_date %></p>
      </div>
      <p class={[
        "row-start-9 row-end-11 col-start-6 col-end-8",
        "self-center justify-self-end",
        "text-lg text-darkGrey mr-8"
      ]}>
        <%!-- <%= Money.new(single.transaction_amount, single.transaction_currency) %> --%>
        <%= single.transaction_amount %>
      </p>
      <p class={[
        "row-start-11 row-end-12 col-start-2 col-end-8",
        "self-end justify-self-start",
        "text-sm text-darkGrey"
      ]}>
        Informacje
      </p>
      <div class="row-start-12 row-end-13 col-start-2 col-end-7">
        <p><%= single.remittance_information_unstructured %></p>
      </div>
      <.button
        class={[
          "row-start-12 row-end-13 col-start-7 col-end-8",
          "self-start justify-self-end",
          "w-full h-10 mr-8 mb-8"
        ]}
        phx-click="disconnect"
        phx-value-document-id={@document.id}
        phx-value-imported-transaction-id={single.id}
      >
        Cofnij <.icon name="hero-arrow-uturn-left-micro" class="w-4 h-4" />
      </.button>
    <% _ -> %>
      <div class="row-start-10 row-end-13 col-start-2 col-end-12">
        <%= if @document.skip_invoicing do %>
          <h1>Fakturowanie pominięte dla dokumentu</h1>
        <% else %>
          <h1 class="text-3xl font-bold">
            Potencjalne transakcje dla dokumentu
          </h1>
          <.table id="transactions" rows={@potential_transactions}>
            <:col :let={imported_transaction} label="Informacje">
              <%= imported_transaction.remittance_information_unstructured %>
            </:col>
            <:col :let={imported_transaction} label="Creditor name">
              <%= imported_transaction.creditor_name %>
            </:col>
            <:col :let={imported_transaction} label="Creditor account">
              <%= imported_transaction.creditor_account %>
            </:col>
            <:col :let={imported_transaction} label="Booking date">
              <%= imported_transaction.booking_date %>
            </:col>
            <:col :let={imported_transaction} label="Value date">
              <%= imported_transaction.value_date %>
            </:col>
            <:col :let={imported_transaction} label="Amount">
              <%= imported_transaction.transaction_amount %>
            </:col>
            <:col :let={imported_transaction} label="Ocena AI">
              <%= imported_transaction.llm_eval %>
            </:col>
            <:action :let={imported_transaction}>
              <.button
                phx-click="connect"
                phx-value-document-id={@document.id}
                phx-value-imported-transaction-id={imported_transaction.id}
              >
                Zatwierdź
              </.button>
            </:action>
          </.table>
        <% end %>
      </div>
  <% end %>
</div>
