<div class={[
  "grid gap-y-2 gap-x-4",
  "grid-cols-[60px_repeat(11,1fr)_60px]",
  "grid-rows-[minmax(10px,100px)_minmax(10px,100px)_48px_30px_60px_30px_60px_90px_40px_60px_40px_60px_1fr]",
  "grid-rows-[minmax(10px,100px)_minmax(10px,100px)_48px_30px_60px_30px_60px_90px_40px_60px_40px_60px_1fr]"
]}>
  <div class="row-start-1 row-end-3 col-start-1 col-end-13 h-full w-screen bg-orangeBg -z-10" />
  <div class={[
    "row-start-1 row-end-2 col-start-1 col-end-20",
    "flex justify-center items-end mb-2"
  ]}>
    <.link navigate={~p"/?month=#{@cost_invoice.issue_date |> Date.to_iso8601()}"}>
      <.icon name="hero-arrow-left-circle-solid" class="w-6 h-6" />
    </.link>
  </div>
  <h1
    id="seller-name"
    data-tippy-content={@cost_invoice.seller}
    data-tippy-placement="bottom"
    phx-hook="tippy"
    class={[
      "row-start-1 row-end-2 col-start-2 col-end-6 pt-8",
      "self-end justify-self-start",
      "text-2xl"
    ]}
  >
    {@cost_invoice.seller_display_name}
  </h1>
  <h2 class={[
    "row-start-1 row-end-2 col-start-6 col-end-8",
    "self-end justify-self-end",
    "text-2xl text-orangeText"
  ]}>
    {@cost_invoice.amount}
  </h2>
  <blockquote class={[
    "row-start-2 row-end-3 col-start-2 col-end-7 pb-8",
    "self-start justify-self-start",
    "text-darkGrey"
  ]}>
    {@cost_invoice.description}
  </blockquote>
  <div class={[
    "row-start-1 col-start-8 col-end-13 pl-8 pt-8",
    @cost_invoice.transactions == [] && "row-end-9",
    @cost_invoice.transactions != [] && "row-end-13"
  ]}>
    <%= if String.ends_with?(@cost_invoice.blob.blob_path, ".pdf") do %>
      <div
        class="w-full h-full max-h-[80vh] border-black border-2 rounded-lg
      overflow-x-hidden overflow-y-scroll bg-white"
        id="cost_invoice-details"
        data-pdf-url={@cost_invoice.file_url}
        phx-hook="PDFViewer"
      >
        <div class="w-full h-full flex items-center justify-center font-bold">
          Ładowanie dokumentu...
        </div>
      </div>
    <% else %>
      <div class="w-full h-full max-h-[80vh] border-black border-2 rounded-lg
    overflow-x-hidden overflow-y-scroll bg-black">
        <img src={@cost_invoice.file_url} class="w-full h-full object-contain" />
      </div>
    <% end %>
  </div>
  <p class={[
    "row-start-3 row-end-4 col-start-2 col-end-4",
    "self-end justify-self-start",
    "uppercase"
  ]}>
    Dane faktury
  </p>
  <div class={[
    "row-start-3 row-end-4 col-start-7 col-end-8",
    "place-self-end",
    "flex flex-row gap-2"
  ]}>
    <a
      href={@cost_invoice.file_url}
      download
      class="text-darkGrey text-center bg-lightGreyBg rounded-lg
      hover:bg-greyButtonBg py-2 px-3 text-sm font-semibold leading-6
      active:text-white/80 flex items-center justify-center"
      phx-click="download"
      phx-value-cost-invoice-id={@cost_invoice.id}
    >
      <.icon name="hero-arrow-down-tray-solid" class="w-5 h-5" />
    </a>
    <button
      class="text-darkGrey text-center bg-lightGreyBg rounded-lg
      hover:bg-greyButtonBg py-2 px-3 text-sm font-semibold leading-6
      active:text-white/80 flex items-center justify-center"
      phx-click="delete"
      phx-value-cost-invoice-id={@cost_invoice.id}
    >
      <.icon name="hero-trash-solid" class="w-5 h-5" />
    </button>
  </div>
  <p class={[
    "row-start-4 row-end-5 col-start-2 col-end-5",
    "self-end justify-self-start",
    "text-sm text-darkGrey"
  ]}>
    Numer faktury
  </p>
  <div class="row-start-5 row-end-6 col-start-2 col-end-5">
    <p>{@cost_invoice.invoice_identifier}</p>
  </div>
  <p class={[
    "row-start-4 row-end-5 col-start-5 col-end-7",
    "self-end justify-self-start",
    "text-sm text-darkGrey"
  ]}>
    Data wystawienia
  </p>
  <div class="row-start-5 row-end-6 col-start-5 col-end-7">
    <p>{@cost_invoice.issue_date}</p>
  </div>
  <p class={[
    "row-start-6 row-end-7 col-start-2 col-end-5",
    "self-end justify-self-start",
    "text-sm text-darkGrey"
  ]}>
    Data sprzedaży
  </p>
  <div class="row-start-7 row-end-8 col-start-2 col-end-5">
    <p>{@cost_invoice.sale_date}</p>
  </div>
  <p class={[
    "row-start-6 row-end-7 col-start-5 col-end-8",
    "self-end justify-self-start",
    "text-sm text-darkGrey"
  ]}>
    Termin zapłaty
  </p>
  <div class="row-start-7 row-end-8 col-start-5 col-end-8">
    <p>{@cost_invoice.due_date}</p>
  </div>

  <%= case @cost_invoice.transactions do %>
    <% [single] -> %>
      <p class={[
        "row-start-8 row-end-9 col-start-2 col-end-6",
        "self-end justify-self-start",
        "uppercase"
      ]}>
        Dopasowana transakcja
      </p>
      <div class={[
        "row-start-9 row-end-13 col-start-1 col-end-8",
        "bg-greenBg w-full h-full rounded-r-lg"
      ]} />
      <p class={[
        "row-start-9 row-end-10 col-start-2 col-end-5",
        "self-end justify-self-start",
        "text-sm text-darkGrey"
      ]}>
        Kontrahent
      </p>
      <div class="row-start-10 row-end-11 col-start-2 col-end-5">
        <p>{single.creditor_name}</p>
      </div>
      <p class={[
        "row-start-9 row-end-10 col-start-5 col-end-6",
        "self-end justify-self-start",
        "text-sm text-darkGrey"
      ]}>
        Zaksięgowano
      </p>
      <div class="row-start-10 row-end-11 col-start-5 col-end-6">
        <p>{single.booking_date}</p>
      </div>
      <p class={[
        "row-start-9 row-end-11 col-start-6 col-end-8",
        "self-center justify-self-end",
        "text-lg text-darkGrey mr-8"
      ]}>
        {Money.new(single.transaction_amount, single.transaction_currency)}
      </p>
      <p class={[
        "row-start-11 row-end-12 col-start-2 col-end-8",
        "self-end justify-self-start",
        "text-sm text-darkGrey"
      ]}>
        Informacje
      </p>
      <div class="row-start-12 row-end-13 col-start-2 col-end-7">
        <p>{single.remittance_information_unstructured}</p>
      </div>
      <.button
        class={
          classes([
            "row-start-12 row-end-13 col-start-7 col-end-8",
            "self-start justify-self-end",
            "w-full h-10 mr-8 mb-8"
          ])
        }
        phx-click="disconnect"
        phx-value-cost-invoice-id={@cost_invoice.id}
        phx-value-transaction-id={single.id}
      >
        Cofnij <.icon name="hero-arrow-uturn-left-micro xl:inline-block hidden" class="w-4 h-4" />
      </.button>
    <% [] -> %>
      <div class="row-start-9 row-end-13 col-start-2 col-end-12">
        <%= if @cost_invoice.skip_invoicing do %>
          <h1>Fakturowanie pominięte dla dokumentu</h1>
        <% else %>
          <%= if @grouped_potential_transactions != [] do %>
            <%= for {group, potential_transactions} <- @grouped_potential_transactions do %>
              <div class="flex flex-row justify-between align-center">
                <h1 class="font-bold text-lg">Wykryto transakcje łączone</h1>
                <div class="flex flex-row gap-4">
                  <.button
                    phx-click="connect-group"
                    phx-value-group-id={group.id}
                    class="w-full h-10"
                  >
                    Potwierdź
                  </.button>
                </div>
              </div>
              <.table id="grouped-transactions" rows={potential_transactions}>
                <:col :let={transaction} label="Informacje">
                  {transaction.remittance_information_unstructured}
                </:col>
                <:col :let={transaction} label="Wierzyciel">
                  {transaction.creditor_name}
                </:col>
                <:col :let={transaction} label="Data">
                  {transaction.value_date}
                </:col>
                <:col :let={transaction} label="Kwota">
                  {Money.new(
                    transaction.transaction_amount,
                    transaction.transaction_currency
                  )}
                </:col>
              </.table>
            <% end %>
          <% else %>
            <%= if @potential_transactions != [] do %>
              <h1 class="text-xl font-bold">
                Potencjalne transakcje dla dokumentu
              </h1>
              <.table id="transactions" rows={@potential_transactions}>
                <:col :let={transaction} label="Informacje">
                  {transaction.remittance_information_unstructured}
                </:col>
                <:col :let={transaction} label="Wierzyciel">
                  {transaction.creditor_name}
                </:col>
                <:col :let={transaction} label="Data">
                  {transaction.value_date}
                </:col>
                <:col :let={transaction} label="Kwota">
                  {Money.new(
                    transaction.transaction_amount,
                    transaction.transaction_currency
                  )}
                </:col>
                <:col :let={transaction} label="">
                  <div
                    id="match-llm-eval"
                    phx-hook="tippy"
                    data-tippy-content={"Wykorzystując AI, rekomendujemy transakcję
                z Twojego konta, która pasuje do danej faktury kosztowej. Ocena
                jest #{
                cond do
                  transaction.llm_eval >= 0.75 -> "wysoka"
                  transaction.llm_eval >= 0.5 -> "średnia"
                  true -> "niska"
                end} dla tej transakcji."}
                    class={[
                      "flex flex-col justify-center items-start gap-1 pl-2",
                      "w-10 h-10 rounded-md",
                      transaction.llm_eval >= 0.75 && "bg-greenBg",
                      transaction.llm_eval >= 0.5 and
                        transaction.llm_eval < 0.75 &&
                        "bg-orangeBg",
                      transaction.llm_eval < 0.5 && "bg-redBg"
                    ]}
                  >
                    <div class={[
                      "w-[75%] rounded-md bg-white h-1",
                      transaction.llm_eval >= 0.75 && "!bg-greenText"
                    ]} />
                    <div class={[
                      "w-[55%] rounded-md bg-white h-1",
                      transaction.llm_eval >= 0.75 && "!bg-greenText",
                      transaction.llm_eval >= 0.5 and
                        transaction.llm_eval < 0.75 &&
                        "!bg-orangeText"
                    ]} />
                    <div class={[
                      "w-[35%] rounded-md bg-white h-1",
                      transaction.llm_eval >= 0.75 &&
                        "!bg-greenText",
                      transaction.llm_eval >= 0.5 and
                        transaction.llm_eval < 0.75 &&
                        "!bg-orangeText",
                      transaction.llm_eval < 0.5 && "!bg-redText"
                    ]} />
                  </div>
                </:col>
                <:action :let={transaction}>
                  <.button
                    phx-click="connect"
                    phx-value-cost-invoice-id={@cost_invoice.id}
                    phx-value-transaction-id={transaction.id}
                    class={
                      classes([
                        transaction.llm_eval < 0.75 && "!bg-lightGreyBg !text-darkGrey",
                        transaction.llm_eval >= 0.75 && "!bg-darkGrey !text-white"
                      ])
                    }
                  >
                    Zatwierdź
                  </.button>
                </:action>
              </.table>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% [head | tail] -> %>
      <p class={[
        "row-start-8 row-end-9 col-start-2 col-end-6",
        "self-end justify-self-start",
        "uppercase"
      ]}>
        Dopasowane transakcje
      </p>
      <div class={[
        "-z-10 row-start-9 row-end-13 col-start-1 col-end-8",
        "bg-greenBg w-full h-full rounded-r-lg"
      ]} />
      <p class={[
        "row-start-9 row-end-10 col-start-2 col-end-5",
        "self-end justify-self-start",
        "text-sm text-darkGrey"
      ]}>
        Kontrahent
      </p>
      <div class="row-start-10 row-end-11 col-start-2 col-end-5">
        <p>
          <span class="font-bold">
            {length([
              head
              | tail
            ])} transakcji od
          </span>
          {head.creditor_name}
        </p>
      </div>
      <p class={[
        "row-start-9 row-end-10 col-start-5 col-end-6",
        "self-end justify-self-start",
        "text-sm text-darkGrey"
      ]}>
        Zaksięgowano
      </p>
      <div class="row-start-10 row-end-13 col-start-5 col-end-6">
        <p>{head.booking_date}</p>
      </div>
      <p class={[
        "row-start-8 row-end-13 col-start-6 col-end-8",
        "self-center justify-self-end",
        "text-lg text-darkGrey mr-8"
      ]}>
        {Money.new(
          [head | tail]
          |> Enum.reduce(Decimal.new(0), fn t, acc -> Decimal.add(acc, t.transaction_amount) end),
          head.transaction_currency
        )}
      </p>
      <p class={[
        "row-start-11 row-end-12 col-start-2 col-end-8",
        "self-end justify-self-start",
        "text-sm text-darkGrey"
      ]}>
        Informacje
      </p>
      <div class="row-start-12 row-end-13 col-start-2 col-end-7">
        <p>{head.remittance_information_unstructured}</p>
      </div>
      <.button
        class={
          classes([
            "row-start-12 row-end-13 col-start-7 col-end-8",
            "self-start justify-self-end",
            "w-full h-10 mr-8 mb-8"
          ])
        }
        phx-click="disconnect-group"
        phx-value-cost-invoice-id={@cost_invoice.id}
        phx-value-transaction-id={head.id}
      >
        Cofnij <.icon name="hero-arrow-uturn-left-micro xl:inline-block hidden" class="w-4 h-4" />
      </.button>
  <% end %>
</div>
