<%= if @current_user && !is_nil(@current_user.organization_id) do %>
  <%!-- simulates the navbar height, so the content does not jump when the navbar collapses --%>
  <%= if String.starts_with?(@current_uri.path, "/zarzadzanie") do %>
    <div class="bg-lightGreyBg h-navbar-management w-full" />
  <% end %>
  <.navbar class={[
    if(String.starts_with?(@current_uri.path, "/zarzadzanie"), do: "fixed", else: "sticky"),
    "inset-x-0 top-0 z-50"
  ]}>
    <div
      class={[
        "flex text-white",
        "h-navbar items-center justify-between py-6",
        "text-sm transition-all"
      ]}
      id="navbar-main"
      phx-hook="CollapsibleNavbar"
      data-classes={
        String.starts_with?(@current_uri.path, "/zarzadzanie") &&
          "!h-0 !py-0 overflow-hidden"
      }
    >
      <.navbar_logo navigate={~p"/"} class="mt-0.5 flex-1" />
      <div class={[
        String.starts_with?(@current_uri.path, "/zarzadzanie") &&
          "border-b py-[18px]",
        "border-darkGrey flex items-center gap-10 uppercase max-md:hidden"
      ]}>
        <%= if @current_user.role == :admin do %>
          <.link
            navigate={~p"/fakturowanie"}
            class={[
              !String.starts_with?(@current_uri.path, "/analiza") &&
                !String.starts_with?(@current_uri.path, "/czasosledz") &&
                !String.starts_with?(@current_uri.path, "/zarzadzanie") && "opacity-90",
              "flex items-center gap-2 opacity-50 transition-all hover:opacity-100"
            ]}
          >
            <.icon name="hero-clipboard-document-list" class="size-5" /> Fakturowanie
          </.link>
        <% end %>
        <%= if flag_enabled?(:analysis_dashboard, @current_user) and @current_user.role == :admin do %>
          <.link
            navigate={~p"/analiza"}
            class={[
              String.starts_with?(@current_uri.path, "/analiza") && "opacity-90",
              "flex items-center gap-2 opacity-50 transition-all hover:opacity-100"
            ]}
          >
            <.icon name="hero-scale" class="size-5" /> Analiza
            <span
              id="analiza-beta"
              class="ml-1 rounded bg-white/20 px-1.5 py-0.5 text-xs"
              phx-hook="Tippy"
              data-tippy-content="Prace nad tą funkcjonalnością jeszcze trwają! Twój feedback pozwoli nam sprawić, że będzie jeszcze lepsza."
            >
              BETA
            </span>
          </.link>
        <% end %>
        <.link
          navigate={~p"/czasosledz"}
          class={[
            String.starts_with?(@current_uri.path, "/czasosledz") && "opacity-90",
            "flex items-center gap-2 opacity-50 transition-all hover:opacity-100"
          ]}
        >
          <.icon name="hero-clock" class="size-5" /> Czasośledź
        </.link>
        <%= if @current_user.role == :admin do %>
          <.link
            navigate={~p"/zarzadzanie/pracownicy"}
            class={[
              String.starts_with?(@current_uri.path, "/zarzadzanie") && "opacity-90",
              "flex items-center gap-2 opacity-50 transition-all hover:opacity-100"
            ]}
          >
            <.icon
              name="hero-presentation-chart-line"
              class="size-5"
            /> Zarządzanie
          </.link>
        <% end %>
      </div>

      <div class="relative flex flex-1 items-center justify-end gap-3 text-right max-md:hidden">
        <button
          type="button"
          phx-click={show_modal("feedback-modal")}
          class="flex cursor-pointer items-center gap-1.5 transition-colors"
        >
          <.icon name="hero-chat-bubble-left-ellipsis" class="size-5" /> Feedback
        </button>
        <div class="relative">
          <button
            phx-click={
              JS.toggle(
                to: "#dropdown_content",
                in:
                  {"transition-all transform ease-in", "opacity-0 scale-95",
                   "opacity-100 duration-50 scale-100"},
                out:
                  {"transition-all transform ease-in duration-50",
                   "opacity-100 translate-y-0 sm:scale-100",
                   "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"},
                display: "flex"
              )
            }
            id="dropdown_button"
            phx-click-away={hide("#dropdown_content")}
            phx-window-keydown={hide("#dropdown_content")}
            phx-key="Escape"
            class="cursor-pointer rounded-full p-1 px-2 transition hover:bg-white hover:text-black"
            title={@current_user.email}
          >
            <%= if @current_user.avatar_blob && @current_user.avatar_blob.url do %>
              <.avatar class="size-9 border-2 border-white/20">
                <.avatar_image src={@current_user.avatar_blob.url} alt={@current_user.email} />
                <.avatar_fallback bg_color="darkGrey" class="text-white">
                  <.icon name="hero-user" class="size-5" />
                </.avatar_fallback>
              </.avatar>
            <% else %>
              <.icon name="hero-user" class="size-5" />
            <% end %>
          </button>
          <div
            id="dropdown_content"
            style="display: none"
            class="absolute top-[50px] right-0 z-50 w-full min-w-[250px] flex-col gap-2 rounded-md bg-black p-3 text-left font-semibold max-lg:w-auto"
          >
            <div class="border-darkGrey/50 truncate border-b p-2 pb-4 text-xs text-white/50 lowercase">
              {@current_user.email}
            </div>
            <.link navigate={~p"/ustawienia"} class="hover:bg-darkGrey/50 rounded-md p-2">
              Ustawienia
            </.link>
            <%= if @current_user.role == :admin do %>
              <.link
                navigate={~p"/ustawienia/konta-bankowe"}
                class="hover:bg-darkGrey/50 rounded-md p-2"
              >
                Konta bankowe
              </.link>
            <% end %>
            <.link
              href={~p"/sign-out"}
              class="hover:bg-darkGrey/50 flex justify-between rounded-md p-2"
            >
              Wyloguj się <.icon name="hero-arrow-right-start-on-rectangle" />
            </.link>
          </div>
        </div>
      </div>
    </div>
    <%= if String.starts_with?(@current_uri.path, "/zarzadzanie") do %>
      <div class="grid w-full grid-cols-3 items-center gap-4 py-2.5 font-semibold text-white/50">
        <.navbar_logo
          navigate={~p"/"}
          class="mt-0.5 mr-auto opacity-0 transition-opacity"
          id="firmowid-logo-management"
          phx-hook="CollapsibleNavbar"
          data-classes="opacity-100"
        />
        <div class="flex justify-center gap-14 text-sm uppercase">
          <.link
            navigate="/zarzadzanie/pracownicy"
            class={[
              "transition-colors hover:text-white",
              String.starts_with?(@current_uri.path, "/zarzadzanie/pracownicy") &&
                "text-white/90"
            ]}
          >
            Pracownicy
          </.link>
          <.link
            navigate="/zarzadzanie/projekty"
            class={[
              "transition-colors hover:text-white",
              String.starts_with?(@current_uri.path, "/zarzadzanie/projekty") && "text-white/90"
            ]}
          >
            Projekty
          </.link>
        </div>
        <button
          class="relative ml-auto flex size-6 cursor-pointer text-white opacity-0 transition-opacity"
          id="navbar-burger-button"
          phx-hook="CollapsibleNavbar"
          data-classes="opacity-100"
          data-is-override-button="true"
        >
          <span class="burger-icon">
            <.icon name="hero-bars-3" />
          </span>
          <span class="x-icon absolute inset-0 hidden">
            <.icon name="hero-x-mark" />
          </span>
        </button>
      </div>
    <% end %>
  </.navbar>
  <.live_component
    module={FirmowidWeb.Feedback.Components.Form}
    id="feedback-form"
    current_user={@current_user}
    current_uri={@current_uri}
  />
<% end %>

<main class={[
  is_nil(assigns[:no_padding]) &&
    "p-4 sm:px-6 lg:px-8",
  "bg-lightGreyBg flex flex-1 flex-col",
  assigns[:main_class]
]}>
  <div class="mx-auto flex size-full flex-1 flex-col">
    <LiveToast.toast_group
      flash={@flash}
      kinds={[:info, :error, :success, :notice]}
      connected={assigns[:socket] != nil}
      toasts_sync={assigns[:toasts_sync]}
      toast_class_fn={&FirmowidWeb.Core.Toast.toast_class_fn/1}
    />
    {@inner_content}
  </div>
</main>
